[2018-01-17 16:13] fabriciofx commented on #218
@flslkxtc Try `apply PROJECT ID $0`.

[2018-01-17 16:15] yegor256 commented on #228
@rultor release, tag is `0.51.7`

[2018-01-17 16:16] rultor commented on #228
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13718-358355596)

[2018-01-17 16:19] rultor commented on #228
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13718-358355596) (took me 3min)

[2018-01-17 16:36] flslkxtc commented on #218
@fabriciofx thank you, that one was on me.

[2018-01-17 16:44] fabriciofx commented on #218
@flslkxtc You're welcome!

[2018-01-17 16:53] #228 closed

[2018-01-17 16:54] 0crat commented on #228
Job `gh:zerocracy/datum#228` is not assigned, can't get start time

[2018-01-17 20:27] vmotsak opened #229 ""refuse" command is not recognized by chat bot"
and it's not on the list of available commands

[2018-01-17 20:27] 0crat commented on #229
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-17 20:57] vmotsak opened #230 "Suggestion: Let's add a "agenda" command to 0crat bot"
To see assigned jobs, with the same functionality as on site.

PS Functionality separation somehow inconvenient seems like site provides the view of the state while bot accepts commands to control it, also something controlled via GitHub comments, which makes you jump back and forth. Another example is board/apply.

[2018-01-17 20:57] 0crat commented on #230
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-17 22:15] yegor256 commented on #229
@vmotsak you should use it in GitHub, not in Telegram/Slack

[2018-01-17 22:16] yegor256 commented on #230
@vmotsak well, we wanted to make the site really static and the bot - dynamic, for commands and control. If we start moving all static information the bot, it will become very big and difficult to use. It's very difficult to render even the agenda there.

[2018-01-17 22:49] vmotsak commented on #229
@yegor256 Maybe in policy, it could be mentioned which commands applicable to bots, which to GitHub comments?

[2018-01-17 22:57] #230 closed

[2018-01-17 22:58] 0crat commented on #230
Job `gh:zerocracy/datum#230` is not assigned, can't get start time

[2018-01-17 23:07] 0crat commented on #230
Job [#230](https://github.com/zerocracy/datum/issues/230) was not in scope

[2018-01-18 11:16] amihaiemil commented on #227
@yegor256  I saw you discussed this ticket and said:

So let's add the following to the documentation, somewhere:

[code]

Also, I noticed that my project rate increased; did you do it manually? is the architect notified when the developers change their profile rate, and he can change the project rate automatically? If you did not change my rate manually, then we have a bug :)

[2018-01-18 11:16] 0crat commented on #227
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-18 14:36] yegor256 opened #232 "privacy policy"
Let's add something about it to the Terms

[2018-01-18 14:46] yegor256 commented on #232
@rultor release, tag is `0.51.8`

[2018-01-18 14:47] rultor commented on #232
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13726-358667918)

[2018-01-18 14:51] rultor commented on #232
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13726-358667918) (took me 3min)

[2018-01-18 14:55] #232 closed

[2018-01-18 16:06] yegor256 opened #233 "details in people.xml"
Let's add `details` for identified users

[2018-01-18 16:08] yegor256 commented on #233
@rultor release, tag is `0.51.9`

[2018-01-18 16:10] rultor commented on #233
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13727-358694624)

[2018-01-18 16:13] rultor commented on #233
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13727-358694624) (took me 3min)

[2018-01-18 16:55] #233 closed

[2018-01-18 23:50] yegor256 commented on #229
@vmotsak well, we are trying to make it very intuitive. How can you say `refuse` in Telegram? What are you refusing there? :) The entire chat? It is supposed to be intuitive, that you can refuse a job -- that's why you will say "refuse" only in GitHub. Make sense?

[2018-01-18 23:52] yegor256 commented on #227
@amihaiemil I changed it manually) Also, I already updated the policy, check this: http://datum.zerocracy.com/pages/policy.html#16

[2018-01-19 07:50] amihaiemil commented on #227
@yegor256 I see, nice :)

[2018-01-19 07:50] #227 closed

[2018-01-19 12:56] g4s8 commented on #163
@0crat waiting

[2018-01-19 13:58] yegor256 opened #234 "vesting.xml"
Let's add it

[2018-01-19 19:14] llorllale opened #235 "0crat not confirming impediment"
It's been over 42 minutes since I [declared](https://github.com/yegor256/jpeek/issues/93#issuecomment-359050643) an impediment for a job and I have yet to see @0crat confirm it.

[2018-01-20 11:50] yegor256 commented on #234
@rultor release, tag is `0.52`

[2018-01-20 11:50] rultor commented on #234
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13736-359165850)

[2018-01-20 11:55] rultor commented on #234
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13736-359165850) (took me 4min)

[2018-01-20 12:35] #234 closed

[2018-01-20 12:35] 0crat commented on #234
Job `gh:zerocracy/datum#234` is not assigned, can't get start time

[2018-01-20 12:35] yegor256 commented on #235
@llorllale it was a temporary issue, fixed already

[2018-01-20 12:35] #235 closed

[2018-01-20 12:45] 0crat commented on #234
Job [#234](https://github.com/zerocracy/datum/issues/234) was not in scope

[2018-01-20 12:49] g4s8 commented on #179
@allanws please check your agenda page, now all jobs have a role, for all previous jobs `DEV` role was set. Can we close this bug?

[2018-01-20 13:07] g4s8 commented on #179
@0crat waiting

[2018-01-20 13:08] 0crat commented on #179
@g4s8 The impediment was registered successfully

[2018-01-20 13:36] 0crat commented on #235
Job `gh:zerocracy/datum#235` is not assigned, can't get start time

[2018-01-20 13:46] 0crat commented on #235
Job [#235](https://github.com/zerocracy/datum/issues/235) was not in scope

[2018-01-20 16:57] yegor256 opened #236 "enable empty equity"

[2018-01-20 17:02] yegor256 commented on #236
@rultor release, tag is `0.52.1`

[2018-01-20 17:03] rultor commented on #236
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13738-359185801)

[2018-01-20 17:06] rultor commented on #236
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13738-359185801) (took me 3min)

[2018-01-20 17:06] #236 closed

[2018-01-20 17:07] 0crat commented on #236
Job `gh:zerocracy/datum#236` is not assigned, can't get start time

[2018-01-20 17:30] 0crat commented on #236
Job [#236](https://github.com/zerocracy/datum/issues/236) was not in scope

[2018-01-20 17:35] yegor256 opened #237 "broken layout in vesting"

[2018-01-20 17:37] yegor256 commented on #237
@rultor release, tag is `0.52.2`

[2018-01-20 17:38] rultor commented on #237
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13739-359188287)

[2018-01-20 17:41] rultor commented on #237
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13739-359188287) (took me 3min)

[2018-01-20 17:45] #237 closed

[2018-01-20 17:46] 0crat commented on #237
Job `gh:zerocracy/datum#237` is not assigned, can't get start time

[2018-01-20 17:56] 0crat commented on #237
Job [#237](https://github.com/zerocracy/datum/issues/237) was not in scope

[2018-01-20 23:16] allanws commented on #179
@g4s8 tha's it, thanks!

Who can close this issue?

[2018-01-21 00:06] allanws opened #239 "Implements 0crat pause/resume commands"
As a Team Member I want to be able to pause/resume getting more work requests so that I can signal the bot to stop/start sending more requests.

Let's suppose one can handle less issues than the bot might flush against, that would be helpful to instruct the bot to stop sending more requests.

[2018-01-21 00:06] 0crat commented on #239
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-21 08:06] g4s8 commented on #179
@allanws you (author)

[2018-01-21 08:30] #179 closed

[2018-01-21 08:32] 0crat commented on #179
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3355](https://www.0crat.com/u/g4s8)

[2018-01-21 08:40] 0crat commented on #179
The job [#179](https://github.com/zerocracy/datum/issues/179) is now out of scope

[2018-01-21 10:09] g4s8 commented on #188
@0crat waiting for zerocracy/farm#411

[2018-01-21 10:09] 0crat commented on #188
@g4s8 The impediment was registered successfully

[2018-01-21 13:08] skapral opened #240 "Why PO should have 1024 reputation to invite some person?"
Steps to reproduce:

0. I successfully bootstrapped my project in 0crat and have a PO role in it. My intention is to invite my friends to support me.
1. I did `@0crat invite <github name>`

Expected result: a man is invited
Actual result: @skapralov @skapral/z you must have at least 1024 reputation to invite someone, as in §1.

A question is why it is done so? Why me as an owner of the project, ma

[2018-01-21 13:08] 0crat commented on #240
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-21 14:28] amihaiemil commented on #222
@yegor256 Two PRs were merged and I didn't notice this behaviour. Indeed, it seems to be fixed.

[2018-01-21 14:28] #222 closed

[2018-01-21 14:28] 0crat commented on #222
Job `gh:zerocracy/datum#222` is not assigned, can't get start time

[2018-01-21 14:38] 0crat commented on #222
The job [#222](https://github.com/zerocracy/datum/issues/222) is now out of scope

[2018-01-22 19:49] 0crat commented on #188
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-22 19:50] 0crat commented on #163
The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#163](https://github.com/zerocracy/datum/issues/163), please stop working

[2018-01-22 21:51] yegor256 commented on #240
@skapral that's a good question. The idea is to keep our "territory" clean by some set of "natural" rules. There is no moderation in the system, it's fully automated and we want to keep only "good people" in the [gang](https://www.0crat.com/gang). How to do that? The principle is simple -- each programmer has a "mentor" and the mentor suffers when the programmer makes mistakes. We don't have that

[2018-01-22 22:02] yegor256 commented on #239
@allanws try to use vacation mode: a6ce718

[2018-01-22 23:03] skapral commented on #240
Well, I wouldn't argue the principles behind this society, but IMO first of all there is sort of inconsistency to solve. If I was granted an ability to register my project, then grant me full control over my project, I am PO afterall. If it contradicts some principles, then I shouldn't be granted an ability to register the project in first place.

What options could we have... I can propose some i

[2018-01-22 23:22] allanws commented on #239
That works too, thanks.

[2018-01-22 23:22] #239 closed

[2018-01-22 23:23] 0crat commented on #239
Job `gh:zerocracy/datum#239` is not assigned, can't get start time

[2018-01-22 23:32] 0crat commented on #239
Job [#239](https://github.com/zerocracy/datum/issues/239) was not in scope

[2018-01-23 09:12] amihaiemil opened #241 "0crat.com header list goes out of view on mobile"
On https://www.0crat.com/, on most pages there is this list of links in the header:

![image](https://user-images.githubusercontent.com/6305156/35267184-25617ad2-002e-11e8-891a-6fd7c19c2a09.png)

On mobile, it goes out of view, it doesn't fit well in the screen's width (I have a 5'' screen). I think on mobile the list should be hidden behind a button similar to this:

![image](https://user-images.

[2018-01-23 09:12] 0crat commented on #241
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 13:31] 0crat commented on #188
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-23 14:56] yegor256 commented on #241
@amihaiemil this is the problem: https://github.com/yegor256/tacit/pull/142 We'll fix it once tacit is released.

[2018-01-23 15:16] llorllale opened #242 "0crat did not close my ticket"
@0crat did not close [this](https://github.com/yegor256/cactoos/issues/63) ticket after the corresponding [PR](https://github.com/yegor256/cactoos/pull/556) was completed.

What happened here?

[2018-01-23 15:16] 0crat commented on #242
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 15:26] amihaiemil commented on #241
@yegor256 Right, then I guess a PR should be made, for this issue, where tacit is updated (once the new version is released)

[2018-01-23 16:33] amihaiemil commented on #242
@llorllale the author of the ticket has to close it, if he/she is satisfied with the solution. 99% of the cases 1 PR is enough and the author should close the Issue, but there are also times when more PRs are needed -- I don't think this is the case, so just ping the author in that ticket and tell him to close it :)

Automatic closure of the ticket happens only when 0pdd sees the ticket's puzzle h

[2018-01-23 16:47] amihaiemil opened #243 "Yoti only accepts passports and UK drivers licences"
I talked with Yoti support and they confirmed that currently they only accept national passports and UK drivers licence. I, for one, would not go through all the husstle of getting a passport just for proving my DOB and name on the Internet and I believe many others think the same.

On the other hand, I couldn't find any other decent apps, a Google search for "digital identity app" yields only Yot

[2018-01-23 16:47] 0crat commented on #243
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 18:16] llorllale commented on #242
@amihaiemil I see, thanks!

[2018-01-23 18:16] #242 closed

[2018-01-23 18:16] 0crat commented on #242
Job `gh:zerocracy/datum#242` is not assigned, can't get start time

[2018-01-23 18:26] 0crat commented on #242
Job [#242](https://github.com/zerocracy/datum/issues/242) was not in scope

[2018-01-23 19:24] skapral opened #244 "Will zerocrat preserve my tasks assignments for the pause period?"
Assume that I pause my account by 0crat `pause`, but still have some tasks assigned on me. What will happen to them? Will they be automatically be `refused` or stayed assigned on me? Both outcomes semantically doesn't contradict paragraph 24: a `pause` may be understood both as "stop giving me new activities" or "I'm on vacation, don't expect anything from me".

IMO it is worth to make this inform

[2018-01-23 19:24] 0crat commented on #244
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 19:31] yegor256 commented on #244
@skapral see decd3a2 What do you think now?

[2018-01-23 19:33] yegor256 commented on #241
@amihaiemil yes. would be great if you can submit this issue to the farm repository, that's where the fix will happen: https://github.com/zerocracy/farm

[2018-01-23 19:35] amihaiemil commented on #241
@yegor256 done, moved to /farm

[2018-01-23 19:35] #241 closed

[2018-01-23 19:36] 0crat commented on #241
Job `gh:zerocracy/datum#241` is not assigned, can't get start time

[2018-01-23 19:40] 0crat commented on #243
The job [#243](https://github.com/zerocracy/datum/issues/243) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02

[2018-01-23 19:41] 0crat commented on #243
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7970](https://www.0crat.com/u/yegor256)

[2018-01-23 19:46] 0crat commented on #241
Job [#241](https://github.com/zerocracy/datum/issues/241) was not in scope

[2018-01-23 19:54] skapral commented on #244
Ups... I mistakenly thought that this command is a pause for a developer, not a project. Sorry.

Speaking of DEV role - does it have some command like `pause`. I rechecked the policy and saw nothing in there. But DEV may probably want to pause his/her activities on vacation or illness period.

[2018-01-23 20:47] skapral opened #245 "@0crat status is outdated?"
Steps to reproduce.

0. I want to determine which tasks are assigned to me.

1. I opened the policy and saw the following paragraph in there:

2. I talked to `0crat` in Slack (privately):

[code]

3. I checked usage in private Slack and Slack project channel but there is nothing which looks like `status`. Is it outdated? If yes - how can I get a list of jobs assigned on me?

[2018-01-23 20:47] 0crat commented on #245
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 20:49] skapral commented on #244
In the usage of 0crat I saw `vacation` command, but it is not mentioned in the Policy. Worth to mention it there, don't you think? Should I create a separate issue on that?

[2018-01-23 20:54] yegor256 commented on #243
@amihaiemil see this: b9f08d2c78841fd444d9b7e2d93b6be03e92c1cc

[2018-01-23 20:56] yegor256 commented on #245
@skapral it's a GitHub command, you can use it in any job ticket.

[2018-01-23 20:58] yegor256 commented on #245
@skapral see 32eea87

[2018-01-23 21:00] 0crat commented on #245
Job [#245](https://github.com/zerocracy/datum/issues/245) is now in scope, role is `DEV`

[2018-01-23 21:01] 0crat commented on #245
The job [#245](https://github.com/zerocracy/datum/issues/245) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02

[2018-01-23 21:02] 0crat commented on #245
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7945](https://www.0crat.com/u/yegor256)

[2018-01-24 09:29] amihaiemil commented on #243
@yegor256 thanks :) I sent the email

[2018-01-24 09:29] #243 closed

[2018-01-24 09:30] 0crat commented on #243
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8030](https://www.0crat.com/u/yegor256)

[2018-01-24 09:39] 0crat commented on #243
The job [#243](https://github.com/zerocracy/datum/issues/243) is now out of scope

[2018-01-24 13:26] llorllale opened #246 "When does a code review end after I reject the PR and inform the author?"
As per [27](http://datum.zerocracy.com/pages/policy.html#27):

It is not clear to me what needs to happen after I reject the PR and inform the author right in the ticket. There's no mention of what specific words or actions must be taken for a code review to end his job as `REV`. Does `REV` need to close the PR after rejection?

[2018-01-24 13:26] 0crat commented on #246
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-24 14:32] yegor256 commented on #246
@llorllale see 9aec5bd Better now?

[2018-01-24 14:51] amihaiemil opened #247 "Multiple reviewers allowed now?"
It happened a number of times so far, the architect assigned me to do a review of a PR which had already been reviewed by someone else (also working for ZC, 0crat had assigned them). For instance, https://github.com/yegor256/cactoos/pull/516 has been reviewed and sent to the architect. It was the architect's turn to do a final review and accept the PR.

What happens if I review it as well and the

[2018-01-24 14:51] 0crat commented on #247
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-24 15:26] llorllale commented on #246
@yegor256 I think it's better. It's shifting the responsibility from the author of the PR (could be anyone) and `REV`, over to `ARC`, who also has an incentive to close the job.

[2018-01-24 15:26] 0crat commented on #246
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-24 15:26] 0crat commented on #246
Job `gh:zerocracy/datum#246` is not assigned, can't get start time

[2018-01-24 15:26] llorllale commented on #246
Reopened because that commit is not yet merged.

[2018-01-24 15:46] llorllale commented on #246
@yegor256 to be clear, this means that after `REV` informs `ARC` of GREEN/RED decision, `ARC` must then either merge the PR or close it, and nothing in between, right?

[2018-01-24 16:05] 0crat commented on #246
Job [#246](https://github.com/zerocracy/datum/issues/246) was not in scope

[2018-01-24 17:18] yegor256 commented on #246
@llorllale yes, that's correct

[2018-01-24 18:24] yegor256 commented on #246
@rultor release, tag is `0.52.3`

[2018-01-24 18:25] rultor commented on #246
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13750-360227468)

[2018-01-24 18:26] yegor256 commented on #247
@amihaiemil it was just a mistake. We always do two reviews: one `REV` and one `ARC`.

[2018-01-24 18:26] 0crat commented on #247
The job [#247](https://github.com/zerocracy/datum/issues/247) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02

[2018-01-24 18:27] 0crat commented on #247
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8085](https://www.0crat.com/u/yegor256)

[2018-01-24 18:32] rultor commented on #246
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13750-360227468) (took me 6min)

[2018-01-24 19:08] yegor256 commented on #246
@llorllale check the current version of policy: http://datum.zerocracy.com/pages/policy.html

[2018-01-24 19:19] #247 closed

[2018-01-24 19:21] 0crat commented on #247
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8115](https://www.0crat.com/u/yegor256)

[2018-01-24 19:29] 0crat commented on #247
The job [#247](https://github.com/zerocracy/datum/issues/247) is now out of scope

[2018-01-24 19:33] yegor256 commented on #245
@skapral let's close this?

[2018-01-24 19:34] llorllale commented on #246
@yegor256 looks good

[2018-01-24 19:34] #246 closed

[2018-01-24 19:35] 0crat commented on #246
Job `gh:zerocracy/datum#246` is not assigned, can't get start time

[2018-01-24 19:41] skapral commented on #245
Initial problem still remain. My initial intention was to gather a list of jobs assigned on me by 0crat (see step sequence), and I still don't see a way how to do it.

I saw issue #211, which is correlated to the problem. If you are planning to negotiate it there, lets close this one.

[2018-01-24 19:45] 0crat commented on #246
Job [#246](https://github.com/zerocracy/datum/issues/246) was not in scope

[2018-01-25 04:14] 0crat commented on #122
The job [#122](https://github.com/zerocracy/datum/issues/122) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-i

[2018-01-25 09:48] g4s8 commented on #122
@DronMDF @yegor256 what do you think about invite links:

1. when you want to invite somebody you ask chat bot `invite` without arguments, it will generate unique invite link
2. you send this link to a user you want to invite
3. when user click this link the site will ask to authorize via Github and add him to users

[2018-01-25 10:22] skapral opened #248 "More respect for contribution to the projects from people who are not applied into?"
Example. I am not a member of 0crat project. As a non-member, I can't be assigned on issues there, and it's fair.

However, I am a user of 0crat, I use it every day, face bugs, issues, unndocumented behavior and create tickets for them. It is my small but fair contribution to it. So far, I haven't seen that my issues were declined. If I was a member, I would be rewarded by points for each issue. B

[2018-01-25 10:22] 0crat commented on #248
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 13:03] llorllale opened #249 "0crat still warning about Ten Days Rule even while job has impediment"
Is this by design or a bug? For example, see [here](https://github.com/yegor256/jpeek/issues/93).

[2018-01-25 13:03] 0crat commented on #249
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 15:45] yegor256 opened #250 "more information in agenda"
Let's add more columns to it

[2018-01-25 15:55] yegor256 commented on #250
@rultor release, tag is `0.53`

[2018-01-25 15:57] rultor commented on #250
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13756-360509620)

[2018-01-25 16:01] rultor commented on #250
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13756-360509620) (took me 3min)

[2018-01-25 16:43] #250 closed

[2018-01-25 16:44] 0crat commented on #250
Job `gh:zerocracy/datum#250` is not assigned, can't get start time

[2018-01-25 17:04] 0crat commented on #250
Job [#250](https://github.com/zerocracy/datum/issues/250) was not in scope

[2018-01-25 18:24] skapral opened #251 "0crat + 0pdd: is it possible to place impediments referencing 0crat in puzzles?"
Assume I have a puzzle. I know that the puzzle depends on some GitHub issue. Can I use 0pdd this way, expecting that once the puzzle will be merged into upstream and the issue created by 0pdd, 0crat will notice that and place impediment on issue 107:
[code]

[2018-01-25 18:24] 0crat commented on #251
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 18:32] yegor256 opened #252 "show agenda with more details"

[2018-01-25 18:51] yegor256 commented on #252
@rultor release, tag is `0.53.1`

[2018-01-25 18:52] rultor commented on #252
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13757-360562782)

[2018-01-25 18:55] rultor commented on #252
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13757-360562782) (took me 3min)

[2018-01-25 18:57] #252 closed

[2018-01-25 18:57] 0crat commented on #252
Job `gh:zerocracy/datum#252` is not assigned, can't get start time

[2018-01-25 19:08] 0crat commented on #252
Job [#252](https://github.com/zerocracy/datum/issues/252) was not in scope

[2018-01-25 19:18] yegor256 commented on #251
@skapral I like the idea, but it seems that a bit "intrusive". Not every ticket must wait if a puzzle is introduced. It's more a decision of a programmer. I don't think we should let our software make that kind of decision automatically.

[2018-01-25 19:24] skapral commented on #251
@yegor256 Sounds reasonable to me. If 0crat indeed doesn't let 0pdd user to interfere and set impediments, I am ok to closing this issue.

[2018-01-25 19:29] yegor256 commented on #251
@skapral they don't interfere anyhow

[2018-01-26 06:54] fabriciofx opened #253 "0crat is paying $1,25 for 15 minutes"
@yegor256 I received three $1,25 payments for 15 minutes (each). Are the values right or there is something wrong?

[2018-01-26 06:54] 0crat commented on #253
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 09:13] t-izbassar opened #254 "Does quit affect my points?"
The question is: if I quit do I get penalties? What if I have unfinished tasks. They will be refused and I get `-15` for everyone?

[2018-01-26 09:13] 0crat commented on #254
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 11:19] yegor256 opened #255 "Java test of XSL stylesheet"
Look at https://github.com/zerocracy/farm/issues/468

It seems that the testing we are doing in Ruby is not strong enough. We should validate our XSL stylesheets in Java somehow. Let's create a simple Java command line sub-project inside this one (Maven + pom + Main.java + Saxon + jcabi-xml), which will open all `.xsl` files and validate them against `simple.xml` files, just like our `xsl` goal in

[2018-01-26 11:20] 0crat commented on #255
Job [#255](https://github.com/zerocracy/datum/issues/255) is now in scope, role is `DEV`

[2018-01-26 11:21] 0crat commented on #255
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8345](https://www.0crat.com/u/yegor256)

[2018-01-26 11:22] t-izbassar opened #256 "Tell the rate when you get approved to project by PO"
From telegram bot when I have applied to project I get:

I think it will be useful to inform about rate that was established within that project to get:

[2018-01-26 11:22] 0crat commented on #256
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 15:22] llorllale opened #257 "Should there be no penalty for DEV to refuse issue with impediment?"
Scenario: as a `DEV` I am assigned a job, but then I'm blocked by some other reported issue, so I put it on `waiting`. The blocking issue has been acknowledged but has not been assigned a performer, so it's going nowhere for the time being.

My job is now an opportunity cost (I could be working on something else), but I can't `refuse` because I'll then be penalized with -15 points.

What should I

[2018-01-26 15:22] 0crat commented on #257
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 15:33] skapral commented on #251
@yegor256 Lets close it then?

[2018-01-26 15:34] skapral commented on #245
@yegor256 FYI, forgot to reference you last time

[2018-01-26 15:35] skapral commented on #240
@yegor256 FYI, forgot to reference you last time. Sorry.

[2018-01-26 15:35] skapral commented on #213
@yegor256 FYI

[2018-01-26 16:36] yegor256 commented on #251
@skapral it's your ticket :) Please, close

[2018-01-26 16:41] #251 closed

[2018-01-26 16:41] 0crat commented on #251
Job `gh:zerocracy/datum#251` is not assigned, can't get start time

[2018-01-26 16:51] 0crat commented on #251
Job [#251](https://github.com/zerocracy/datum/issues/251) was not in scope

[2018-01-26 20:01] llorllale commented on #257
I think I've answered my own question: we should use [puzzles](http://www.yegor256.com/2010/03/04/pdd.html) and [cut corners](http://www.yegor256.com/2017/04/05/pdd-in-action.html).

[2018-01-26 20:01] #257 closed

[2018-01-26 20:01] 0crat commented on #257
Job `gh:zerocracy/datum#257` is not assigned, can't get start time

[2018-01-26 20:11] 0crat commented on #257
Job [#257](https://github.com/zerocracy/datum/issues/257) was not in scope

[2018-01-27 10:37] t-izbassar opened #258 "Allow to set max available jobs"
For example I have high rating but I want to slow down a bit, but I don't want to go on vacation mode. Just get less jobs for certain period of time. So I want to limit jobs assignments from zerocrat.

Proposition is to add command `job set 10` or something like that so that I can limit jobs. Value should be less than max allowed tasks.

[2018-01-27 10:37] 0crat commented on #258
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-28 17:18] skapral opened #259 "Exception when acquiring a status of issue"
See [here](https://github.com/yegor256/jpeek/issues/17).

	at com.jcabi.aspects.aj.MethodLogger.wrap(MethodLogger.java:184)
	at com.jcabi.aspects.aj.MethodLogger.ajc$inlineAccessMethod$com_jcabi_aspects_aj_MethodLogger$com_jcabi_aspects_aj_MethodLogger$wrap(MethodLogger.java:1)
	at com.jcabi.aspects.aj.MethodLogger.wrapClass(MethodLogger.java:140)
	at com.jcabi.github.Comment$Smart.issue(Comment.j

[2018-01-28 17:18] 0crat commented on #259
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-28 17:23] skapral opened #260 "Occasionally 0crat responds inadequately on status request"
0crat sometimes responds with the following message on `@crat status`:

See here:
https://github.com/yegor256/jpeek/issues/17,
https://github.com/yegor256/jpeek/issues/15

[2018-01-28 17:23] 0crat commented on #260
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-28 21:54] 0crat commented on #245
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-29 13:05] skapral opened #261 "0crat assigns already merged pull request to review"
Check PR https://github.com/yegor256/jpeek/pull/108. It is definitely not a QA, because the message is referencing a paragraph from code review section:

[2018-01-29 13:08] skapral commented on #261
It was a duplicate. Sorry: https://github.com/zerocracy/farm/issues/487

[2018-01-29 13:08] #261 closed

[2018-01-29 13:09] 0crat commented on #261
Job `gh:zerocracy/datum#261` is not assigned, can't get start time

[2018-01-29 13:19] 0crat commented on #261
Job [#261](https://github.com/zerocracy/datum/issues/261) was not in scope

[2018-01-29 17:39] yegor256 commented on #245
@skapral you should be able to see your agenda (it's in your account).

[2018-01-29 17:43] 0crat commented on #260
Job [#260](https://github.com/zerocracy/datum/issues/260) is now in scope, role is `DEV`

[2018-01-29 19:38] skapral commented on #245
I see. Looks weird on my favorite Firefox, but it is not the subject of this issue anymore. Closing this issue now.

[2018-01-29 19:38] #245 closed

[2018-01-29 19:40] 0crat commented on #245
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8905](https://www.0crat.com/u/yegor256)

[2018-01-29 19:47] 0crat commented on #245
The job [#245](https://github.com/zerocracy/datum/issues/245) is now out of scope

[2018-01-29 19:49] 0crat commented on #245
Job [#245](https://github.com/zerocracy/datum/issues/245) was not in scope

[2018-01-29 20:41] yegor256 commented on #248
@skapral I agree, we should give points, if the reporter is a member of our gang

[2018-01-29 20:41] 0crat commented on #248
Job [#248](https://github.com/zerocracy/datum/issues/248) is now in scope, role is `DEV`

[2018-01-29 22:16] yegor256 commented on #256
@t-izbassar done in https://github.com/zerocracy/farm/commit/bab2228298f50d7923fc2387590549aa64f54571, thanks for suggesting!

[2018-01-29 22:16] #256 closed

[2018-01-29 22:35] 0crat commented on #256
Job [#256](https://github.com/zerocracy/datum/issues/256) was not in scope

[2018-01-29 22:35] 0crat commented on #256
Job `gh:zerocracy/datum#256` is not assigned, can't get start time

[2018-01-30 12:49] yegor256 commented on #213
@skapral we assign both `PO` and `ARC` now, when you bootstrap a project.

[2018-01-30 12:51] yegor256 commented on #213
@skapral I'm in general against verbosity in policy. If something is absolutely necessary to say there, we say it there. Otherwise, there is no reason to explain obvious things -- the user will see them when he/she tries to do something with the bot.

[2018-01-30 12:51] #213 closed

[2018-01-30 12:51] 0crat commented on #213
Job `gh:zerocracy/datum#213` is not assigned, can't get start time

[2018-01-30 12:56] yegor256 commented on #254
@t-izbassar when you quit, you will stop getting new tasks in the project and will stop making points from reporting bugs. But you will still have to finish the tasks you have. If you don't, there will be penalties.

[2018-01-30 12:56] yegor256 commented on #254
@t-izbassar see f82432c

[2018-01-30 12:57] 0crat commented on #253
Job [#253](https://github.com/zerocracy/datum/issues/253) was not in scope

[2018-01-30 12:58] yegor256 commented on #249
@llorllale it was a bug, fixed already

[2018-01-30 12:58] #249 closed

[2018-01-30 12:58] 0crat commented on #249
Job `gh:zerocracy/datum#249` is not assigned, can't get start time

[2018-01-30 13:00] yegor256 commented on #259
@skapral it was a temporary issue, thanks for reporting

[2018-01-30 13:00] #259 closed

[2018-01-30 13:00] 0crat commented on #259
Job `gh:zerocracy/datum#259` is not assigned, can't get start time

[2018-01-30 13:01] 0crat commented on #213
Job [#213](https://github.com/zerocracy/datum/issues/213) was not in scope

[2018-01-30 13:08] 0crat commented on #249
Job [#249](https://github.com/zerocracy/datum/issues/249) was not in scope

[2018-01-30 13:10] 0crat commented on #259
Job [#259](https://github.com/zerocracy/datum/issues/259) was not in scope

[2018-01-30 13:22] t-izbassar commented on #254
@yegor256 OK for me. Thanks.

[2018-01-30 13:22] #254 closed

[2018-01-30 13:22] 0crat commented on #254
Job `gh:zerocracy/datum#254` is not assigned, can't get start time

[2018-01-30 13:32] 0crat commented on #254
Job [#254](https://github.com/zerocracy/datum/issues/254) was not in scope

[2018-01-30 14:24] 0crat commented on #258
Job [#258](https://github.com/zerocracy/datum/issues/258) is now in scope, role is `DEV`

[2018-01-30 14:24] yegor256 commented on #258
@g4s8 @carlosmiranda I'm thinking about creating a new artifact per user, like `options/yegor256.xml`, in PMO. This artifact will contain configuration parameters, which a user will be able to change by just uploading a new version of the file to us, via the web front. What do you think?

[2018-01-30 15:28] yegor256 commented on #210
@janczer it's fixed already, thanks

[2018-01-30 15:28] #210 closed

[2018-01-30 15:28] 0crat commented on #210
Job `gh:zerocracy/datum#210` is not assigned, can't get start time

[2018-01-30 15:29] t-izbassar commented on #258
@yegor256 I think that's good idea. Possible values can include:
- wallet
- jobs limit
- PRs to review limit
- rate
- vacation
- preferable role

There also can be values for other roles but I'm not aware of them.

[2018-01-30 15:30] yegor256 commented on #183
@filfreire explained in 82e73e2

[2018-01-30 15:30] #183 closed

[2018-01-30 15:30] t-izbassar commented on #258
And also having editing one file seems more easy way than having different bot commands where you need to remember semantics and allowed commands. Xml will be more transparent.

[2018-01-30 15:30] 0crat commented on #183
Job `gh:zerocracy/datum#183` is not assigned, can't get start time

[2018-01-30 15:30] yegor256 commented on #185
@filfreire that's a good idea, but we are trying to keep the list of commands as short as possible. Let's not add more than we really need. Thanks.

[2018-01-30 15:30] #185 closed

[2018-01-30 15:31] 0crat commented on #185
Job `gh:zerocracy/datum#185` is not assigned, can't get start time

[2018-01-30 15:31] yegor256 commented on #165
@allanwsilva fixed already, thanks for reporting

[2018-01-30 15:31] #165 closed

[2018-01-30 15:31] 0crat commented on #165
Job `gh:zerocracy/datum#165` is not assigned, can't get start time

[2018-01-30 15:32] 0crat commented on #163
Job [#163](https://github.com/zerocracy/datum/issues/163) is already in scope

[2018-01-30 15:33] yegor256 commented on #178
@allanwsilva This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:33] #178 closed

[2018-01-30 15:33] yegor256 commented on #198
@fabriciofx This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:33] #198 closed

[2018-01-30 15:34] 0crat commented on #178
Job `gh:zerocracy/datum#178` is not assigned, can't get start time

[2018-01-30 15:34] yegor256 commented on #149
@DronMDF This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:34] #149 closed

[2018-01-30 15:34] 0crat commented on #198
Job `gh:zerocracy/datum#198` is not assigned, can't get start time

[2018-01-30 15:34] 0crat commented on #149
Job `gh:zerocracy/datum#149` is not assigned, can't get start time

[2018-01-30 15:34] yegor256 commented on #135
@DronMDF This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:34] #135 closed

[2018-01-30 15:35] 0crat commented on #135
Job `gh:zerocracy/datum#135` is not assigned, can't get start time

[2018-01-30 15:35] yegor256 commented on #122
@g4s8 how can we guarantee that the link won't be clicked by someone else? Or many other people?

[2018-01-30 15:36] yegor256 commented on #188
@0crat status

[2018-01-30 15:36] 0crat commented on #188
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#188](https://github.com/zerocracy/datum/issues/188) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 15days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [15days](http://datum.zerocracy.com/pages/policy.html#8)

[2018-01-30 15:38] 0crat commented on #210
Job [#210](https://github.com/zerocracy/datum/issues/210) was not in scope

[2018-01-30 15:40] 0crat commented on #183
Job [#183](https://github.com/zerocracy/datum/issues/183) was not in scope

[2018-01-30 15:41] 0crat commented on #165
Job [#165](https://github.com/zerocracy/datum/issues/165) was not in scope

[2018-01-30 15:43] 0crat commented on #188
Job [#188](https://github.com/zerocracy/datum/issues/188) is already in scope

[2018-01-30 15:44] 0crat commented on #178
The job [#178](https://github.com/zerocracy/datum/issues/178) is now out of scope

[2018-01-30 15:45] yegor256 commented on #192
@skapral This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:45] #192 closed

[2018-01-30 15:46] 0crat commented on #149
Job [#149](https://github.com/zerocracy/datum/issues/149) was not in scope

[2018-01-30 15:46] 0crat commented on #135
Job [#135](https://github.com/zerocracy/datum/issues/135) was not in scope

[2018-01-30 15:46] yegor256 commented on #197
@t-izbassar you should see roles inside the agenda

[2018-01-30 15:46] 0crat commented on #189
Job [#189](https://github.com/zerocracy/datum/issues/189) is now in scope, role is `DEV`

[2018-01-30 15:46] yegor256 commented on #197
@t-izbassar This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:46] #197 closed

[2018-01-30 15:46] 0crat commented on #122
Job [#122](https://github.com/zerocracy/datum/issues/122) is already in scope

[2018-01-30 15:46] 0crat commented on #192
Job `gh:zerocracy/datum#192` is not assigned, can't get start time

[2018-01-30 15:46] 0crat commented on #197
Job `gh:zerocracy/datum#197` is not assigned, can't get start time

[2018-01-30 15:47] yegor256 commented on #199
@fabriciofx this would be against our principles of bug tracking. A bug must be solved by someone else, not the author. See: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2018-01-30 15:47] #199 closed

[2018-01-30 15:47] 0crat commented on #199
Job `gh:zerocracy/datum#199` is not assigned, can't get start time

[2018-01-30 15:47] yegor256 commented on #200
@fabriciofx This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:47] #200 closed

[2018-01-30 15:47] yegor256 commented on #200
@fabriciofx we will continue here: https://github.com/zerocracy/farm/issues/496

[2018-01-30 15:48] yegor256 commented on #201
@fabriciofx This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:48] #201 closed

[2018-01-30 15:48] yegor256 commented on #202
@fabriciofx but that's exactly how it works now: `apply ID`

[2018-01-30 15:48] #202 closed

[2018-01-30 15:48] 0crat commented on #201
Job `gh:zerocracy/datum#201` is not assigned, can't get start time

[2018-01-30 15:49] 0crat commented on #202
Job `gh:zerocracy/datum#202` is not assigned, can't get start time

[2018-01-30 15:49] yegor256 commented on #205
@fabriciofx you do have access to that repo

[2018-01-30 15:49] #205 closed

[2018-01-30 15:49] 0crat commented on #205
Job `gh:zerocracy/datum#205` is not assigned, can't get start time

[2018-01-30 15:50] yegor256 commented on #244
@skapral This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:50] #244 closed

[2018-01-30 15:50] 0crat commented on #244
Job `gh:zerocracy/datum#244` is not assigned, can't get start time

[2018-01-30 15:51] 0crat commented on #229
Job `gh:zerocracy/datum#229` is not assigned, can't get start time

[2018-01-30 15:51] yegor256 commented on #209
@janczer I believe it's a wrong assumption. The policy never said that points can only be positive. Negative points are possible.

[2018-01-30 15:51] #209 closed

[2018-01-30 15:51] 0crat commented on #209
Job `gh:zerocracy/datum#209` is not assigned, can't get start time

[2018-01-30 15:52] yegor256 commented on #211
@amihaiemil it assigns a user, if possible. GitHub doesn't allow us to do that if you are not a contributor.

[2018-01-30 15:52] #211 closed

[2018-01-30 15:52] 0crat commented on #211
Job `gh:zerocracy/datum#211` is not assigned, can't get start time

[2018-01-30 15:55] yegor256 commented on #212
@skapral interesting idea. You mean contribution to _any_ project or only to Zerocracy?

[2018-01-30 15:55] yegor256 commented on #207
@t-izbassar  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-01-30 15:55] #207 closed

[2018-01-30 15:56] 0crat commented on #192
Job [#192](https://github.com/zerocracy/datum/issues/192) was not in scope

[2018-01-30 15:56] 0crat commented on #207
Job `gh:zerocracy/datum#207` is not assigned, can't get start time

[2018-01-30 15:56] yegor256 commented on #204
@fabriciofx it's a funny idea, but what for? :) We have a link to policy on the site.

[2018-01-30 15:56] #204 closed

[2018-01-30 15:56] 0crat commented on #197
Job [#197](https://github.com/zerocracy/datum/issues/197) was not in scope

[2018-01-30 15:56] #216 closed

[2018-01-30 15:56] 0crat commented on #204
Job `gh:zerocracy/datum#204` is not assigned, can't get start time

[2018-01-30 15:57] 0crat commented on #199
Job [#199](https://github.com/zerocracy/datum/issues/199) was not in scope

[2018-01-30 15:57] 0crat commented on #200
Job [#200](https://github.com/zerocracy/datum/issues/200) was not in scope

[2018-01-30 15:58] 0crat commented on #201
Job [#201](https://github.com/zerocracy/datum/issues/201) was not in scope

[2018-01-30 15:58] 0crat commented on #202
Job [#202](https://github.com/zerocracy/datum/issues/202) was not in scope

[2018-01-30 15:59] 0crat commented on #205
Job [#205](https://github.com/zerocracy/datum/issues/205) was not in scope

[2018-01-30 16:00] 0crat commented on #244
Job [#244](https://github.com/zerocracy/datum/issues/244) was not in scope

[2018-01-30 16:00] yegor256 commented on #240
@skapral I like the third option -- make sure not only developers but also project owners understand the principles of work. If they don't understand, they won't be able to manage people in first place. It's better to filter them out as soon as possible. Thus, I would prefer to keep everything as it is now.

[2018-01-30 16:00] 0crat commented on #229
Job [#229](https://github.com/zerocracy/datum/issues/229) was not in scope

[2018-01-30 16:01] 0crat commented on #255
Job [#255](https://github.com/zerocracy/datum/issues/255) is already in scope

[2018-01-30 16:01] 0crat commented on #209
Job [#209](https://github.com/zerocracy/datum/issues/209) was not in scope

[2018-01-30 16:02] 0crat commented on #211
Job [#211](https://github.com/zerocracy/datum/issues/211) was not in scope

[2018-01-30 16:05] yegor256 commented on #254
@rultor release, tag is `0.53.2`

[2018-01-30 16:06] 0crat commented on #207
Job [#207](https://github.com/zerocracy/datum/issues/207) was not in scope

[2018-01-30 16:06] rultor commented on #254
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13792-361641730)

[2018-01-30 16:06] 0crat commented on #204
Job [#204](https://github.com/zerocracy/datum/issues/204) was not in scope

[2018-01-30 16:09] skapral commented on #212
@yegor256 I meant "contributing funds to the projects which are managed by Zerocracy". It is more easy and straightforward than doing it for any projects in Github, because projects under ZC already have everything - a project's budget and a capability to put money in it, managed by ZC.

[2018-01-30 16:10] rultor commented on #254
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13792-361641730) (took me 3min)

[2018-01-30 16:32] skapral commented on #240
@yegor256 "keep as-is" means 1024 points limit? Then a couple of questions before I close this issue:

1. What will we do with this inconsistency:

Summing up means that nobody under 1024 points should be able to create his own project at ZC and become PO. When I registered my project, 0crat have no such limitation. IMO it is a problem, which worth solving (in a separate issue).

2. Don't you thin

[2018-01-30 19:21] DronMDF commented on #149
Ok, Thanks...

[2018-01-30 19:22] DronMDF commented on #135
Thank's

[2018-01-30 19:26] DronMDF commented on #122
We can go on the other side. Let new users go to the 0crat.com and enter the name of the mentor who invites them. The mentor will receive a link to confirm each.

Although maybe this is not a problem at all?

[2018-01-30 23:51] skapral opened #262 "How to handle "research"-like tasks?"
Working on 0crat, I noticed that it treats every member of the project equally, and can grant task of any ambiguity degree to any member of the project, and still with fixed cost. It leads sometimes to situations when assignee become a hostage of 0crat's random decision.

Consider the task https://github.com/yegor256/jpeek/issues/17 from JPeek. I haven't heard about this metric anything before. Is

[2018-01-30 23:51] 0crat commented on #262
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 15:31] yegor256 commented on #262
@skapral did you read this? http://www.yegor256.com/2015/01/15/how-to-cut-corners.html

[2018-01-31 15:40] yegor256 commented on #212
@skapral how about this:

1. You make your project "openly fundable" by telling Zerocrat to do that.

2. All finances and statistics of the project become fully available for anyone (not only PO) -- for audit purposes.

3. You can accept funds from anyone, we will provide a Stripe button with a fixed amount (say, $64, $256, or $1024).

4. You can place that button anywhere -- either in your GitHub

[2018-01-31 16:05] skapral commented on #212
@yegor256 it's totally ok for me.

If you think it makes no sense, I am ok closing it. But the same question actually may be raised from PO perspective: why and from where should he pay contributors for contributing to open-source project? From his own pocket?

A bit of off-topic: actually, I had more ideas to this:
 - Croudfunding on a particular project features: scenario would be like - an issu

[2018-01-31 16:39] skapral commented on #262
@yegor256 Yes, I did, and meditated a lot on it before joining ZC. But I don't understand how it would help me in this particular situation. What is my mistake?

Seems like my case is described best by section "Demand Better Documentation and Wait". But it is not so easy to do without knowing the subject. I already tried in a very beginning of these 30 minutes to create impediment on this issue. A

[2018-01-31 17:14] yegor256 commented on #262
@skapral your concerns are valid. I'm thinking what would be the right scenario for this particular task.

[2018-01-31 17:58] t-izbassar opened #263 "More granular jobs limits"
According to [$3](http://datum.zerocracy.com/pages/policy.html#3) I need to have 512 points to get more than 3 jobs, which seems not so reasonable as starting from 256 I can join real projects. Also working on sandbox projects means sometimes waiting more times. So for now for example I can only wait for PR approvals then issue closing until I can start new task. This time I could spend in other t

[2018-01-31 17:58] 0crat commented on #263
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 12:09] skapral opened #264 "To loosen a "10 days" grip of ZC on issues which have pull requests?"
First realized this issue [here](https://github.com/yegor256/jpeek/issues/9) and [here](https://github.com/yegor256/jpeek/issues/15).

I did the issue within 10 days and provided a PR. PR was successfully reviewed, remarks were applied and the fix is gone to upstream. However, from the moment PR gone to review till the moment when issue is closed ZC considers this issue not done by me (I still see

[2018-02-01 12:09] 0crat commented on #264
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 13:37] yegor256 commented on #212
@skapral let me implement it and we'll see how it works. Let's keep the ticket open.

[2018-02-01 14:04] 0crat commented on #212
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9045](https://www.0crat.com/u/yegor256)

[2018-02-02 20:13] g4s8 commented on #122
@yegor256 it will be one-time link with expiration time (like reset-password link), if someone click this link it will not be available anymore.

[2018-02-03 18:57] g4s8 commented on #122
@0crat waiting
@yegor256 what do you say about comments: https://github.com/zerocracy/datum/issues/122#issuecomment-361706124 and https://github.com/zerocracy/datum/issues/122#issuecomment-362694077

[2018-02-03 18:57] 0crat commented on #122
Are you speaking to me or about me [here](https://github.com/zerocracy/datum/issues/122#issuecomment-362844936). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-02-03 18:58] g4s8 commented on #122
@0crat waiting

[2018-02-03 18:59] 0crat commented on #122
@g4s8 The impediment for [#122](https://github.com/zerocracy/datum/issues/122) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-03 19:16] g4s8 commented on #258
@yegor256 I think it may include notification preferences, e.g. I'd prefer to receive notifications in Telegram only.

[2018-02-04 19:03] neonailol opened #267 "Llink to `Gang` page should be on all pages of 0crat site"
Right now link to the `Gang` page exists only on `Policy` page

[2018-02-04 19:03] 0crat commented on #267
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-05 09:23] 0crat commented on #163
The job [#163](https://github.com/zerocracy/datum/issues/163) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02

[2018-02-05 14:41] yegor256 commented on #122
@g4s8 I think this is how we will proceed: https://github.com/zerocracy/farm/issues/520

[2018-02-05 14:48] yegor256 commented on #267
@neonailol it exists in all pages, but either on top of the screen, or at the bottom.

[2018-02-05 15:11] yegor256 commented on #263
@t-izbassar I'm not sure now. We have to see what will happen with our gang in the next few months. Let's keep this open.

[2018-02-05 16:52] neonailol commented on #267
@yegor256 oh, i see now :) i never bothered to scroll down and look at footer

[2018-02-05 16:52] #267 closed

[2018-02-05 16:52] 0crat commented on #267
Job `gh:zerocracy/datum#267` is not assigned, can't get start time

[2018-02-05 17:02] 0crat commented on #267
Job [#267](https://github.com/zerocracy/datum/issues/267) was not in scope

[2018-02-06 16:47] t-izbassar opened #269 "What is mentor responsibilites?"
I think there should be clarification of what should mentor do. For example I have @yegor256 as my mentor. It's great to have him for me) however, what does it mean? Can I go to him and ask questions? Should he comment on my solutions to improve? Review PRs? What's hes role for me so that he gets bonuses for my positive move and fines for negative move? For now, it is just a mentioning on gang pag

[2018-02-06 16:47] 0crat commented on #269
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 16:56] t-izbassar opened #270 "Acceptance criteria"
I think we should have clear acceptance criteria to become `Gang` member. For now people are asking, what should I have to do, what knowledge is enough, what experience is enough and so on.

I know that we are not strictly care about the whole CV process and things like that because as long as member delivers results he will be paid and will grow reputation. But do we want noise from complete novi

[2018-02-06 16:56] 0crat commented on #270
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 17:20] 0crat commented on #270
Job [#270](https://github.com/zerocracy/datum/issues/270) is now in scope, role is `DEV`

[2018-02-06 17:21] 0crat commented on #270
The job [#270](https://github.com/zerocracy/datum/issues/270) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02

[2018-02-06 17:22] 0crat commented on #270
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9360](https://www.0crat.com/u/yegor256)

[2018-02-07 00:34] llorllale opened #272 "0crat assigning closed issue"
0crat just assigned an issue that I completed a few hours ago [here](https://github.com/yegor256/jpeek/issues/104#issuecomment-363590759)

[2018-02-07 00:34] 0crat commented on #272
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 06:34] t-izbassar opened #273 "Receive tasks after vacation ended"
I'm not receiving tasks since my vacation was ended. My vacation started February 2 and ended February 5. So for two days I'm not receiving any tasks having in agenda only 1 job left (max available is 3).

[2018-02-07 06:34] 0crat commented on #273
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-08 07:49] t-izbassar commented on #273
Hi @yegor256 can you please check it out? I have some free time and it's unfortunate that I'm not receiving tasks.

[2018-02-09 11:16] nick318 opened #274 "0crat commands are broken when I change github username"
Ocrat commands do not work when a user change github username. You can see it in an issue https://github.com/yegor256/cactoos/issues/585

Steps to reproduce:
1 A task assigned to user with nickname `icok`
2 The user changes github name to `nick318`
3 The user type a command `@Ocrat refuse`
4 The answer is `You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only`

I s

[2018-02-09 11:16] 0crat commented on #274
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-09 12:03] yegor256 commented on #273
@t-izbassar I don't think it's true. I'm sure it's not true. Most probably Zerocrat just doesn't elect you, for some reason. From now on, you will see the reasons in each task and will understand what's going on.

[2018-02-09 12:06] 0crat commented on #273
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-09 12:06] 0crat commented on #273
Job `gh:zerocracy/datum#273` is not assigned, can't get start time

[2018-02-09 12:07] 0crat commented on #273
The job [#273](https://github.com/zerocracy/datum/issues/273) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/401206017) The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-09 12:08] 0crat commented on #273
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9505](https://www.0crat.com/u/yegor256)

[2018-02-09 12:08] #273 closed

[2018-02-09 12:10] 0crat commented on #273
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9535](https://www.0crat.com/u/yegor256)

[2018-02-09 12:16] 0crat commented on #273
The job [#273](https://github.com/zerocracy/datum/issues/273) is now out of scope

[2018-02-09 12:18] 0crat commented on #273
Job [#273](https://github.com/zerocracy/datum/issues/273) was not in scope

[2018-02-09 15:08] yegor256 commented on #274
@nick318 how can you "change" github name? AFAIK it's impossible. You can only register a new account. Or I'm wrong?

[2018-02-09 15:20] yegor256 commented on #272
@llorllale please, report it to the "farm" repository. "Datum" is for policy questions.

[2018-02-09 15:21] #272 closed

[2018-02-09 15:21] 0crat commented on #272
Job `gh:zerocracy/datum#272` is not assigned, can't get start time

[2018-02-09 15:25] t-izbassar commented on #273
@yegor256 I still doesn't get why I'm not elected. There are jobs in Takes for example, where I have positive points. And so I need to go into each issue and see the reasons? That's very tedious job to do. Or how else I can see why I'm not elected?

[2018-02-09 15:26] llorllale commented on #272
Got it, thanks

[2018-02-09 15:31] 0crat commented on #272
Job [#272](https://github.com/zerocracy/datum/issues/272) was not in scope

[2018-02-09 15:45] nick318 commented on #274
@yegor256 you are wrong. Read here: https://help.github.com/articles/changing-your-github-username/

[2018-02-09 15:46] nick318 commented on #274
@yegor256 It seems I am not alone who changed username.

[2018-02-11 17:24] 0crat commented on #270
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-12 08:51] t-izbassar opened #275 "Why I'm not beign elected?"
I'm not receiving task for about a weak now. I have [positive points](https://www.0crat.com/u/t-izbassar/awards), I'm member of [Takes](https://www.0crat.com/p/C3FFK3YAY) which obviously have [jobs in scope](https://github.com/yegor256/takes/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Ascope) and it is alive project. According to [policy](http://datum.zerocracy.com/pages/policy.html#3) I s

[2018-02-12 08:51] 0crat commented on #275
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 13:24] yegor256 commented on #274
@nick318 I guess you will have to create your account from scratch. I can't invent a procedure how we can transfer one account to another. We simply can't automatically verify that the previous account really belongs to you. So, start from scratch with us and create a new account.

[2018-02-12 13:28] nick318 commented on #274
@yegor256 Got it, thank you.

[2018-02-12 13:28] #274 closed

[2018-02-12 13:29] 0crat commented on #274
Job `gh:zerocracy/datum#274` is not assigned, can't get start time

[2018-02-12 13:39] 0crat commented on #274
Job [#274](https://github.com/zerocracy/datum/issues/274) was not in scope

[2018-02-12 15:36] yegor256 commented on #270
@t-izbassar we will solve it there: https://github.com/zerocracy/farm/issues/520

[2018-02-12 15:36] #270 closed

[2018-02-12 15:38] 0crat commented on #270
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9750](https://www.0crat.com/u/yegor256)

[2018-02-12 15:47] 0crat commented on #270
The job [#270](https://github.com/zerocracy/datum/issues/270) is now out of scope

[2018-02-12 16:06] yegor256 commented on #269
@t-izbassar you should be able to do anything you want. This person is making money out of your activity, of course, he/she will be interested to talk to you. I don't see what can we say in the Policy about it. Also, I will not be a mentor very soon, since it's too much work/hassle for me.

[2018-02-12 18:46] t-izbassar commented on #269
@yegor256 got it, makes sense. I think the only things that should be mentioned is what mentor gets and what he loses and from what point he can become a mentor. But that's should be mentioned when relevant tasks are implemented.

[2018-02-12 18:46] #269 closed

[2018-02-12 18:46] 0crat commented on #269
Job `gh:zerocracy/datum#269` is not assigned, can't get start time

[2018-02-12 18:56] 0crat commented on #269
Job [#269](https://github.com/zerocracy/datum/issues/269) was not in scope

[2018-02-12 19:04] t-izbassar commented on #275
@yegor256 I received task) however, it was not obvious, why I wasn't receiving it for quite some time. Don't sure what should be done to help others in same situation. Maybe, just nothing)

[2018-02-12 19:04] #275 closed

[2018-02-12 19:05] 0crat commented on #275
Job `gh:zerocracy/datum#275` is not assigned, can't get start time

[2018-02-12 19:14] 0crat commented on #275
Job [#275](https://github.com/zerocracy/datum/issues/275) was not in scope

[2018-02-12 22:33] yegor256 commented on #275
@t-izbassar the project was not "funded", that's why nobody was receiving tasks.

[2018-02-13 09:07] t-izbassar commented on #275
@yegor256 do you think there should be notification to members about that? So that they will move to other projects?

[2018-02-13 10:37] yegor256 commented on #275
@t-izbassar you are right, this information will be visible in the board: https://github.com/zerocracy/farm/commit/56455b6f12d9d054a80e047a2d95c25b2bee2f06

[2018-02-13 11:49] yegor256 opened #276 "rfps.xml"
Let's create `rfps.xml` in PMO (requests for proposal).

[2018-02-13 11:51] 0crat commented on #276
The job [#276](https://github.com/zerocracy/datum/issues/276) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/441150003). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). I

[2018-02-13 11:52] 0crat commented on #276
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9850](https://www.0crat.com/u/yegor256)

[2018-02-13 11:52] 0crat commented on #276
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9850](https://www.0crat.com/u/yegor256)

[2018-02-13 11:52] 0crat commented on #276
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9850](https://www.0crat.com/u/yegor256)

[2018-02-13 12:10] yegor256 commented on #276
@rultor release, tag is `0.54`

[2018-02-13 12:11] rultor commented on #276
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13865-365248709)

[2018-02-13 12:14] rultor commented on #276
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13865-365248709) (took me 3min)

[2018-02-13 12:23] #276 closed

[2018-02-13 12:24] 0crat commented on #276
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9880](https://www.0crat.com/u/yegor256)

[2018-02-13 12:25] yegor256 opened #277 "payment information into RFPs"
#276 created the XML document, but it's not rich enough

[2018-02-13 12:33] 0crat commented on #276
The job [#276](https://github.com/zerocracy/datum/issues/276) is now out of scope

[2018-02-13 13:53] yegor256 commented on #277
@rultor release, tag is `0.54.1`

[2018-02-13 13:55] rultor commented on #277
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13867-365272842)

[2018-02-13 13:58] rultor commented on #277
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13867-365272842) (took me 3min)

[2018-02-13 15:10] t-izbassar commented on #275
@yegor256 what about invisible projects that are not listed on the board?

[2018-02-14 07:33] #277 closed

[2018-02-14 07:33] 0crat commented on #277
Job `gh:zerocracy/datum#277` is not assigned, can't get start time

[2018-02-14 07:43] 0crat commented on #277
Job [#277](https://github.com/zerocracy/datum/issues/277) was not in scope

[2018-02-14 14:58] yegor256 commented on #275
@t-izbassar well, I guess it's against our philosophy. You, as a programmer, should not care about project situation. They don't guarantee you anything. They may have tasks and the next day there are no tasks. You should not worry about it. If you are not elected, just check the recent tickets assigned and see why their performers were assigned. That's all we can do. We should not disclose too muc

[2018-02-14 21:46] ypshenychka opened #278 "Typo in word "Zerocray" in Policy document §36 "Speed Bonus.""
STR:
1. Go to http://datum.zerocracy.com/pages/policy.html#36
2. Observe the first sentence

**Actual Result**: Typo in word "Zerocray"

![image](https://user-images.githubusercontent.com/11703257/36229684-c01e7a8e-11e0-11e8-94fd-6f422bc8066e.png)

**Expected Result:** "...Zerocracy measures the time interval between the moment a job is assigned to you and the moment it goes out of scope..."

[2018-02-14 21:46] 0crat commented on #278
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 21:51] ypshenychka opened #279 "Redundant word "can" in Policy document §40 "Reply to RFP.""
STR:
1. Go to http://datum.zerocracy.com/pages/policy.html#40
2. Observe the second sentence

**Actual Result:** Redundant word "can"
![image](https://user-images.githubusercontent.com/11703257/36229912-6a4a2c74-11e1-11e8-89e9-be16f727b0e8.png)

**Expected Result:** "...You can "pay" 256 points for an email address of any RFP..."

[2018-02-14 21:51] 0crat commented on #279
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 22:32] 0crat commented on #278
The job [#278](https://github.com/zerocracy/datum/issues/278) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/452232130). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). I

[2018-02-14 22:33] yegor256 commented on #278
@ypshenychka fixed, thanks

[2018-02-14 22:33] yegor256 commented on #278
@rultor release, tag is `0.54.2`

[2018-02-14 22:33] 0crat commented on #278
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9764](https://www.0crat.com/u/yegor256)

[2018-02-14 22:34] rultor commented on #278
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13883-365767353)

[2018-02-14 22:34] yegor256 commented on #278
@ypshenychka thanks for reporting this. Next time, for cosmetic issues like this, you can just submit a pull request directly to the files in this repo: https://github.com/zerocracy/datum/blob/master/md/policy.md

[2018-02-14 22:38] yegor256 commented on #279
@ypshenychka fixed, thanks!

[2018-02-14 22:38] #279 closed

[2018-02-14 22:38] #278 closed

[2018-02-14 22:39] rultor commented on #278
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13883-365767353) (took me 4min)

[2018-02-14 22:39] 0crat commented on #279
Job `gh:zerocracy/datum#279` is not assigned, can't get start time

[2018-02-14 22:40] 0crat commented on #278
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9794](https://www.0crat.com/u/yegor256)

[2018-02-14 22:49] 0crat commented on #279
Job [#279](https://github.com/zerocracy/datum/issues/279) was not in scope

[2018-02-14 22:49] 0crat commented on #278
The job [#278](https://github.com/zerocracy/datum/issues/278) is now out of scope

[2018-02-15 09:19] ypshenychka commented on #279
@yegor256 Looks like it's not fixed in document.

[2018-02-15 09:24] 0crat commented on #163
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#163](https://github.com/zerocracy/datum/issues/163), please stop working

[2018-02-16 09:21] nick318 commented on #264
@yegor256 take a look, please

[2018-02-16 17:39] yegor256 commented on #264
@skapral it's a common problem, discussed many times. I do understand the motivation behind this proposal, but the 0/100 principle here must be very strict: a task is either closed or open. There is nothing in the middle. Zerocrat should not even try to understand what's going on or why the task is not yet closed. If we start paying attention to those details, developers will start to abuse the sy

[2018-02-16 18:56] nick318 opened #280 "Is it ok to have a qa review after PR is already merged?"
Here is my [PR](https://github.com/yegor256/cactoos/pull/649) which was merged, after that one user was assigned as a QA, is it a right way to check my PR after it was merged?

[2018-02-16 18:56] 0crat commented on #280
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 23:23] driver733 opened #282 "Puzzle with a bug from a ticket (paid)"
Imagine if someone finds a bug while working on a ticket. He has two options. One is to leave a puzzle in the PR and the other is to open a new ticket. If he leaves a puzzle in code, then he would not get paid for it, while if he creates a new ticket then he will be paid for a bug report. I think that there is inconsistency here and that we should be able to distinguish normal puzzles (non-paid) a

[2018-02-16 23:23] 0crat commented on #282
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 06:23] g4s8 opened #283 ""auto" transformations are not documented"
It's not clear how to use `xsl` files in `/auto` folder and how to write auto-tests.

[2018-02-17 06:23] 0crat commented on #283
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 07:19] amihaiemil commented on #280
@nick318 As I understand, in the case of a PR the QA checks the quality of the CR's job not the author's. It doesn't affect your payment since you are paid based on the closed ticket, not on the merged PR. Makes sense? @yegor256 correct me if I'm wrong, pls

[2018-02-17 08:06] ypshenychka commented on #279
@yegor256 Changes are not merged.

[2018-02-17 20:01] nick318 opened #286 "QA was assigned to closed issue and it is not visible to QA"
QA was assigned to closed issue and it is not visible to QA
There is an [issue](https://github.com/yegor256/cactoos/issues/608) that I had to resolve.
1 I made a [PR](https://github.com/yegor256/cactoos/pull/649)
2 PR was merged
3 one user was assigned as a QA
4 QA said quality is acceptable
5 I asked an issue owner to close the issue, since my PR is merged and problem is solved.
6 Task owner clos

[2018-02-17 20:01] 0crat commented on #286
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-18 17:23] nick318 commented on #286
@yegor256 take a look please

[2018-02-19 09:27] yegor256 opened #287 "QA list of rules is not defined"

[2018-02-19 09:45] yegor256 commented on #287
@rultor release, tag is `0.54.3`

[2018-02-19 09:45] rultor commented on #287
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13939-366636738)

[2018-02-19 09:48] rultor commented on #287
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13939-366636738) (spent 3min)

[code]

[2018-02-19 09:51] yegor256 commented on #287
@rultor release, tag is `0.54.3`

[2018-02-19 09:51] rultor commented on #287
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13939-366638481)

[2018-02-19 09:54] rultor commented on #287
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13939-366638481) (spent 3min)

[code]

[2018-02-19 09:56] yegor256 commented on #287
@rultor release, tag is `0.54.3`

[2018-02-19 09:57] rultor commented on #287
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13939-366639745)

[2018-02-19 09:57] nick318 commented on #286
As QA said here https://github.com/yegor256/cactoos/issues/608 it is not an issue, so I close it.

[2018-02-19 09:59] rultor commented on #287
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13939-366639745) (took me 2min)

[2018-02-19 10:00] #287 closed

[2018-02-19 11:07] ypshenychka commented on #286
@nick318 I believe as per Yegor's [comment](https://github.com/yegor256/cactoos/issues/608#issuecomment-366641321) it is an issue. Please check

[2018-02-19 11:15] nick318 commented on #286
@ypshenychka ok, then I reopen the issue.

[2018-02-19 11:15] 0crat commented on #286
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 15:57] yegor256 opened #288 "more payment methods"
Let's add more payment methods.

[2018-02-19 16:00] yegor256 commented on #288
@rultor release, tag is `0.54.4`

[2018-02-19 16:05] rultor commented on #288
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13943-366734992) (took me 3min)

[2018-02-19 16:05] #288 closed

[2018-02-19 19:07] llorllale opened #289 "Request clarification on "Definition of Done""
I need clarification on what the "definition of done" is for role `DEV` after the integration of the `QA` role into the workflow.

Policy item [7](http://datum.zerocracy.com/pages/policy.html#7):

I need to know if payments are supposed to be received the moment my GitHub ticket is closed by its author, or if/when `QA` says the quality was good.

[2018-02-19 19:07] 0crat commented on #289
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 19:24] yegor256 commented on #279
@ypshenychka please refresh the page, should be fine now: http://datum.zerocracy.com/pages/policy.html

[2018-02-19 19:37] ypshenychka commented on #279
@yegor256 Fixed. Thanks

[2018-02-19 21:10] g4s8 commented on #122
@DronMDF please, look at https://www.0crat.com/join
also zerocracy/farm#502 was submited. Can we close this bug?

[2018-02-19 21:11] 0crat commented on #122
To cancel the order use `refuse` as in [§6](http://datum.zerocracy.com/pages/policy.html#6)

[2018-02-20 10:39] DronMDF commented on #122
@g4s8 Yes, join form is good. I should close it?

[2018-02-20 11:15] g4s8 commented on #122
@DronMDF yes, if you agree that inviting will be easier with this form

[2018-02-20 11:31] DronMDF commented on #122
Thank's

[2018-02-20 11:31] #122 closed

[2018-02-20 11:34] 0crat commented on #122
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4330](https://www.0crat.com/u/g4s8)

[2018-02-20 11:58] 0crat commented on #260
The job [#260](https://github.com/zerocracy/datum/issues/260) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511157067). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the ta

[2018-02-20 12:01] 0crat commented on #248
The job [#248](https://github.com/zerocracy/datum/issues/248) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511200185). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the ta

[2018-02-20 15:43] llorllale opened #290 "QA review on issues should be limited to the activities of current job performers"
**Problem**
QA reviews are being delayed because of messages left by users other than the current job performer. Example [here](https://github.com/yegor256/jpeek/issues/67).

[This](https://github.com/yegor256/jpeek/issues/8) other issue hasn't reached QA yet, but it has un-addressed messages from non-zerocrats posted *months* ago.

**Suggestion**
QA reviews should limit themselves to the activiti

[2018-02-20 15:43] 0crat commented on #290
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 16:19] 0crat commented on #258
The job [#258](https://github.com/zerocracy/datum/issues/258) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511619587). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the ta

[2018-02-20 17:27] yegor256 commented on #290
@llorllale the quality of the job will just be "acceptable" instead of "good", that's all. We can't "forgive" anything in the ticket, the quality is the quality.

[2018-02-20 17:27] #290 closed

[2018-02-20 17:29] yegor256 opened #291 "/join"
Let's document the new `/join` page

[2018-02-20 17:31] yegor256 commented on #291
@rultor release, tag is `0.54.5`

[2018-02-20 17:32] rultor commented on #291
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13959-367054562)

[2018-02-20 17:39] rultor commented on #291
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13959-367054562) (took me 7min)

[2018-02-20 17:43] #291 closed

[2018-02-20 19:28] yegor256 commented on #280
@amihaiemil yes, totally correct

[2018-02-20 19:28] #280 closed

[2018-02-20 20:13] nick318 opened #292 "0crat added closed PR to Scope"
PR with problem: https://github.com/yegor256/cactoos/pull/694
Steps:
1 One creates a PR
2 One immediately closes it
3 0crat adds `scope `label

Expected:
0crat check if PR is closed it does not add label scope.

[2018-02-20 20:13] 0crat commented on #292
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 10:34] amihaiemil commented on #292
@nick318 It also assigned it to me for review :)

[2018-02-21 13:29] 0crat commented on #189
The job [#189](https://github.com/zerocracy/datum/issues/189) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/521329481). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the ta

[2018-02-21 17:57] t-izbassar opened #293 "Equity proof pdf has wrong format"
Equity proof pdf doesn't open in Ubuntu's standard `Document Viewer`:
![image](https://user-images.githubusercontent.com/24223260/36496568-fa66fe16-1738-11e8-8803-8ca1bc9e910b.png)

And it is also cannot be open in Chrome browser:
![image](https://user-images.githubusercontent.com/24223260/36496603-173d55f8-1739-11e8-89b8-955dd7d908ba.png)

[2018-02-21 17:57] 0crat commented on #293
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 19:41] yegor256 commented on #293
@t-izbassar report it to the Farm please.

[2018-02-21 19:41] #293 closed

[2018-02-21 19:45] 0crat commented on #283
The job [#283](https://github.com/zerocracy/datum/issues/283) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/521944712). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). I

[2018-02-21 19:46] 0crat commented on #283
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4570](https://www.0crat.com/u/g4s8)

[2018-02-21 19:47] 0crat commented on #283
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10614](https://www.0crat.com/u/yegor256)

[2018-02-21 20:31] 0crat commented on #255
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-21 21:45] driver733 opened #294 "Remove requirement to find at least three problems in the code in PR"
From the [policy](http://datum.zerocracy.com/pages/policy.html#42).

I believe that the main goal of a code review is to assure that it does not have any problems, not that it contains problems. Otherwise, the code reviewers are enabled to come up with issues and be pedantic to an unnecessary extent, if there are, indeed, no problems in the code. I think that, instead, we should reward the code re

[2018-02-21 21:45] 0crat commented on #294
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 21:51] driver733 opened #295 "Remove the requirement to mention all pull requests where the problem was fixed."
From the [policy](http://datum.zerocracy.com/pages/policy.html#42).

I believe that it is unnecessary to mention PRs in messages, because the PR shows up automatically in the issue, when it is referenced in the commit message.

[2018-02-21 21:51] 0crat commented on #295
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 09:13] t-izbassar opened #296 "The DEV should not be responsible for quality of the issue description"
According to policy rules there are rules that talking about job description. But job description is what the issue reporter is doing, not the `DEV`. But if issue is not defined well - 0crat will punish the `DEV` for that (if QA will say that quality is bad), not the issue reporter and not the `ARC` or `PO` who approved issue as bug.

I don't see logic behind that. I'm just happen to be a `DEV` as

[2018-02-22 09:13] 0crat commented on #296
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 17:10] llorllale opened #297 "Need clarification: when the budget is set by ARC, should DEV be allowed to set estimation on puzzles?"
I am not sure where else to ask this.

Maybe I've been doing PDD wrong, but whenever I leave puzzles I'm always setting the estimated time to `30min` as per the budget I always see allocated to the tasks.

Is the DEV's estimation really supposed to match the budget set by the ARC?

What if the DEV thinks a task will actually take days, but the ARC wants to allow only 30 additional mins to work on

[2018-02-22 17:11] 0crat commented on #297
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 19:33] yegor256 commented on #294
@driver733 any code has problems. The job of a reviewer is to find them. It's an important requirement. Without that we will easily have "code is good" reviews.

[2018-02-22 19:33] #294 closed

[2018-02-22 20:47] yegor256 commented on #296
@t-izbassar you should not start working with the job, if the description is not correct. Just demand the author of the ticket to formulate it correctly.

[2018-02-22 20:48] #296 closed

[2018-02-22 21:07] yegor256 opened #298 "debts.xml"
Let's start accumulating debts.

[2018-02-22 21:10] 0crat commented on #298
The job [#298](https://github.com/zerocracy/datum/issues/298) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/532111452). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-22 21:16] 0crat commented on #298
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10734](https://www.0crat.com/u/yegor256)

[2018-02-22 21:16] 0crat commented on #298
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10734](https://www.0crat.com/u/yegor256)

[2018-02-22 21:16] 0crat commented on #298
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10734](https://www.0crat.com/u/yegor256)

[2018-02-22 21:51] yegor256 commented on #298
@rultor release, tag is `0.55`

[2018-02-22 21:51] rultor commented on #298
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13981-367834506)

[2018-02-22 21:55] rultor commented on #298
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13981-367834506) (spent 3min)

[code]

[2018-02-22 21:56] yegor256 commented on #298
@rultor release, tag is `0.55`

[2018-02-22 21:57] rultor commented on #298
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13981-367836003)

[2018-02-22 22:01] rultor commented on #298
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13981-367836003) (took me 3min)

[2018-02-22 22:01] #298 closed

[2018-02-22 22:06] 0crat commented on #298
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10764](https://www.0crat.com/u/yegor256)

[2018-02-22 22:06] 0crat commented on #298
The job [#298](https://github.com/zerocracy/datum/issues/298) is now out of scope

[2018-02-23 00:06] filfreire opened #299 "RFP telegram message vs. actual page is confusing"
Today I got two similar messages stating that an RFP was published and I can join as an architect, like the screenshot below:
<img width="387" alt="screen shot 2018-02-22 at 23 57 39" src="https://user-images.githubusercontent.com/11976836/36570917-39798c10-182c-11e8-9812-24693cfb7a03.png">

When I clicked on the `join` link, I was taken to this page:
<img width="445" alt="screen shot 2018-02-22 a

[2018-02-23 00:06] 0crat commented on #299
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 08:54] g4s8 commented on #188
@nick318 please, look at telegram bot now, this bug should be fixed.

[2018-02-23 08:55] 0crat commented on #188
To cancel the order use `refuse` as in [§6](http://www.zerocracy.com/policy.html#6)

[2018-02-23 09:24] t-izbassar opened #300 "QA rule - the impediment request should clarify what exactly the impediment is"
When `DEV` or `CR` request for the impediment - it is slowing down the whole process. The fact is that to register impediment you don't need to clarify what exactly you are waiting for. I feel like this decreases the quality, as it is not clear what are the dependencies between tasks and in which order they should be finished.

Thus, there should be a QA rule that sounds something like this:

[2018-02-23 10:33] nick318 commented on #188
@g4s8 yep, fixed

[2018-02-23 10:33] #188 closed

[2018-02-23 10:39] 0crat commented on #188
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4600](https://www.0crat.com/u/g4s8)

[2018-02-23 10:39] 0crat commented on #188
The job [#188](https://github.com/zerocracy/datum/issues/188) is now out of scope

[2018-02-23 13:34] t-izbassar opened #301 "QA should not wait for response of the performer"
I noticed this behavior from QA: QA reviewing the task, found some rules violated. QA adds the comments with violated rules and await the confirmation of them from the task performers. See [here](https://github.com/yegor256/jpeek/pull/179) or [here](https://github.com/yegor256/takes/pull/803).

I feel like this is just time wasting. Why QA needs task performance approval? Just mention what is viol

[2018-02-23 13:34] 0crat commented on #301
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 19:51] llorllale commented on #301
@t-izbassar I think the goal is to try to guarantee the quality of a project's documentation and not so much about reviewing the quality of job performers themselves.

[2018-02-23 19:53] llorllale commented on #295
@driver733 I agree on the idea of reviewing the quality of the commits. What I HOPE however is that this does not lead the DEV to have to go back and fix his commits!

[2018-02-23 19:58] driver733 commented on #295
@llorllale If we review commit messages as part of the PR review, we can deduct 5 points if the DEV does not reference an issue in all of his commit messages.

[2018-02-23 20:00] llorllale commented on #295
@driver733 sure, but after seeing the way QA reviews are done I'm afraid that `QA` would request the `DEV` to fix things before concluding with the review

[2018-02-23 20:27] driver733 commented on #295
@llorllale The DEVs will the points deductions and will be more careful with their commit messages in the future. (Since commit messages cannot be changed)

[2018-02-23 20:29] llorllale commented on #295
@driver733 yes, I'm OK with just taking the penalty and moving on. Not sure if the `ARC` would see it that way.

[2018-02-24 20:31] 0crat commented on #255
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 11:59] 0crat commented on #260
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 12:01] 0crat commented on #248
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 16:20] 0crat commented on #258
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 18:15] g4s8 commented on #255
@0crat waiting #284

[2018-02-25 18:16] 0crat commented on #255
@g4s8 The impediment for [#255](https://github.com/zerocracy/datum/issues/255) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-26 13:30] 0crat commented on #189
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 17:02] g4s8 commented on #248
@skapral PR zerocracy/farm#641 was merged, can we close?

[2018-02-26 18:58] skapral commented on #248
@g4s8 ok.

[2018-02-26 18:58] #248 closed

[2018-02-26 19:04] 0crat commented on #248
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4765](https://www.0crat.com/u/g4s8)

[2018-02-26 19:04] 0crat commented on #248
The job [#248](https://github.com/zerocracy/datum/issues/248) is now out of scope

[2018-02-26 19:43] 0crat commented on #283
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 20:05] 0crat commented on #212
The job [#212](https://github.com/zerocracy/datum/issues/212) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/572005665). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [t

[2018-02-26 20:08] yegor256 commented on #300
@t-izbassar sounds right. In the future, please report policy changes/bugs to this repo: https://github.com/zerocracy/zerocracy.github.io

[2018-02-26 20:12] yegor256 commented on #300
@t-izbassar fixed here: https://github.com/zerocracy/zerocracy.github.io/commit/31334447eabfcba64b770d54417f49d93618140

[2018-02-26 20:12] #300 closed

[2018-02-27 06:49] yegor256 commented on #299
@filfreire it was a bug, already fixed in https://github.com/zerocracy/farm/issues/628 Thanks.

[2018-02-27 06:49] #299 closed

[2018-02-27 10:54] amihaiemil commented on #295
@driver733 I think it should be exactly the other way around: reference the Issue only in the PR's description once, and don't reference it in the commit messages at all, because:

1. Nobody looks in the commit messages.

2. It polutes the Issue, because Github shows all the commits links where the issue was mentioned.

[2018-02-27 17:48] yegor256 opened #304 "more details for equity.xml"
Let's add more.

[2018-02-27 17:56] yegor256 commented on #304
@rultor release, tag is `0.56`

[2018-02-27 17:58] rultor commented on #304
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14010-368968015)

[2018-02-27 18:01] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14010-368968015) (took me 3min)

[2018-02-27 18:02] #304 closed

[2018-02-27 18:53] skapral opened #305 "QA should not be assigned to the PRs which were declined?"
The precedent was first seen [here](https://github.com/yegor256/jpeek/pull/179).

IMO the fact that declined task was assigned on QA contradicts with paragraph 30 from policy, which in current version states that:

The PR caused questions from QA. However, what is the reason to question the PR which was already declined because of bad quality?

[2018-02-27 18:53] 0crat commented on #305
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 02:15] driver733 commented on #297
@llorllale With pdd and puzzles, each puzzle is supposed to be small and should be able to be completed in a short amount of time. If the task is too large and cannot by any means be done in that time period, than you do what you can and generated new puzzles.
I think that you should read [this](http://www.yegor256.com/2010/03/04/pdd.html)

[2018-02-28 03:21] driver733 commented on #295
@amihaiemil I disagree.
1. Although nobody looks at the commit messages directly, I believe that it is important for them to appear in the issue they are associated with (I will explain that in detail in my second point)
2. I think that the issues benefit from the commit messages coming up when the issue is referenced.
Here is an example. There is a discussion in the ticket which leads to a certai

[2018-02-28 07:16] nick318 opened #306 "Review job is not assigned to anyone"
**The problem:**
For a few days is no assignee for a pull request
List of mentioned PR:
https://github.com/yegor256/cactoos/pull/713
https://github.com/yegor256/cactoos/pull/717
https://github.com/yegor256/cactoos/pull/716

**Expected:**
0crat assignees the PR to somebody

[2018-02-28 07:16] 0crat commented on #306
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 08:41] t-izbassar commented on #306
@nick318 check the status of the project at the board. Cactoos seem to have problems with funds, that's why no tasks will be assigned.

[2018-02-28 08:47] t-izbassar commented on #295
@driver733 the thing is that those GitHub mentions might be with just some connected issues or even irrelevant ones for the task. For example someone might link issue from another PR that is related to 0crat, and not to the issue of the project itself. That's why it is important to have a concrete link from comments saying concrete PR, where problem was actually solved. GitHub links might be misle

[2018-02-28 08:52] amihaiemil commented on #295
@driver733 Well, I still think they are not so important. Because nobody is going to dig deep into them anyway. Everybody is going to look at the final form of the PR. The last "Files changed"... and if they want to study that PR in more detail, they can check the commit history there, directly -- no need to polute the discussion in the Issue with 50 links to various commits.

PS. The fact that Ye

[2018-02-28 08:57] t-izbassar commented on #295
@amihaiemil I completely disagree. You are talking about the PR only, but there is a git history with commits and their messages. And it is really important to see why change was made this way - and the answer will be in the issue discussion or in the PR discussion. That's why it is important to have PR link from issue and also issue links in commits.

[2018-02-28 09:01] amihaiemil commented on #295
@t-izbassar When was the last time you checked the whole commit history of a git repo? Personally, I can't even read the graphical representation of Eclipse, let alone understand the wall of text from the terminal?

You may be interested in the last commit maybe, then you see where the user made it, on what branch, and follow to the PR -- we have the requirement that each changes be done on a bran

[2018-02-28 09:02] amihaiemil commented on #295
@t-izbassar I think if you really must follow the whole git history, without being able to find a PR, the project has many more problems that need to be solved, not just linking Issues in commit messages. If it's so chaotic that you need to look into it in the first place, then those links won't help you, you won't know where to follow next...

[2018-02-28 09:48] t-izbassar commented on #295
@amihaiemil don't assume what I might be interested in or not. That's my concerns and not only mine.

The common usage of commit links is when you want to know how this particular task was done. For example you have issue 123 and for some reason you want to know how it was done in the codebase level. What was used to achieve that, how was docker image create, how was integration test added - whate

[2018-02-28 12:03] llorllale commented on #297
@driver733 it's still puzzling (pun) that a DEV can estimate a puzzle when in the end it will be the ARC who sets the budget for it.

[2018-02-28 13:55] 0crat commented on #260
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-28 15:45] nick318 commented on #306
@t-izbassar got it, thank you

[2018-02-28 15:45] #306 closed

[2018-02-28 16:19] 0crat commented on #258
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-28 18:35] flslkxtc opened #307 "0crat assignes closed issues"
All 3 of my current jobs were assigned to me after they were successfully closed.
Here's links to those assignments:
- https://github.com/yegor256/cactoos/issues/646#issuecomment-369334408
- https://github.com/yegor256/cactoos/issues/648#issuecomment-369335455
- https://github.com/yegor256/cactoos/issues/641#issuecomment-366071116

[2018-02-28 18:35] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 18:48] nick318 commented on #307
@yegor256 same here https://github.com/yegor256/cactoos/issues/636

[2018-02-28 19:36] yegor256 commented on #307
@flslkxtc fixed, thanks. It's a dup of #658

[2018-02-28 19:36] #307 closed

[2018-03-01 11:43] llorllale commented on #243
@amihaiemil is your country listed in Yoti's list of [supported passports(https://yoti.zendesk.com/hc/en-us/articles/209348425-What-passports-do-Yoti-currently-support-)?

I'm currently trying to identify myself to Yoti. My country is on that list but for some reason it's not working.

[2018-03-01 11:46] amihaiemil commented on #243
@llorllale Yes, it is, but I don't have a passport so I just sent an email directly to Yegor, with my ID (this is for exceptional cases). If your country is listed and your passport is not working, contact their support, they are very responsive.

[2018-03-01 13:30] 0crat commented on #189
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-01 14:12] llorllale opened #308 "Remove rule "waiting period" on DEV after QA has started review on a DEV ticket"
**Problems**
* DEV's work (the PR) is merged but the waiting period expires while QA review is in progress. DEV is resigned from the job without warning (see DEV job [here](https://github.com/yegor256/jpeek/issues/8) and relevant PR [here](https://github.com/yegor256/jpeek/pull/206). I think this is a pretty serious issue.
* 0crat failed to warn DEV about the impending timeout

**Proposal**
After

[2018-03-01 14:12] 0crat commented on #308
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 19:44] 0crat commented on #283
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-02 07:56] g4s8 commented on #260
@0crat refuse

[2018-03-02 07:57] g4s8 commented on #258
@0crat waiting

[2018-03-02 07:58] 0crat commented on #260
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#260](https://github.com/zerocracy/datum/issues/260), please stop working. Reason for job resignation: Order was cancelled

[2018-03-02 07:59] 0crat commented on #260
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 07:59] 0crat commented on #258
@g4s8 The impediment for [#258](https://github.com/zerocracy/datum/issues/258) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 08:52] 0crat commented on #163
The job [#163](https://github.com/zerocracy/datum/issues/163) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/610869115). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cl

[2018-03-02 18:38] g4s8 commented on #189
@0crat refuse

[2018-03-02 18:39] 0crat commented on #189
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#189](https://github.com/zerocracy/datum/issues/189), please stop working. Reason for job resignation: Order was cancelled

[2018-03-02 18:40] 0crat commented on #189
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 18:51] yegor256 commented on #301
@t-izbassar the goal is to punish the performer with this extra waiting time. Next time you will think twice whether to follow the rules or not. The same happens with road police inspectors. They take a lot of time to give you a ticket, moving very slowly, in order to give you extra punishment :)

[2018-03-02 18:51] #301 closed

[2018-03-02 18:54] 0pdd opened #310 "App.java:28-30: App is not implemented. It should parse..."
The puzzle `255-3767036a` from #255 has to be resolved:

https://github.com/zerocracy/datum/blob/ea9c8b7026d921dea2af7c229cfeb54064c2f8f7/validator/src/main/java/com.zerocracy.validator/App.java#L28-L30

The puzzle was created by g4s8 on 17-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-03-02 18:54] 0crat commented on #310
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 18:54] 0pdd opened #311 "App.java:31-33: App should be started in Rakefile for..."
The puzzle `255-48d4be5a` from #255 has to be resolved:

https://github.com/zerocracy/datum/blob/ea9c8b7026d921dea2af7c229cfeb54064c2f8f7/validator/src/main/java/com.zerocracy.validator/App.java#L31-L33

The puzzle was created by g4s8 on 17-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-03-02 18:54] 0crat commented on #311
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 18:54] 0crat commented on #310
Job [#310](https://github.com/zerocracy/datum/issues/310) is now in scope, role is `DEV`

[2018-03-02 18:54] 0crat commented on #311
Job [#311](https://github.com/zerocracy/datum/issues/311) is now in scope, role is `DEV`

[2018-03-02 18:59] yegor256 commented on #308
@llorllale we can't do that. The rule is strict: 0/100. While the job is yours, it's yours. Who is making you troubles -- it's your problem. We don't touch you until the job is done and closed. Either the QA is not answering, or even if Zerocrat is not answering, doesn't matter. It's either done or not and it's **only your** responsibility. See http://www.zerocracy.com/policy.html#7

Also, read th

[2018-03-02 18:59] #308 closed

[2018-03-02 19:03] g4s8 commented on #255
@yegor256 PR #284 was merged and todos #310, #311 were submited. Can we close?

[2018-03-02 19:37] t-izbassar commented on #301
@yegor256 nice)

[2018-03-02 20:36] llorllale commented on #308
@yegor256
Someone with a wider scope than `DEV` needs to be incentivized somehow to ensure a "smooth" workflow. Either with punishments or rewards.

Years ago when I first started working as a corporate slave and was young and more stupid, I felt the misguided need to keep pushing all my dependencies in order to get my job done ("QA what's taking so long?!", "PO please answer my doubts!", "release

[2018-03-03 08:06] 0crat commented on #260
The job [#260](https://github.com/zerocracy/datum/issues/260) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/620808853). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cl

[2018-03-03 20:06] 0crat commented on #212
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-04 05:18] yegor256 opened #312 "redirect pages"
Let's redirect them.

[2018-03-04 05:19] #312 closed

[2018-03-04 05:51] yegor256 opened #313 "/pages don't deploy to gh-pages"
Let's fix

[2018-03-04 05:57] yegor256 commented on #313
@rultor release, tag is `0.57.1`

[2018-03-04 05:58] rultor commented on #313
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14034-370204498)

[2018-03-04 06:02] rultor commented on #313
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14034-370204498) (took me 3min)

[2018-03-04 06:20] yegor256 opened #314 "templates.xsl is broken"
after #303

[code]

[2018-03-04 07:20] 0pdd opened #315 "par.xsl:24-26: This test is ignored because template PAR..."
The puzzle `314-e6e34cf3` from #314 has to be resolved:

https://github.com/zerocracy/datum/blob/a9e5c8a898b6f925d8c2b6942f1ee1d5e88bce76/xsl-test/templates/par.xsl#L24-L26

The puzzle was created by Yegor Bugayenko on 04-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and th

[2018-03-04 07:23] rultor commented on #314
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14035-370207714) (took me 3min)

[2018-03-04 07:37] #314 closed

[2018-03-04 17:09] g4s8 commented on #212
@0crat status

[2018-03-04 17:11] 0crat commented on #212
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#212](https://github.com/zerocracy/datum/issues/212) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [6days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward a

[2018-03-04 17:12] g4s8 commented on #212
@yegor256 you've [self-assigned](https://github.com/zerocracy/datum/issues/212#event-1452975288) this ticket, but 0crat reassigned it to me

[2018-03-05 08:10] amihaiemil commented on #260
@0crat waiting

[2018-03-05 08:11] 0crat commented on #260
@amihaiemil The impediment for [#260](https://github.com/zerocracy/datum/issues/260) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-05 15:31] yegor256 commented on #212
@0crat assign me

[2018-03-05 15:33] 0crat commented on #212
@yegor256 The job [#212](https://github.com/zerocracy/datum/issues/212) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641534366). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-05 15:34] 0crat commented on #212
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-06 12:12] amihaiemil commented on #260
@skapral PR for this has been merged, please close this. I simplified the logic (no more regex) and wrote unit tests. All should be fine now.

[2018-03-06 12:45] amihaiemil opened #316 "zerocracy should have a StackOverflow tag"
Zerocracy should be present on StackOverflow, since a lot of users will have questions and many of them won't take the time to study all the open and closed Issues in ZC's repos. Besides, Issues are more for bug reports than for questions.

[2018-03-06 12:45] 0crat commented on #316
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-06 12:45] amihaiemil commented on #316
@yegor256 I think you should take care of this :)

[2018-03-06 13:16] skapral commented on #260
Ok

[2018-03-06 13:16] #260 closed

[2018-03-06 13:23] amihaiemil commented on #260
@skapral please address the comment to me (the QA will probably ask you, anyway) :)

[2018-03-06 13:28] llorllale commented on #264
@yegor256 @amihaiemil @skapral
I want to voice my concern by following up on @skapral 's comment:

The fact that today it's possible for the PR to be merged and yet the DEV **still may not be paid** is a giant showstopper for me.

As DEV, this is my sacred, core principle:

***If my PR gets merged, I should be paid, period.***

For me, the current workflow and [point 7](http://www.zerocracy.com/po

[2018-03-06 13:31] 0crat commented on #260
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-06 13:32] amihaiemil commented on #264
@llorllale I agree with you, but there is a little flaw in this principle:

A PR may be merged but it doesn't necessarily mean it solved the issue... but it's only a little flaw since we've been practicing this for a lot of time and 99.9% of the time one PR was enough.

I say we enable this principle and see how we can solve the flaw later. It happened too little times in order to be a criterion f

[2018-03-06 13:44] skapral commented on #264
Since all issues are estimated at 30 mins, hard to imagine for me the one which require more than one PR. Easier to restrict it then adopt IMO.

Good point. When I wrote an initial proposal, I came from the fact that neither 0crat, nor issue prime cannot close the issue. Usually only the architect and issue originator can do it, so the part "Once reviewer accepted the PR, it's ARC responcibility n

[2018-03-06 13:48] amihaiemil commented on #264
@skapral I also said the 30min stuff. So I think the following:

1. PR gets merged
2. DEV gets paid instantly
3. Issue author checks the solution and the solution can either complete or partial but with puzzles for continuing.
4. Issue author closes the Issue no matter what, but if the solution is not complete and there are also no puzzles, then the ARCH gets punished, since it allowed an incomple

[2018-03-06 13:48] amihaiemil commented on #260
@skapral ping, pls edit that comment

[2018-03-06 13:52] skapral commented on #264
Generally, this can be avoided by combining two tricks:

1. Everyone has fixed time per issue for their responsibilities. You may speculate it anyway, but eventually your time will come to the end.

2. (draft) To provide some penalty to DEV for constantly creating PRs with bad quality. This will prevent collusion between DEV and PR.

[2018-03-06 13:53] amihaiemil commented on #264
@yegor256 I think you need to take into account these propsals. If there are no DEVs on the platform, there is no ZC :)

And this very struct 0/100 thing was always my discussion with all my friends whom I told about XDSD. As said above, if we have PDD, we can loosen the 0/100 rule and make everyone happy -- the project would also move a lot faster.

[2018-03-06 13:55] skapral commented on #264
@amihaiemil as originator, I don't want this issue to become a flame. Until then all we have is a separate ideas. Let's summarize our ideas to some straight proposal, then call @yegor256.

[2018-03-06 13:58] amihaiemil commented on #264
@skapral well, do you agree with what I said [here](https://github.com/zerocracy/datum/issues/264#issuecomment-370786290)? I agreed with @llorllale and with you. If you guys agree with that proposal of mine, then we're fine, right?

If so, just update the Issue's title to "Pay DEV instantly after PR is merged" and add as description my comment.

Let's wait for @llorllale (if you are fine with it)

[2018-03-06 13:59] skapral commented on #260
@amihaiemil Done I hope -_\

[2018-03-06 14:03] skapral commented on #264
I have no objections to you guys, I just want to collect all of them to the concrete one-comment proposal.

[2018-03-06 14:03] llorllale commented on #264
@amihaiemil I agree but still wonder where does QA fit in your proposal?

[2018-03-06 14:08] amihaiemil commented on #264
@llorllale I think QA should be the one to give the verdict to 0crat. Something like: "quality unacceptable" -- so, it's even lower than "bad"... "bad" is not cool, somebody doesnt get paid, but at least the project is not in an incosistent state. "unacceptable" means that that Issue has to be closed now (or assign to someone else, who won't know what is left to be done, because there are no puzzl

[2018-03-06 14:12] skapral commented on #264
@llorllale @amihaiemil BTW, don't you think that it is logical for QA to give the verdict even before the issue/PR are closed and everyone got their money, and lost the interest to fix anything?

Also, I have this issue about QA, JFYI: https://github.com/zerocracy/datum/issues/305

[2018-03-06 14:14] amihaiemil commented on #264
@skapral yes, maybe, but let's not discuss that now. It's another topic, not related to this already long thead :)

[2018-03-06 14:16] llorllale commented on #264
@skapral that's what I was thinking: the QA review on the DEV should occur before the PR gets merged

[2018-03-06 14:18] llorllale commented on #264
@amihaiemil I'm having trouble understanding your [comment](https://github.com/zerocracy/datum/issues/264#issuecomment-370792218). Could you merge the steps it would entail with your [proposal](https://github.com/zerocracy/datum/issues/264#issuecomment-370786290)?

[2018-03-06 14:24] amihaiemil commented on #264
@llorllale @skapral  Yes, here it is, layed out (you can ignore my prev comments and propose this):

1) PR gets merged
2) DEV gets paid instantly
3) Author of Issue reviews the solution. If they are happy, all is fine, QA can say "quality good"
4) If author is not fine with solution (this means that it is incomplete and there are also no puzzles for continuing), then author tells QA to give the ve

[2018-03-06 14:26] llorllale commented on #264
@amihaiemil agreed

[2018-03-06 14:27] skapral commented on #264
@llorllale One thing is for sure: either QA should validate opened PR and give remarks, like they are doing it now, or they should validate closed stuff, but stop giving remarks and waiting for anything: just pull the "good/bad quality" trigger.

[2018-03-06 14:28] llorllale commented on #264
@skapral I agree, but let's leave that topic for another ticket

[2018-03-06 14:29] skapral commented on #264
@amihaiemil It is not enough. Closed PR but opened issue is not the only place which is dependent on human factor. What about PRs on review, with hanged response on some side?

[2018-03-06 14:29] skapral commented on #264
@llorllale You are right, I'll create an issue for that.

[2018-03-06 14:39] amihaiemil commented on #264
@skapral That is also nother issue. We want to clearify the payment of the dev (loosen the 0/100 princple) -- hanged PR is for another issue as well, I would say. If PR is hanged then it's either really the DEV's fault or the CR's, or the ARCH's -- those are topics for new Issues, how to punish them properly.

[2018-03-06 14:45] skapral opened #317 "QA is blocking on the feedback from lost job performer"
First mentioned here: https://github.com/zerocracy/datum/issues/264#issuecomment-370793572
Consequences may be seen here: https://github.com/yegor256/jpeek/pull/179

Quote from policy, paragraph [42](http://www.zerocracy.com/policy.html#42)

This note in policy could cause unsolvable situations from QA point of view: since the PR and issue are closed and job performers doesn't have any more intere

[2018-03-06 14:45] 0crat commented on #317
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-06 15:10] ypshenychka commented on #260
@amihaiemil According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please provide a link to corresponding PR in any of your messages.

[2018-03-06 15:28] amihaiemil commented on #260
@ypshenychka right, here is the PR: https://github.com/zerocracy/farm/pull/720

[2018-03-06 15:55] ypshenychka commented on #260
@amihaiemil thank you

[2018-03-06 15:55] 0crat commented on #260
Are you speaking to me or about me [here](https://github.com/zerocracy/datum/issues/260#issuecomment-370828537). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 15:55] ypshenychka commented on #260
@0crat quality acceptable

[2018-03-06 15:55] 0crat commented on #260
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-03-06 15:56] 0crat commented on #260
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-06 15:56] 0crat commented on #260
Order was finished, quality was "acceptable": +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-06 15:56] 0crat commented on #260
@ypshenychka The job [#260](https://github.com/zerocracy/datum/issues/260) is now out of scope

[2018-03-06 15:59] 0crat commented on #189
The job [#189](https://github.com/zerocracy/datum/issues/189) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/651559205). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cl

[2018-03-06 16:31] yegor256 opened #318 "more details into QA reviews.xml"
Let's add more...

[2018-03-06 16:38] yegor256 commented on #318
@rultor release, tag is `0.57.3`

[2018-03-06 16:39] rultor commented on #318
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14060-370843928)

[2018-03-06 16:42] rultor commented on #318
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14060-370843928) (took me 3min)

[2018-03-06 16:46] #318 closed

[2018-03-06 17:12] yegor256 opened #319 "reviews.xml requested is not necessary"

[2018-03-06 17:13] #319 closed

[2018-03-06 20:35] skapral commented on #264
@amihaiemil ok, I just outlined it so we don't forget the second part.

Speaking about your [plan](https://github.com/zerocracy/datum/issues/264#issuecomment-370797214), I have a couple of concerns about point 4:

1. @llorllale [outlined](https://github.com/zerocracy/datum/issues/264#issuecomment-370794704) an open question about QA role in the process, and seems like the suitable place to clarify

[2018-03-07 10:14] t-izbassar commented on #163
@skapral is this is still relevant issue? I've tried to invite Zerocracy to slack and it's seems ok now.

[2018-03-07 10:19] t-izbassar commented on #163
@skapral yes it is still relevant. Sorry for distraction. Just invited zerocracy to the channel.

[2018-03-07 10:50] t-izbassar commented on #163
@0crat waiting for [PR](https://github.com/zerocracy/farm/pull/744) to be merged

[2018-03-07 10:50] 0crat commented on #163
@t-izbassar You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-07 10:50] 0crat commented on #163
@t-izbassar The impediment for [#163](https://github.com/zerocracy/datum/issues/163) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-07 11:26] amihaiemil commented on #264
@skapral Yes, you are right, the Issue reportare (originator, as you call it), has no real motivation to check the solution. Well, I think you have 2 situations: 1 it is an outsider who may not care anymore about the project or 2 it is an insider, owrking with us, which should care. Besides, it shouldn't be hard to check the solution -- the bug reports are supposed to be as specific and concrete a

[2018-03-07 12:45] skapral commented on #264
@amihaiemil

Something tells me that even insider, according to @yegor256's paradigm of relations, is not supposed to care too much about it. Well - there is a chance that he cares, when he is personally interested in some fix. But it is definitely not an axiom. And when he really cares, there may be a risk from originator's side to lobby some ideas through constantly causing ARC to be punished fo

[2018-03-07 16:10] yegor256 opened #320 "failures counter into debts.xml"
Let's add counters.

[2018-03-07 16:40] yegor256 commented on #320
@rultor release, tag is `0.58`

[2018-03-07 16:42] rultor commented on #320
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14071-371200310)

[2018-03-07 16:45] rultor commented on #320
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14071-371200310) (took me 3min)

[2018-03-07 16:54] #320 closed

[2018-03-07 17:11] 0crat commented on #320
The job is not in WBS, can't close

[2018-03-08 09:03] g4s8 commented on #255
@yegor256 ping

[2018-03-08 09:13] #313 closed

[2018-03-08 09:28] 0crat commented on #313
The job is not in WBS, won't close the order

[2018-03-08 10:13] yegor256 opened #323 "'none' as job name"
Let's make it possible

[2018-03-08 10:17] yegor256 commented on #323
@rultor release, tag is `0.58.1`

[2018-03-08 10:18] rultor commented on #323
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14080-371444209)

[2018-03-08 10:22] rultor commented on #323
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14080-371444209) (took me 3min)

[2018-03-08 10:24] #323 closed

[2018-03-08 10:39] 0crat commented on #323
The job is not in WBS, won't close the order

[2018-03-08 12:34] amihaiemil commented on #189
@0crat refuse

[2018-03-08 12:47] 0crat commented on #189
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#189](https://github.com/zerocracy/datum/issues/189), please stop working. Reason for job resignation: Order was cancelled

[2018-03-08 12:48] 0crat commented on #189
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-08 16:44] yegor256 opened #325 "recharge code into catalog.xml"
Let's make it possible to recharge a project

[2018-03-08 17:03] yegor256 commented on #325
@rultor release, tag is `0.59`

[2018-03-08 17:04] rultor commented on #325
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14087-371552490)

[2018-03-08 17:05] skapral opened #326 "To pay DEV for PR right at the moment it was merged to upstream"
The fact that today it's possible for the PR to be merged and yet the DEV still may not be paid (for example, because 10 days were gone after PR with fix was closed but issue remain opened) could be a giant showstopper for 0crat participants.

The proposal is to make DEV rewarded right at the moment when the PR passed review by REV and ARC and gone to upstream. There is no reason to postpone the r

[2018-03-08 17:05] 0crat commented on #326
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 17:05] skapral commented on #326
@amihaiemil @llorllale JFYI.

[2018-03-08 17:07] llorllale commented on #326
@skapral +1

[2018-03-08 17:07] rultor commented on #325
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14087-371552490) (took me 3min)

[2018-03-08 17:13] #325 closed

[2018-03-08 17:28] 0crat commented on #325
The job is not in WBS, won't close the order

[2018-03-09 08:10] t-izbassar commented on #163
@skapral it’s fixed in #744. Can you close this one?

[2018-03-09 10:34] #163 closed

[2018-03-09 10:49] 0crat commented on #163
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-09 10:50] 0crat commented on #163
The job [#163](https://github.com/zerocracy/datum/issues/163) is now out of scope

[2018-03-09 11:01] ypshenychka commented on #163
@0crat quality good

[2018-03-09 11:02] 0crat commented on #163
Order was finished, quality is "good": +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-09 11:02] 0crat commented on #163
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-09 11:49] llorllale commented on #243
@amihaiemil @yegor256 FYI it took Yoti 8 days to fix my problem but it's finally working for me

[2018-03-09 15:50] yegor256 opened #327 "XSL 2.0 only"
Let's use XSL 2.0 only

[2018-03-09 15:59] yegor256 commented on #327
@rultor release, tag is `0.59.1`

[2018-03-09 16:00] rultor commented on #327
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14099-371854369)

[2018-03-09 16:04] rultor commented on #327
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14099-371854369) (took me 3min)

[2018-03-09 16:06] #327 closed

[2018-03-09 16:34] yegor256 commented on #255
@g4s8 thanks

[2018-03-09 16:34] #255 closed

[2018-03-09 16:50] 0crat commented on #255
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-09 16:50] 0crat commented on #255
The job [#255](https://github.com/zerocracy/datum/issues/255) is now out of scope

[2018-03-09 17:18] ypshenychka commented on #255
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to registered [impediment](https://github.com/zerocracy/datum/issues/255#issuecomment-368331150).

[2018-03-09 17:28] g4s8 commented on #255
@ypshenychka fixed, please look again

[2018-03-09 17:56] ypshenychka commented on #255
@g4s8 thank you

[2018-03-09 17:56] ypshenychka commented on #255
@0crat quality acceptable

[2018-03-09 17:57] 0crat commented on #255
Order was finished, quality is "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-09 17:57] 0crat commented on #255
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-10 09:43] nick318 opened #328 "Vacation mode for slack does not work"
Vacation mode for slack does not work
Steps:
1 Write to slack bot:
vacation on

Actual Result:
Can't understand "on", try one of these:
Expected:
vacation mode is on

[2018-03-10 09:43] 0crat commented on #328
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-13 18:20] yegor256 commented on #328
@nick318 fixed in https://github.com/zerocracy/farm/commit/bf53d085c7f51f3bc13e2b416c10a6cdcd557773

[2018-03-13 18:21] #328 closed

[2018-03-13 18:21] yegor256 commented on #316
@amihaiemil I don't think they will accept that, since it's not a software product or a technology. Maybe pm.stackexchange.com?

[2018-03-13 18:23] driver733 commented on #295
@yegor256 I fully support this and believe that that is the way it should be.

[2018-03-13 18:44] yegor256 commented on #305
@skapral imagine a situation: there is a PR, which was reviewed by REV and rejected. We have to pay to REV and ARC. We need to confirm that they actually did their job right. We need QA to validate that. See?

[2018-03-13 18:44] amihaiemil commented on #316
@yegor256 that could also work. Basically, questions, unclarities etc, should be settled there, rather than a flood of tickets :)

[2018-03-13 21:11] skapral commented on #305
@yegor256 good argument, didn't thought of that from this perspective.

So, taking your response literally, am I got it correctly that QA is supposed to estimate the quality of DEV/REV/ARC/QA work, not the quality of final artifacts provided? Even if so, there is some ambiguity in procedure.

Imagine the situation: some PR was rejected because of bad quality and lost DEV, who was too lazy and proc

[2018-03-14 16:14] 0crat commented on #295
The job is not in WBS, won't close the order

[2018-03-14 22:01] yegor256 commented on #305
@skapral QA pays attention to the quality of process, not the quality of code/artifacts. QA will validate the work of the REV and ARC. If they managed to reject the PR correctly, the quality will be "acceptable". Let's ask them to confirm that this is how they understand our current Policy. @ypshenychka  @elenavolokhova what do you think?

[2018-03-15 07:56] skapral commented on #305
@yegor256

Policy doesn't state it anywhere. It has paragraph [30](http://www.zerocracy.com/policy.html#30), which just enlists the possible outcomes, and paragraph [42](http://www.zerocracy.com/policy.html#42), which enlists a list of requirements to good and bad outcomes. IMO the least which should be done is to make it explicit that "if REV or ARC rejected the PR with quality violations, verdic

[2018-03-15 08:19] elenavolokhova commented on #305
@yegor256 Yes, this is how I understand our Policy. But I agree with @skapral that it is not perfectly explained and some logic lives in our minds instead of Policy.
I mean:
- QA evaluates the quality of process, not the quality of code/artifacts.
- DEV is responsible and paid for Issue and should ask issue reporter to fix all process issues found (like missing description, formatting or addressin

[2018-03-15 08:45] skapral commented on #305
@elenavolokhova, some corrections

I wouldn't put it that straightforward yet. For example, IMO the best candidate for monitoring fixing the issue description and title is ARC - he is the one who puts the issue in scope and he has an ability to reject the issue on early stage and spend project resources from it.

I think it may be a subject for a good separate issue.

Issue may not be fixed yet, w

[2018-03-15 09:21] ypshenychka commented on #305
@yegor256 You're right. This is how I understand the Policy too. It's difficult to document all possible cases and QA reaction on them, but the most common situation may be written with more detailed description of when we consider ticket as 'good\acceptable\bad' to avoid future discussions.

[2018-03-15 13:04] yegor256 commented on #316
@amihaiemil ok, we will do that, once Zerocracy is launched.

[2018-03-15 13:05] yegor256 commented on #316
@amihaiemil maybe we can create zerocracy.stackexchange.com?

[2018-03-15 13:07] yegor256 commented on #316
@amihaiemil or maybe xdsd.stackexchange.com?

[2018-03-15 14:07] amihaiemil commented on #316
@yegor256 zerocracy.stackexchange.com is better. Zerocracy is just an implementation of XDSD and PDD. There may be more in the future, competitors :P

[2018-03-15 19:46] yegor256 opened #330 "add QA tasks to agenda"
Let's add quality review jobs to the agenda of QA. Also, let's remove them from the agenda, when quality verdicts are given.

[2018-03-15 19:47] yegor256 commented on #330
@0crat assign @carlosmiranda

[2018-03-15 19:47] yegor256 commented on #330
@0crat refuse

[2018-03-15 20:15] yegor256 commented on #317
@skapral but QA is interested in closing the task (in order to get the money). The QA won't wait for too long. Or I missed the point?

[2018-03-15 20:15] yegor256 commented on #316
@amihaiemil yes, we will do it.

[2018-03-15 20:28] 0crat commented on #330
@yegor256 Job `gh:zerocracy/datum#330` is not assigned, can't get performer

[2018-03-15 20:29] 0crat commented on #330
@yegor256 The job [#330](https://github.com/zerocracy/datum/issues/330) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/742025039). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If th

[2018-03-15 20:35] 0crat commented on #330
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-15 20:36] 0crat commented on #330
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-16 00:21] carlosmiranda commented on #330
@yegor256 this is also in https://github.com/zerocracy/farm/issues/822, should I use that ticket instead?

[2018-03-16 06:37] skapral commented on #317
@yegor256 they _must_ wait, doesn't they?

[2018-03-16 18:44] t-izbassar commented on #189
@yegor256 this issue is a duplicate of the [402](https://github.com/zerocracy/farm/issues/402). I think you should close one of them so that not to pay twice for the same job.

[2018-03-16 19:41] yegor256 commented on #189
@0crat refuse

[2018-03-16 19:41] 0crat commented on #189
@yegor256 The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#189](https://github.com/zerocracy/datum/issues/189), please stop working. Reason for job resignation: Order was cancelled

[2018-03-16 19:42] #189 closed

[2018-03-19 08:13] g4s8 commented on #258
@t-izbassar PR's #309 and zerocracy/farm#693 were merged,`@ todo` #820 was submitted, can we close then?

[2018-03-19 09:51] t-izbassar commented on #258
@g4s8 sure. Thanks.

[2018-03-19 09:51] #258 closed

[2018-03-19 10:06] 0crat commented on #258
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-19 10:06] 0crat commented on #258
The job [#258](https://github.com/zerocracy/datum/issues/258) is now out of scope

[2018-03-19 10:26] ypshenychka commented on #258
@t-izbassar According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zerocracy/datum/issues/258#issuecomment-361629540) by indicating an addressee in the beginning.

[2018-03-19 10:28] ypshenychka commented on #258
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details on the registered [impediment](https://github.com/zerocracy/datum/issues/258#issuecomment-369849159)

[2018-03-19 10:36] g4s8 commented on #258
@ypshenychka sure, changed comment

[2018-03-19 12:26] ypshenychka commented on #258
@g4s8 Thank you!

[2018-03-19 16:43] t-izbassar commented on #258
@ypshenychka

Done. However, shouldn't it be addressed to job performer? As issue reporter not interested in the ticket as long as it is already closed. But feel free to ignore this remark.

[2018-03-19 18:17] ypshenychka commented on #258
@t-izbassar It's in job performer's interest to ask you to make this change prior to QA review.

[2018-03-19 18:17] ypshenychka commented on #258
@t-izbassar Thank you!

[2018-03-19 18:18] ypshenychka commented on #258
@0crat quality acceptable

[2018-03-19 18:19] 0crat commented on #258
Order was finished, quality is "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-19 18:19] 0crat commented on #258
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-20 06:02] carlosmiranda commented on #330
@yegor256 ping

[2018-03-20 08:17] yegor256 commented on #330
@carlosmiranda you are right, it's a duplicate

[2018-03-20 08:54] yegor256 commented on #330
@0crat status

[2018-03-20 08:54] 0crat commented on #330
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#330](https://github.com/zerocracy/datum/issues/330) is [in scope](http://www.zerocracy.com/policy.html#14) for 5days
  * The role is `DEV`
  * The job is assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) for [5days](http://www.zerocracy.com/policy.html#8)
  * There

[2018-03-20 09:09] #330 closed

[2018-03-20 09:09] 0crat commented on #330
The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#330](https://github.com/zerocracy/datum/issues/330), please stop working. Reason for job resignation: GitHub issue was closed as INVALID

[2018-03-20 09:09] yegor256 commented on #330
@0crat status

[2018-03-20 09:09] 0crat commented on #330
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#330](https://github.com/zerocracy/datum/issues/330) is [in scope](http://www.zerocracy.com/policy.html#14) for 5days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are banned and

[2018-03-20 09:13] yegor256 commented on #330
@0crat out

[2018-03-20 09:14] 0crat commented on #330
@yegor256 The job [#330](https://github.com/zerocracy/datum/issues/330) is now out of scope

[2018-03-20 09:16] yegor256 commented on #317
@skapral you are right, see: https://github.com/zerocracy/zerocracy.github.io/commit/f03797621607de9b137f32d520a6d4dab86778d4

[2018-03-20 10:06] skapral commented on #317
@yegor256  I'd make it even more permissive. "Don't wait for anybody, just make a verdict on what you got and call it a day". But ok, this suits too. Should I close the issue?

[2018-03-20 16:25] 0crat commented on #189
The job [#189](https://github.com/zerocracy/datum/issues/189) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/791636125); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-03-20 16:51] neonailol commented on #189
@yegor256 can you unlink me from this task?

[2018-03-21 14:46] yegor256 commented on #317
@skapral yes, please close

[2018-03-21 15:03] yegor256 opened #333 "join other XML documents into XSL rendering"
Let's join them in, when possible.

[2018-03-21 15:07] 0pdd commented on #310
The puzzle `255-3767036a` has disappeared from the source code, that's why I closed this issue.

[2018-03-21 15:07] #310 closed

[2018-03-21 15:07] yegor256 commented on #255
@g4s8 I decided to do it in a much simpler way, see: 7c6f8f4

[2018-03-21 15:07] 0pdd commented on #311
The puzzle `255-48d4be5a` has disappeared from the source code, that's why I closed this issue.

[2018-03-21 15:07] #311 closed

[2018-03-21 15:07] 0pdd commented on #255
@yegor256 all 2 puzzles are solved here: [#310](https://github.com/zerocracy/datum/issues/310), [#311](https://github.com/zerocracy/datum/issues/311).

[2018-03-21 15:22] 0crat commented on #311
The job [#311](https://github.com/zerocracy/datum/issues/311) is now out of scope

[2018-03-21 15:49] #317 closed

[2018-03-21 16:04] 0crat commented on #317
The job is not in WBS, won't close the order

[2018-03-22 08:32] 0crat commented on #189
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @neonailol[/z](https://www.0crat.com/u/neonailol), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-22 08:32] 0crat commented on #189
The job [#189](https://github.com/zerocracy/datum/issues/189) is now out of scope

[2018-03-22 08:45] ypshenychka commented on #189
@0crat quality bad

[2018-03-22 08:45] 0crat commented on #189
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-22 08:45] 0crat commented on #189
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-22 10:10] yegor256 commented on #189
@0crat status

[2018-03-22 10:11] 0crat commented on #189
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#189](https://github.com/zerocracy/datum/issues/189) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Fdatum%23189%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-03-23 14:15] yegor256 commented on #212
@skapral I will implement it here: https://github.com/zerocracy/farm/issues/866

[2018-03-23 14:15] #212 closed

[2018-03-23 14:31] 0crat commented on #212
The job [#212](https://github.com/zerocracy/datum/issues/212) is now out of scope

[2018-03-27 13:30] yegor256 opened #335 "hints.xml"
Let's create this new XML.

[2018-03-28 14:42] #335 closed

[2018-03-28 14:58] 0crat commented on #335
The job is not in WBS, won't close the order

[2018-03-29 10:49] g4s8 opened #336 "Date template is not accurate"
`date` template in `templates.xsl` is not accurate because it calculates one month as 30 days, regardless of what is the month:
[code]
it produces incorrect values in agenda: https://github.com/zerocracy/farm/issues/683

To reproduce it just change `added` values in `agenda/simple` to:
[code]
and `today` param in `templates.xsl` to:
[code]
and run `rake` to generate `agenda.html`. It will be 4 day

[2018-03-29 10:49] 0crat commented on #336
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-29 11:59] 0crat commented on #336
Job [#336](https://github.com/zerocracy/datum/issues/336) is now in scope, role is `DEV`

[2018-03-29 11:59] yegor256 opened #337 "enable project in "token""
Let's make it possible to have a token: `project:C1234567`

[2018-03-29 11:59] 0crat commented on #336
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-29 14:13] yegor256 commented on #337
@rultor release, tag is `0.60.2`

[2018-03-29 14:13] rultor commented on #337
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14208-377248314)

[2018-03-29 14:16] rultor commented on #337
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14208-377248314) (spent 3min)

[code]

[2018-03-29 14:32] yegor256 commented on #337
@rultor release, tag is `0.60.2`

[2018-03-29 14:33] rultor commented on #337
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14208-377254275)

[2018-03-29 14:38] rultor commented on #337
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14208-377254275) (took me 4min)

[2018-03-29 14:41] #337 closed

[2018-03-29 14:56] 0crat commented on #337
The job is not in WBS, won't close the order

[2018-04-03 12:11] filfreire opened #338 "Allow lower contribution values"
Picking up from issue #212, I suggest we allow contributions of lower fund values, below $64, to allow people with lower possibilities to contribute:

Example values: $4, $8, $16, $32

/cc @yegor256 @g4s8

[2018-04-03 12:11] 0crat commented on #338
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-03 12:11] 0crat commented on #338
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-05 14:28] yegor256 commented on #338
@filfreire 4 and 8 are too low. I added 16 and 32: https://github.com/zerocracy/farm/commit/31b5759681a56075bde826add7c80956432fea65

[2018-04-05 14:28] #338 closed

[2018-04-05 14:43] 0crat commented on #338
The job is not in WBS, won't close the order

[2018-04-09 14:48] g4s8 opened #339 "assert-that template is not working correctly"
Looks like `assert-that` compares only `<xsl:text>` values, but ignores other elements, e.g. look at `project.xsl` test (param 'expected'):
[code]
if I modify project name `ABCDEFGHI` -> `1111111` the test will fail with error:

but if I change a link `https://www.0crat.com/p/ABCasdfDEFGHI` -> `https://www.0crat.com/p/1111111` the test will run successfully.

[2018-04-09 14:48] 0crat commented on #339
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-09 15:05] yegor256 commented on #339
@g4s8 yes, it's true

[2018-04-09 15:05] 0crat commented on #339
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-09 15:06] 0crat commented on #339
Job [#339](https://github.com/zerocracy/datum/issues/339) is now in scope, role is `DEV`

[2018-04-09 15:06] 0crat commented on #339
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-12 02:37] 0crat commented on #315
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-14 18:12] g4s8 commented on #315
@0crat waiting #339 issue to resolve

[2018-04-14 18:14] 0crat commented on #315
@g4s8 The impediment for [#315](https://github.com/zerocracy/datum/issues/315) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-16 12:15] g4s8 commented on #315
@0crat status

[2018-04-16 12:18] 0crat commented on #315
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#315](https://github.com/zerocracy/datum/issues/315) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [11days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward

[2018-04-16 15:03] g4s8 opened #340 "jobs.xml is missing"
According to https://github.com/zerocracy/farm/issues/925 `PMO` should contain `jobs.xml` file to store hiring info and display it on `/jobs` page. Each job element should contain project id, hiring text and user who submitted the job.

[2018-04-16 15:04] 0crat commented on #340
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-18 13:54] 0crat commented on #340
The job [#340](https://github.com/zerocracy/datum/issues/340) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1081356303); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-04-18 13:55] 0crat commented on #340
Job `gh:zerocracy/datum#340` already assigned to @yegor256, can't assign to @yegor256

[2018-04-18 13:55] 0crat commented on #340
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-18 13:55] 0crat commented on #340
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-18 14:02] yegor256 commented on #340
@rultor release, tag is `0.61`

[2018-04-18 14:03] rultor commented on #340
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14327-382397110)

[2018-04-18 14:07] rultor commented on #340
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14327-382397110) (took me 3min)

[2018-04-18 14:11] yegor256 commented on #340
@g4s8 I decided to call them "vacations" to avoid conflicts with jobs in projects.

[2018-04-18 14:42] g4s8 commented on #340
@yegor256 thanks

[2018-04-18 14:42] #340 closed

[2018-04-18 14:58] 0crat commented on #340
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-18 14:58] 0crat commented on #340
The job [#340](https://github.com/zerocracy/datum/issues/340) is now out of scope

[2018-04-20 08:44] yegor256 opened #341 "vacancy instead of vacation"
It's a typo

[2018-04-20 08:47] yegor256 commented on #341
@rultor release, tag is `0.61.1`

[2018-04-20 08:50] rultor commented on #341
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14336-383029590)

[2018-04-20 08:53] rultor commented on #341
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14336-383029590) (took me 3min)

[2018-04-20 08:56] #341 closed

[2018-04-20 09:12] 0crat commented on #341
The job is not in WBS, won't close the order

[2018-05-13 10:13] elenavolokhova opened #342 "It is not clear what "All problems found by the code reviewer were addressed by the pull request author" means"
We have a statement in our Policy:

But it is not clear what reaction is acceptable for issues found by REV. For example in [#856](https://github.com/yegor256/cactoos/pull/856) REV found some issues, but DEV didn't fix it with valuable arguments.

How should we handle such situations? Formally "3 issues" rule was followed, I can not say that REV just accepted PR. But it's quality was not improved

[2018-05-13 10:13] 0crat commented on #342
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-13 10:13] 0crat commented on #342
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-14 13:32] yegor256 commented on #342
@elenavolokhova see: https://github.com/zerocracy/zerocracy.github.io/commit/16dc5fa079cac405eb6283ce710f3c121e09d16e Better?

[2018-05-14 15:43] elenavolokhova commented on #342
@yegor256 Yes, much better, thank you!

[2018-05-14 15:43] #342 closed

[2018-05-21 08:08] g4s8 opened #343 "No badges in schema"
According to https://github.com/zerocracy/farm/issues/848 issue we have to store badges for a people. I think we can store it in `people.xml`, so we need a new field here.

[2018-05-21 08:09] 0crat commented on #343
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 06:51] g4s8 commented on #336
@0crat status

[2018-05-27 06:51] 0crat commented on #336
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#336](https://github.com/zerocracy/datum/issues/336) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are banned and won't be a

[2018-05-27 06:51] g4s8 commented on #315
@0crat refuse

[2018-05-27 06:52] 0crat commented on #315
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#315](https://github.com/zerocracy/datum/issues/315), please stop working. Reason for job resignation: Order was cancelled

[2018-05-27 06:52] 0crat commented on #315
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-30 13:03] yegor256 commented on #343
@0crat assign @carlosmiranda

[2018-05-30 13:05] 0crat commented on #343
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-30 13:05] 0crat commented on #343
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 20:18] 0crat commented on #315
The job [#315](https://github.com/zerocracy/datum/issues/315) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1502044305); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not c

[2018-05-31 15:19] g4s8 opened #344 "Zold is not supported as a wallet type"
Wallet type in `people.xsd` has enumeration restriction:
[code]
to support Zold as discussed in zerocracy/farm#1074 we need to add new wallet type: `zld`.

[2018-05-31 15:19] 0crat commented on #344
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-02 16:15] t-izbassar opened #345 "rake fails with error"
Trying to build the project with `rake`, but getting an error:

rake aborted!
LoadError: cannot load such file -- redcarpet
/usr/local/lib/site_ruby/2.3.0/rubygems/core_ext/kernel_require.rb:59:in `require'
/usr/local/lib/site_ruby/2.3.0/rubygems/core_ext/kernel_require.rb:59:in `require'
/home/tolegen/Projects/workspace/0crat/zerocracy/datum/Rakefile:26:in `<top (required)>'
/usr/lib/ruby/vendor_

[2018-06-02 16:16] 0crat commented on #345
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-02 16:20] g4s8 commented on #345
@t-izbassar did you try `bundle install` (`gem install bundler` if you doesn't have it) before `rake`?

[2018-06-02 16:49] t-izbassar commented on #345
@g4s8 yes. I've updated with `bundle update`. I had to switch ruby version in `Gemfile` from `2.3.3` to `2.3.1`. Now I've got different error:

[code]

[2018-06-02 22:04] g4s8 commented on #345
@t-izbassar you got this error because you doesn't have `net.sf.saxon` jar, you can install it with `mvn dependency:get -DgroupId=net.sf.saxon -DartifactId=Saxon-HE -Dversion=9.8.0-8`

[2018-06-02 22:06] g4s8 commented on #345
@t-izbassar but you're right, it's not clear how to setup environment for this project, I think we should add documentation about it in readme

[2018-06-02 22:06] g4s8 commented on #345
@0crat in

[2018-06-02 22:06] 0crat commented on #345
@g4s8 Job [#345](https://github.com/zerocracy/datum/issues/345) is now in scope, role is `DEV`

[2018-06-02 22:07] 0crat commented on #345
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-06-04 01:57] carlosmiranda commented on #343
@g4s8 see PR #346

[2018-06-04 01:57] carlosmiranda commented on #343
@0crat wait for PR #346 to be merged

[2018-06-04 01:58] 0crat commented on #343
@carlosmiranda The impediment for [#343](https://github.com/zerocracy/datum/issues/343) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-05 01:37] 0crat commented on #315
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-07 18:06] g4s8 commented on #345
@0crat assign me

[2018-06-07 18:08] 0crat commented on #345
@g4s8 The job [#345](https://github.com/zerocracy/datum/issues/345) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1581816364); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-07 18:08] 0crat commented on #345
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-07 18:10] g4s8 opened #347 "Job inspector element"
We need new agenda field: `inspector`, as discussed here: https://github.com/zerocracy/farm/issues/911#issuecomment-380540834 this is optional element with `login` type. Don't forget to update `agenda.xsl`.

[2018-06-07 18:11] g4s8 commented on #347
@0crat assign @carlosmiranda

[2018-06-07 18:13] 0crat commented on #347
@g4s8 The job [#347](https://github.com/zerocracy/datum/issues/347) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1581821488); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2018-06-07 18:14] 0crat commented on #347
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-07 18:14] 0crat commented on #347
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-07 18:24] g4s8 commented on #345
@t-izbassar can you try to install all tools from this PR #348?

[2018-06-08 14:11] g4s8 commented on #344
@0crat in

[2018-06-08 14:12] 0crat commented on #344
@g4s8 Job [#344](https://github.com/zerocracy/datum/issues/344) is now in scope, role is `DEV`

[2018-06-08 14:14] 0crat commented on #344
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-10 10:15] 0crat commented on #339
The job [#339](https://github.com/zerocracy/datum/issues/339) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1611051733); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-12 14:14] proshin-roman commented on #336
@0crat refuse

[2018-06-12 14:17] 0crat commented on #336
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#336](https://github.com/zerocracy/datum/issues/336), please stop working. Reason for job resignation: Order was cancelled

[2018-06-12 14:18] 0crat commented on #336
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-12 19:31] krzyk commented on #339
@0crat refuse

[2018-06-12 19:32] 0crat commented on #339
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#339](https://github.com/zerocracy/datum/issues/339), please stop working. Reason for job resignation: Order was cancelled

[2018-06-12 19:35] 0crat commented on #339
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-12 22:39] 0crat commented on #347
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-14 11:09] 0crat commented on #336
The job [#336](https://github.com/zerocracy/datum/issues/336) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1651114205); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-15 03:05] carlosmiranda commented on #343
@g4s8 #346 merged, can we close this?

[2018-06-15 11:08] g4s8 commented on #343
@carlosmiranda sure, thanks

[2018-06-15 11:08] #343 closed

[2018-06-15 11:58] ypshenychka commented on #343
@0crat quality good

[2018-06-15 12:08] 0crat commented on #343
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-15 12:10] 0crat commented on #343
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-16 17:49] StuporHero commented on #294
@yegor256 I agree that we want to avoid "code is good" reviews, but can you clarify who the "job performer" is that is not receiving payment if the quality is bad because no problems were found? It seems to me that if you punish the DEV for that instead of the REV, the incentive is not structured properly to encourage the REV to find problems in the code.

Sorry if I should have opened a new ticke

[2018-06-16 20:41] t-izbassar commented on #345
@g4s8 works, with the downloaded dependency of Saxon.

[2018-06-17 13:43] paulodamaso commented on #336
@0crat wait while #345 is resolved

[2018-06-17 13:43] 0crat commented on #336
@paulodamaso The impediment for [#336](https://github.com/zerocracy/datum/issues/336) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-19 08:38] g4s8 commented on #345
@t-izbassar README updated, can we close now?

[2018-06-19 08:40] t-izbassar commented on #345
@g4s8 yep, it's more helpful now. Still, I don't get why ruby uses some mvn dependency from file system )

[2018-06-19 08:40] #345 closed

[2018-06-19 08:44] g4s8 commented on #345
@t-izbassar it uses Saxon jar for tests because ruby and java has different xslt engine versions: `ruby: 1.0` `Saxon: 3.0`

[2018-06-19 09:01] carlosmiranda commented on #347
@g4s8 can we close this now? Fixed in #350.

[2018-06-19 09:02] carlosmiranda opened #353 "Need "agenda" and "speed" element in people.xml"
We need `agenda` and `speed` elements in `people.xml`. This is required because of https://github.com/zerocracy/farm/issues/1121.

[2018-06-19 09:02] 0crat commented on #353
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-19 09:10] 0crat commented on #345
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-19 09:11] 0crat commented on #345
The job [#345](https://github.com/zerocracy/datum/issues/345) is now out of scope

[2018-06-19 12:40] g4s8 commented on #353
@0crat assign me

[2018-06-19 12:47] 0crat commented on #353
@g4s8 The job [#353](https://github.com/zerocracy/datum/issues/353) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1701248257); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-19 12:49] 0crat commented on #353
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-19 12:49] 0crat commented on #353
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-19 13:28] g4s8 commented on #353
@carlosmiranda we already have an element for agenda, but it calls `jobs` here. I added `speed` element, please see #354 PR.

[2018-06-19 18:22] paulodamaso commented on #336
@g4s8 Merged, please close.

[2018-06-19 18:51] g4s8 commented on #336
@paulodamaso thanks

[2018-06-19 18:51] #336 closed

[2018-06-19 19:11] 0crat commented on #336
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-19 19:11] 0crat commented on #336
The job [#336](https://github.com/zerocracy/datum/issues/336) is now out of scope

[2018-06-19 19:17] ypshenychka commented on #336
@0crat quality good

[2018-06-20 02:36] 0crat commented on #339
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 09:18] amihaiemil commented on #339
@0crat refuse

[2018-06-20 09:19] 0crat commented on #339
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#339](https://github.com/zerocracy/datum/issues/339), please stop working. Reason for job resignation: Order was cancelled

[2018-06-20 09:20] 0crat commented on #339
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-20 09:47] carlosmiranda commented on #347
@g4s8 ping

[2018-06-20 09:55] g4s8 commented on #347
@carlosmiranda thanks

[2018-06-20 09:55] #347 closed

[2018-06-20 09:58] g4s8 commented on #353
@rultor release, tag=`0.61.2`

[2018-06-20 10:04] rultor commented on #353
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15009-398693979)

[2018-06-20 10:08] rultor commented on #353
@carlosmiranda @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15009-398693979) (spent 3min)

[code]

[2018-06-20 10:15] carlosmiranda commented on #353
@g4s8 thanks! Closing now, release failed though. https://github.com/zerocracy/datum/issues/353#issuecomment-398696839

[2018-06-20 10:15] #353 closed

[2018-06-20 10:38] g4s8 commented on #353
@rultor release, tag=`0.61.2`

[2018-06-20 10:46] rultor commented on #353
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15009-398704744) (took me 6min)

[2018-06-20 11:01] 0crat commented on #347
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.7](https://github.com/zerocracy/farm): CID: [1710959567](https://www.0crat.com/C3NDPUA8L/1710959567), Type: "Close job", Author: "g4s8"

[2018-06-20 11:05] 0crat commented on #353
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.7](https://github.com/zerocracy/farm): CID: [1711019629](https://www.0crat.com/C3NDPUA8L/1711019629), Type: "Close job", Author: "carlosmiranda"

[2018-06-20 22:10] carlosmiranda commented on #353
@0crat status

[2018-06-20 22:11] carlosmiranda commented on #347
@0crat status

[2018-06-20 22:11] 0crat commented on #353
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.19](https://github.com/zerocracy/farm): Issue: zerocracy/datum#353, Comment: 398913958

[2018-06-20 22:11] 0crat commented on #353
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.19](https://github.com/zerocracy/farm): Issue: zerocracy/datum#353, Action: `created`

[2018-06-20 22:12] 0crat commented on #353
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.19](https://github.com/zerocracy/farm): Issue: zerocracy/datum#353, Action: `created`

[2018-06-20 22:14] 0crat commented on #347
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.19](https://github.com/zerocracy/farm): Issue: zerocracy/datum#347, Comment: 398914075

[2018-06-20 22:14] 0crat commented on #353
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.19](https://github.com/zerocracy/farm): Issue: zerocracy/datum#353, Action: `created`

[2018-06-21 10:13] carlosmiranda commented on #353
@0crat status

[2018-06-21 10:13] 0crat commented on #353
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#353](https://github.com/zerocracy/datum/issues/353) is [in scope](http://www.zerocracy.com/policy.html#14) for 2days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html

[2018-06-21 10:16] carlosmiranda commented on #347
@0crat status

[2018-06-21 12:19] ypshenychka commented on #347
@0crat quality good

[2018-06-21 12:29] 0crat commented on #347
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): Issue: zerocracy/datum#347, Comment: 399083959

[2018-06-21 13:22] ypshenychka commented on #347
@0crat ping

[2018-06-22 10:27] 0crat commented on #339
The job [#339](https://github.com/zerocracy/datum/issues/339) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1731049672); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-22 11:46] carlosmiranda commented on #347
@0crat status

[2018-06-22 11:47] 0crat commented on #347
@ypshenychka Can't understand "ping", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of

[2018-06-22 11:47] 0crat commented on #347
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#347](https://github.com/zerocracy/datum/issues/347) is [in scope](http://www.zerocracy.com/policy.html#14) for 15days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.htm

[2018-06-22 14:03] ypshenychka commented on #347
@0crat quality good

[2018-06-22 14:07] 0crat commented on #347
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-22 14:07] 0crat commented on #347
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-22 19:00] t-izbassar commented on #315
@0crat refuse

[2018-06-22 19:02] 0crat commented on #315
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#315](https://github.com/zerocracy/datum/issues/315), please stop working. Reason for job resignation: Order was cancelled

[2018-06-22 19:03] 0crat commented on #315
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-06-24 09:43] yegor256 commented on #294
@StuporHero what would you propose instead? I'm not sure I got the idea..

[2018-06-24 12:48] krzyk commented on #315
@0crat refuse

[2018-06-24 12:52] 0crat commented on #315
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#315](https://github.com/zerocracy/datum/issues/315), please stop working. Reason for job resignation: Order was cancelled

[2018-06-24 12:54] 0crat commented on #315
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-25 03:14] StuporHero commented on #294
@yegor256 I’m not very clear about how it is supposed to work now, so that’s probably why I didn’t express my idea very well. I guess I need some clarification.

I’m not sure who is supposed to get points for a completed PR that passes QA. Is it the REV or the DEV? In other words, is the PR treated like a job performed by the REV that is separate from the Issue ticket assigned to the DEV when it c

[2018-06-25 03:56] yegor256 commented on #294
@StuporHero first, we have to remember that a ticket may have many pull requests merged before it's fixed. A ticket is assigned to a DEV. The DEV is responsible to fix/close it and he/she submits pull requests in order to achieve that. How many of them will be submitted -- we don't know. The DEV will be paid once the ticket is closed.

Next, each pull request submitted has to be reviewed by a diff

[2018-06-25 19:31] StuporHero commented on #294
@yegor256 Yes. That is how I thought it should work, but the wording of the policy was a little unclear, so I thought the DEV would suffer if a PR didn't pass QA.

[2018-06-26 09:38] 0crat commented on #347
The job [#347](https://github.com/zerocracy/datum/issues/347) is now out of scope

[2018-06-26 09:38] 0crat commented on #353
The job [#353](https://github.com/zerocracy/datum/issues/353) is now out of scope

[2018-06-26 19:58] paulodamaso commented on #339
@g4s8 So, which would be the correct behavior for `assert-that` template? I should match all the string or elements in `expected` param?

[2018-06-27 08:32] g4s8 commented on #339
@paulodamaso this template should match xml elements and attributes, not only `<text>` elements. We are not using `assert-that` now, because it's not working correctly.

[2018-06-27 10:36] 0crat commented on #339
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-28 14:41] llorllale opened #356 "Additional info in pm/staff/roles"
Let's include this information in `pm/staff/roles`:

* Available funds for continuing assignment and scoping of tasks. This is different from the total overall funding of the project.
* Vacation status of performer (row can be grayed out just like in the *Team* view)
* A new **Jobs** column with the ratio `current_jobs/max_jobs`

As `ARC`, these three pieces of information in the same place as sta

[2018-06-28 14:41] 0crat commented on #356
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-28 14:41] 0crat commented on #356
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-29 14:02] 0crat commented on #315
The job [#315](https://github.com/zerocracy/datum/issues/315) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1801401185); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-29 18:01] g4s8 commented on #356
@llorllale I don't agree that `roles.xml` is best place to store additional info about users, because it's simple data file with purpose to store roles. Maybe we can show it on project page or create new page for it? Anyhow I think it's better to re-submit this ticket to https://github.com/zerocracy/farm repo.

[2018-06-29 18:50] llorllale commented on #356
@g4s8 sure; I also found it weird but didn't know where else to put it.

My problem is simply that as `ARC` I need all that information in one place in order to ease understanding of my project's current work capacity. I re-phased it in those terms in zerocracy/farm#1293.

Thanks

[2018-06-29 18:50] #356 closed

[2018-06-29 19:05] 0crat commented on #356
Job `gh:zerocracy/datum#356` is not assigned, can't get performer

[2018-06-29 19:05] 0crat commented on #356
The job is not in WBS, won't close the order

[2018-07-01 09:58] krzyk opened #362 "Agenda `added` field is shifted by 1 day"
Today when I entered my agenda I see following entries:
![image](https://user-images.githubusercontent.com/105730/42132796-033c9360-7d1f-11e8-802f-e70507baa940.png)

It looks like the `added` field is shifted by `-1 day`. I'm not sure what might have caused that, but it makes harder to read and decide on tasks.

[2018-07-01 09:58] 0crat commented on #362
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-01 10:02] g4s8 commented on #362
@0crat in

[2018-07-01 10:02] 0crat commented on #362
@g4s8 Job [#362](https://github.com/zerocracy/datum/issues/362) is now in scope, role is `DEV`

[2018-07-01 10:06] 0crat commented on #362
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-02 02:58] paulodamaso commented on #315
@0crat wait for #357 here, we need those changes for proper functioning of par template.

[2018-07-02 02:58] 0crat commented on #315
@paulodamaso The impediment for [#315](https://github.com/zerocracy/datum/issues/315) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-03 01:52] paulodamaso commented on #339
@g4s8 Merged, please close

[2018-07-03 01:52] paulodamaso commented on #339
@0crat Wait for issue closure

[2018-07-03 01:52] 0crat commented on #339
@paulodamaso The impediment for [#339](https://github.com/zerocracy/datum/issues/339) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-03 12:47] paulodamaso commented on #339
@g4s8 Please take a look, this code was merged, pleaase close.

[2018-07-03 16:10] g4s8 commented on #339
@paulodamaso thanks

[2018-07-03 16:10] #339 closed

[2018-07-03 16:28] 0crat commented on #339
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-03 16:28] 0crat commented on #339
The job [#339](https://github.com/zerocracy/datum/issues/339) is now out of scope

[2018-07-03 16:35] ypshenychka commented on #339
@0crat quality good

[2018-07-03 16:41] 0crat commented on #339
Order was finished, quality is "good": +38 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-03 16:44] 0crat commented on #339
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-04 13:56] paulodamaso opened #365 "Run XSL tests with Saxon instead of Nokogiri."
At the moment we are using `Nokogiri` for running `XSL` tests in `Rakefile`. As discovered in #315 `Nokogiri` provided limited support to `XSLT` 2.0 and `XPATH` 2.0, which limits our choices of functions and tags for `XSL` transformations.

We should run the tests in `Rakefile` using `Saxon` processor, like used in `Rakefile` to transform in `html` files (line 145).

[2018-07-04 13:57] 0crat commented on #365
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-04 14:33] paulodamaso commented on #315
@0crat wait for https://github.com/zerocracy/datum/issues/365 here; we need `XSL` 2.0 support to implement `par` template with recursion in a proper way.

[2018-07-04 14:34] 0crat commented on #315
@paulodamaso Job [#315](https://github.com/zerocracy/datum/issues/315) is already on hold

[2018-07-04 15:40] g4s8 commented on #365
@0crat assign me

[2018-07-04 15:43] 0crat commented on #365
@g4s8 The job [#365](https://github.com/zerocracy/datum/issues/365) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1851545577); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-04 15:44] 0crat commented on #365
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-04 15:45] 0crat commented on #365
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-07 12:29] krzyk opened #367 "Need a negligence elements"
To implement https://github.com/zerocracy/farm/issues/1141 I need to following:
- negliegence.xsd that will have elements "job", "project", datetime element and version (similar to verbosity, but without count)
- negliegence.xsl that will show a list of negliegence events

[2018-07-07 12:29] 0crat commented on #367
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-07 12:44] g4s8 commented on #367
@krzyk does this xml OK for you?
[code]

[2018-07-07 12:45] g4s8 commented on #367
@0crat assign me

[2018-07-07 12:53] 0crat commented on #367
@g4s8 The job [#367](https://github.com/zerocracy/datum/issues/367) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1881252239); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-07 12:53] 0crat commented on #367
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-07 12:53] 0crat commented on #367
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-07 13:50] krzyk commented on #367
@g4s8 looks good

[2018-07-08 16:40] g4s8 commented on #365
@paulodamaso it was done in #366, can we close?

[2018-07-09 09:13] g4s8 commented on #367
@rultor release, tag=`0.61.7`

[2018-07-09 09:15] rultor commented on #367
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15275-403413539)

[2018-07-09 09:22] rultor commented on #367
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15275-403413539) (took me 6min)

[2018-07-09 16:36] g4s8 commented on #367
@krzyk please close this job, you can use negligence in `0.61.7` version.

[2018-07-09 16:36] krzyk commented on #367
@g4s8 thanks

[2018-07-09 16:36] #367 closed

[2018-07-09 16:55] 0crat commented on #367
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-09 16:55] 0crat commented on #367
The job [#367](https://github.com/zerocracy/datum/issues/367) is now out of scope

[2018-07-10 04:01] paulodamaso opened #371 "Rakefile does not run on Windows"
I'm having problems running `Rakefile` script in Windows:
- it fails when using temp dirs with`Dir.mktmpdir:
[code]
-it fails when mapping SAXON libs in `~/.m2` directory:
[code]
-it fails when using `/tmp/` directory:
[code]

[2018-07-10 04:01] 0crat commented on #371
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-10 04:09] paulodamaso commented on #365
@g4s8 Yes, but please take a look at https://github.com/zerocracy/datum/issues/371 , looks like one of the problems is related to the changes made to `Rakefile` in #366.

[2018-07-10 04:09] #365 closed

[2018-07-10 08:37] g4s8 opened #372 "releases.xml"
Let's add `releases.xml` project file to keep releases details for #1366, it should contain release tag and publish date:
[code]

`repo` + `tag` should be unique across all releases in file.

[2018-07-10 08:37] g4s8 commented on #372
@0crat assign @carlosmiranda

[2018-07-10 08:38] 0crat commented on #372
@g4s8 The job [#372](https://github.com/zerocracy/datum/issues/372) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1910838432); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2018-07-10 08:39] 0crat commented on #372
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 08:39] 0crat commented on #372
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 16:59] g4s8 commented on #371
@proshin-roman do you want to contribute here?

[2018-07-11 11:08] carlosmiranda commented on #372
@g4s8 see PR #373

[2018-07-11 12:44] 0pdd commented on #315
The puzzle `314-e6e34cf3` has disappeared from the source code, that's why I closed this issue.

[2018-07-11 12:44] #315 closed

[2018-07-11 12:44] 0pdd commented on #314
@yegor256 the only puzzle [#315](https://github.com/zerocracy/datum/issues/315) is solved here.

[2018-07-11 13:00] 0crat commented on #315
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-11 13:00] 0crat commented on #315
The job [#315](https://github.com/zerocracy/datum/issues/315) is now out of scope

[2018-07-11 18:49] ypshenychka commented on #315
@0crat quality good

[2018-07-11 18:50] 0crat commented on #315
Order was finished, quality is "good": +38 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-11 18:51] 0crat commented on #315
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-12 10:28] carlosmiranda commented on #372
@g4s8 PR #372 merged, may we close this now?

[2018-07-12 10:29] g4s8 commented on #372
@carlosmiranda thanks

[2018-07-12 10:29] #372 closed

[2018-07-12 10:34] g4s8 commented on #372
@rultor release, tag=`0.62.1`