[2017-01-03 13:43] yegor256 opened #1 "first version"
let's release it

[2017-01-03 13:43] yegor256 commented on #1
@rultor release, tag is `0.1`

[2017-01-03 13:46] yegor256 commented on #1
@rultor release, tag is `0.1`

[2017-01-03 13:46] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10493-270117108)

[2017-01-03 13:47] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10493-270117108) (spent 1min)

[code]

[2017-01-03 13:48] yegor256 commented on #1
@rultor release, tag is `0.1`

[2017-01-03 13:50] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10493-270117512)

[2017-01-03 13:54] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10493-270117512) (took me 4min)

[2017-01-03 13:56] yegor256 commented on #1
@rultor release, tag is `0.2`

[2017-01-03 13:56] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10493-270119025)

[2017-01-03 14:00] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10493-270119025) (took me 4min)

[2017-01-03 14:27] #1 closed

[2017-01-04 08:24] yegor256 opened #2 "catalog.xsd"
Let's add it

[2017-01-04 08:24] yegor256 commented on #2
@rultor release, tag is `0.3`

[2017-01-04 08:25] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10498-270318029)

[2017-01-04 08:27] rultor commented on #2
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10498-270318029) (took me 2min)

[2017-01-04 08:28] #2 closed

[2017-01-05 11:22] yegor256 opened #3 "roles with aliases"
Let's add aliases to `roles.xml`

[2017-01-05 13:19] yegor256 commented on #3
@rultor release, tag is `0.4`

[2017-01-05 13:19] rultor commented on #3
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10514-270642153)

[2017-01-05 13:23] rultor commented on #3
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10514-270642153) (took me 4min)

[2017-01-05 13:29] #3 closed

[2017-01-05 14:23] yegor256 opened #4 "people.xsd"
Let's create it

[2017-01-05 14:36] yegor256 commented on #4
@rultor release, tag is `0.5`

[2017-01-05 14:37] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10515-270658075)

[2017-01-05 14:40] rultor commented on #4
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10515-270658075) (took me 4min)

[2017-01-05 14:56] #4 closed

[2017-01-05 14:57] yegor256 opened #5 "users/ prefix for people.xsd"
We have to add it

[2017-01-05 14:57] yegor256 commented on #5
@rultor release, tag is `0.5.1`

[2017-01-05 14:57] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10516-270663211)

[2017-01-05 15:00] rultor commented on #5
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10516-270663211) (took me 3min)

[2017-01-05 15:01] #5 closed

[2017-01-05 21:00] yegor256 opened #6 "people.xsd into HR"
Let's move it

[2017-01-05 21:38] yegor256 commented on #6
@rultor release, tag is `0.5.2`

[2017-01-05 21:38] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10519-270765003)

[2017-01-05 21:41] rultor commented on #6
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10519-270765003) (took me 2min)

[2017-01-05 21:41] #6 closed

[2017-01-05 22:37] yegor256 opened #7 "enable PMO as a project ID"

[2017-01-05 22:39] yegor256 commented on #7
@rultor release, tag is `0.5.3`

[2017-01-05 22:39] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10521-270778629)

[2017-01-05 22:40] yegor256 opened #8 "child-parent relationships between projects"

[2017-01-05 22:42] rultor commented on #7
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10521-270778629) (took me 2min)

[2017-01-05 22:42] #7 closed

[2017-01-05 22:46] yegor256 commented on #8
@rultor release, tag is `0.6`

[2017-01-05 22:46] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10522-270780061)

[2017-01-05 22:49] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10522-270780061) (took me 2min)

[2017-01-06 17:09] yegor256 opened #9 "people.xsd back to PMO"

[2017-01-06 17:10] yegor256 commented on #9
@rultor release, tag is `0.7`

[2017-01-06 17:11] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10532-270952146)

[2017-01-06 17:14] rultor commented on #9
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10532-270952146) (took me 3min)

[2017-01-06 17:20] #9 closed

[2017-01-06 19:16] yegor256 opened #10 "PMO prefix is wrong"

[2017-01-06 19:17] yegor256 commented on #10
@rultor release tag is `0.7.1`

[2017-01-06 19:17] rultor commented on #10
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10536-270981744)

[2017-01-06 19:20] rultor commented on #10
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10536-270981744) (took me 2min)

[2017-01-06 19:21] #10 closed

[2017-01-11 11:27] yegor256 opened #11 "monetary value for user rate"

[2017-01-11 11:30] #11 closed

[2017-01-11 12:46] yegor256 opened #12 "bots.xsd"

[2017-01-11 12:50] yegor256 commented on #12
@rultor release, tag is `0.8`

[2017-01-11 12:51] rultor commented on #12
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10584-271860462)

[2017-01-11 12:54] rultor commented on #12
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10584-271860462) (took me 3min)

[2017-01-11 13:04] #12 closed

[2017-01-13 13:17] yegor256 opened #13 "person.skills to people.xsd"

[2017-01-13 13:21] yegor256 commented on #13
@rultor release, tag is `0.9`

[2017-01-13 13:21] rultor commented on #13
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10605-272441378)

[2017-01-13 13:24] rultor commented on #13
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10605-272441378) (took me 3min)

[2017-01-13 13:26] #13 closed

[2017-01-16 14:46] yegor256 opened #14 "GitHub logins instead of Slack IDs in people.xsd"

[2017-01-16 14:59] yegor256 commented on #14
@rultor release, tag is `0.10`

[2017-01-16 15:00] rultor commented on #14
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10635-272884410)

[2017-01-16 15:03] rultor commented on #14
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10635-272884410) (took me 2min)

[2017-01-16 15:03] #14 closed

[2017-01-17 09:23] yegor256 opened #15 "enable duplicate links for projects"

[2017-01-17 09:24] 0crat commented on #15
@yegor256 I'm not managing this repo, remove the [webhook](https://github.com/zerocracy/datum/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-01-17 09:25] yegor256 commented on #15
@rultor release, tag is `0.10.1`

[2017-01-17 09:26] rultor commented on #15
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10642-273063416)

[2017-01-17 09:29] rultor commented on #15
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10642-273063416) (took me 2min)

[2017-01-17 09:29] #15 closed

[2017-01-17 12:12] yegor256 opened #16 "prohibit duplicate links over the entire catalog"

[2017-01-17 12:13] yegor256 commented on #16
@rultor release, tag is `0.10.2`

[2017-01-17 12:13] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10646-273123099)

[2017-01-17 12:17] rultor commented on #16
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10646-273123099) (took me 4min)

[2017-01-17 12:33] #16 closed

[2017-01-17 13:36] yegor256 opened #17 "wallet for a user in people.xsd"

[2017-01-17 13:49] yegor256 commented on #17
@rultor release, tag is `0.11`

[2017-01-17 13:50] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10648-273164217)

[2017-01-17 13:52] rultor commented on #17
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10648-273164217) (took me 2min)

[2017-01-17 14:05] #17 closed

[2017-01-19 11:47] yegor256 opened #18 "claims.xml"

[2017-01-20 11:32] yegor256 commented on #18
@rultor release, tag is `0.12`

[2017-01-20 11:33] rultor commented on #18
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10660-274051673)

[2017-01-20 11:36] rultor commented on #18
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10660-274051673) (took me 2min)

[2017-01-20 11:36] #18 closed

[2017-01-20 11:46] yegor256 opened #19 "job coordinates with a prefix"

[2017-01-20 11:48] yegor256 commented on #19
@rultor release, tag is `0.12.1`

[2017-01-20 11:49] rultor commented on #19
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10661-274054369)

[2017-01-20 11:53] rultor commented on #19
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10661-274054369) (took me 4min)

[2017-01-20 11:55] #19 closed

[2017-01-26 09:00] yegor256 opened #20 "prohibit duplicate jobs in WBS"

[2017-01-26 09:04] yegor256 commented on #20
@rultor release, tag is `0.12.2`

[2017-01-26 09:04] rultor commented on #20
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10727-275338905)

[2017-01-26 09:08] rultor commented on #20
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10727-275338905) (took me 4min)

[2017-01-30 14:22] #20 closed

[2017-01-30 14:22] yegor256 opened #21 "cost-estimates.xsd"

[2017-01-30 14:38] yegor256 commented on #21
@rultor release, tag is `0.13`

[2017-01-30 14:39] rultor commented on #21
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10775-276078385)

[2017-01-30 14:44] rultor commented on #21
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10775-276078385) (took me 4min)

[2017-01-30 14:44] #21 closed

[2017-01-31 12:21] yegor256 commented on #21
@0crat hey

[2017-01-31 12:21] 0crat commented on #21
Hey, what's up, how is it going?

[2017-01-31 12:21] 0crat commented on #21
Hey, what's up, how is it going?

[2017-02-02 08:55] yegor256 opened #22 "limit claim codes in XSD"
Let's limit them

[2017-02-02 09:07] yegor256 commented on #22
@rultor release tag is `0.14`

[2017-02-02 09:08] rultor commented on #22
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10806-276903574)

[2017-02-02 09:11] rultor commented on #22
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10806-276903574) (took me 3min)

[2017-02-02 09:19] #22 closed

[2017-02-02 09:19] 0crat commented on #22
Job `gh:zerocracy/datum#22` is not in scope

[2017-02-02 09:59] yegor256 opened #23 "more types of claims"

[2017-02-02 10:01] yegor256 commented on #23
@rultor release, tag is `0.14.1`

[2017-02-02 10:02] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10807-276915082)

[2017-02-02 10:05] rultor commented on #23
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10807-276915082) (took me 3min)

[2017-02-02 10:11] #23 closed

[2017-02-02 10:11] 0crat commented on #23
Job `gh:zerocracy/datum#23` is not in scope

[2017-02-02 10:11] yegor256 commented on #23
@0crat in

[2017-02-02 10:11] yegor256 commented on #23
@0crat out

[2017-02-02 10:12] 0crat commented on #23
There is an unrecoverable failure on my side.
Please, email this to bug@0crat.com:

[code]

[2017-02-02 10:12] 0crat commented on #23
There is an unrecoverable failure on my side.
Please, email this to bug@0crat.com:

[code]

[2017-02-02 11:00] yegor256 opened #24 "pm.scope.wbs.resign into claims.xml"

[2017-02-02 11:01] yegor256 commented on #24
@rultor release, tag is `0.15`

[2017-02-02 11:01] rultor commented on #24
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10808-276928021)

[2017-02-02 11:04] rultor commented on #24
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10808-276928021) (took me 3min)

[2017-02-02 11:07] #24 closed

[2017-02-02 11:07] 0crat commented on #24
Job `gh:zerocracy/datum#24` was not in scope

[2017-02-02 14:53] yegor256 opened #25 "pm.bootstrap is missing in claims.xsd"

[2017-02-02 14:54] yegor256 commented on #25
@rultor release, tag is `0.15.1`

[2017-02-02 14:55] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10812-276979073)

[2017-02-02 14:59] rultor commented on #25
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10812-276979073) (took me 4min)

[2017-02-02 15:01] #25 closed

[2017-02-02 15:01] 0crat commented on #25
Job `gh:zerocracy/datum#25` was not in scope

[2017-02-02 17:02] yegor256 opened #26 "orders.xsd"
Let's create a document for _work orders_.

[2017-02-02 17:37] yegor256 opened #27 "common types"

[2017-02-02 17:44] yegor256 commented on #27
@rultor release, tag is `0.16`

[2017-02-02 17:45] rultor commented on #27
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10815-277029067)

[2017-02-02 17:49] rultor commented on #27
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10815-277029067) (took me 4min)

[2017-02-02 17:51] #27 closed

[2017-02-02 17:51] 0crat commented on #27
Job `gh:zerocracy/datum#27` was not in scope

[2017-02-02 21:11] yegor256 commented on #26
@rultor release, tag is `0.17`

[2017-02-02 21:12] rultor commented on #26
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10817-277085206)

[2017-02-02 21:15] rultor commented on #26
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10817-277085206) (spent 3min)

[code]

[2017-02-02 21:21] yegor256 commented on #26
@rultor release, tag is `0.17`

[2017-02-02 21:22] rultor commented on #26
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10817-277087742)

[2017-02-02 21:24] rultor commented on #26
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10817-277087742) (took me 3min)

[2017-02-02 21:28] #26 closed

[2017-02-02 21:28] 0crat commented on #26
Job `gh:zerocracy/datum#26` was not in scope

[2017-02-02 21:30] yegor256 opened #28 "https instead of http in XSD types"

[2017-02-02 21:31] yegor256 commented on #28
@rultor release, tag is `0.17.1`

[2017-02-02 21:31] rultor commented on #28
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10818-277090327)

[2017-02-02 21:34] rultor commented on #28
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10818-277090327) (took me 3min)

[2017-02-02 21:34] #28 closed

[2017-02-02 21:34] 0crat commented on #28
Job `gh:zerocracy/datum#28` was not in scope

[2017-02-02 21:51] yegor256 opened #29 "in.orders.start/stop"

[2017-02-02 21:52] yegor256 commented on #29
@rultor release, tag is `0.17.2`

[2017-02-02 21:52] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10819-277095912)

[2017-02-02 21:56] rultor commented on #29
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10819-277095912) (took me 4min)

[2017-02-02 21:56] #29 closed

[2017-02-02 21:56] 0crat commented on #29
Job `gh:zerocracy/datum#29` was not in scope

[2017-02-07 10:35] yegor256 opened #30 "datum.zerocracy.com"

[2017-02-07 10:59] yegor256 commented on #30
@rultor release, tag is `0.18`

[2017-02-07 10:59] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10875-277965919)

[2017-02-07 11:02] rultor commented on #30
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10875-277965919) (spent 3min)

[code]

[2017-02-07 11:03] yegor256 commented on #30
@rultor release, tag is `0.18`

[2017-02-07 11:04] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10875-277966735)

[2017-02-07 11:07] rultor commented on #30
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10875-277966735) (spent 2min)

[code]

[2017-02-07 11:13] yegor256 commented on #30
@rultor release, tag is `0.18`

[2017-02-07 11:13] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10875-277968888)

[2017-02-07 11:17] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10875-277968888) (took me 4min)

[2017-02-07 11:45] #30 closed

[2017-02-07 11:45] 0crat commented on #30
Job `gh:zerocracy/datum#30` was not in scope

[2017-02-07 11:46] yegor256 opened #31 "point XSD links to datum.zerocracy.com"

[2017-02-07 11:48] yegor256 commented on #31
@rultor release, tag is `0.18.1`

[2017-02-07 11:48] rultor commented on #31
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10876-277976138)

[2017-02-07 11:51] rultor commented on #31
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10876-277976138) (took me 3min)

[2017-02-07 11:52] #31 closed

[2017-02-07 11:52] 0crat commented on #31
Job `gh:zerocracy/datum#31` was not in scope

[2017-02-07 11:59] yegor256 opened #32 "typo in claims.xsd"

[2017-02-07 11:59] yegor256 commented on #32
@rultor release, tag is `0.18.2`

[2017-02-07 12:00] rultor commented on #32
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10877-277978560)

[2017-02-07 12:03] rultor commented on #32
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10877-277978560) (took me 3min)

[2017-02-07 12:03] #32 closed

[2017-02-07 12:03] 0crat commented on #32
Job `gh:zerocracy/datum#32` was not in scope

[2017-02-09 10:21] yegor256 opened #33 "more post-events"

[2017-02-09 10:21] #33 closed

[2017-02-09 17:20] yegor256 opened #34 "deploy "latest" version too"

[2017-02-10 16:39] yegor256 commented on #34
@rultor release, tag is `0.18.3`

[2017-02-10 16:40] rultor commented on #34
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10913-278994056)

[2017-02-10 16:45] rultor commented on #34
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10913-278994056) (took me 4min)

[2017-02-10 16:47] #34 closed

[2017-02-10 16:47] 0crat commented on #34
Oops! Job `gh:zerocracy/datum#34` was not in scope

[2017-02-10 17:00] yegor256 opened #35 "more tags"

[2017-02-10 18:42] yegor256 commented on #35
@rultor release, tag is `0.19`

[2017-02-10 18:43] rultor commented on #35
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10915-279029592)

[2017-02-10 18:46] rultor commented on #35
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10915-279029592) (took me 2min)

[2017-02-10 18:46] #35 closed

[2017-02-10 18:47] 0crat commented on #35
Oops! Job `gh:zerocracy/datum#35` was not in scope

[2017-02-21 16:09] yegor256 opened #36 "free text in claim code"

[2017-02-22 09:15] yegor256 commented on #36
@rultor release, tag is `0.20`

[2017-02-22 09:16] rultor commented on #36
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10993-281612543)

[2017-02-22 09:21] rultor commented on #36
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10993-281612543) (took me 5min)

[2017-02-22 09:26] #36 closed

[2017-02-22 09:26] 0crat commented on #36
Oops! Job `gh:zerocracy/datum#36` was not in scope

[2017-03-03 13:10] yegor256 opened #37 "save cash in raw format"

[2017-03-03 13:17] yegor256 commented on #37
@rultor release, tag is `0.21`

[2017-03-03 13:18] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11066-283950328)

[2017-03-03 13:21] rultor commented on #37
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11066-283950328) (took me 2min)

[2017-03-03 13:21] #37 closed

[2017-03-03 13:21] 0crat commented on #37
Oops! Job `gh:zerocracy/datum#37` was not in scope

[2017-05-04 12:35] yegor256 opened #38 "mentor for everybody in people.xsd"

[2017-05-04 12:41] yegor256 commented on #38
@rultor release, tag is `0.22`

[2017-05-04 12:42] rultor commented on #38
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11584-299173717)

[2017-05-04 12:43] rultor commented on #38
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11584-299173717) (spent 1min)

[code]

[2017-05-04 12:45] yegor256 commented on #38
@rultor release, tag is `0.22`

[2017-05-04 12:46] rultor commented on #38
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11584-299174622)

[2017-05-04 12:48] rultor commented on #38
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11584-299174622) (took me 2min)

[2017-05-04 12:49] #38 closed

[2017-05-04 12:49] 0crat commented on #38
Oops! Job `gh:zerocracy/datum#38` was not in scope

[2017-05-10 11:43] alex-palevsky commented on #38
@0crat hello

[2017-05-10 11:43] 0crat commented on #38
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-05-18 17:43] yegor256 opened #39 "ext.xml"
Let's add `ext.xml` into PMO for connectivity parameters

[2017-05-24 16:48] weirdgiraffe opened #40 "Update website"
Website says : "come back in May 2017". Today is 24 May 2017, expectation expires in 7 days

[2017-05-24 16:48] 0crat commented on #40
@yegor256 please, pay attention to this issue

[2017-05-29 13:47] yegor256 commented on #40
@weirdgiraffe fixed in https://github.com/zerocracy/zerocracy.github.io/commit/1e3af887748f101c2188996ca4d9de5bcad760c0 Thanks for reminding :)

[2017-05-29 13:57] #40 closed

[2017-05-29 13:57] 0crat commented on #40
Oops! Job `gh:zerocracy/datum#40` was not in scope

[2017-06-08 10:39] yegor256 commented on #39
@rultor release, tag is `0.23`

[2017-06-08 10:39] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11920-307066631)

[2017-06-08 10:44] rultor commented on #39
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11920-307066631) (took me 4min)

[2017-06-08 10:45] #39 closed

[2017-06-08 10:45] 0crat commented on #39
Oops! Job `gh:zerocracy/datum#39` was not in scope

[2017-06-26 11:56] yegor256 opened #41 "elections.xsd"
Let's make it possible to vote for performers.

[2017-06-26 12:01] #41 closed

[2017-06-26 12:01] 0crat commented on #41
Oops! Job `gh:zerocracy/datum#41` was not in scope

[2017-06-26 12:01] yegor256 opened #42 "upgrades"
Let's introduce upgrades for all XMLs

[2017-06-26 19:05] yegor256 commented on #42
@rultor release, tag is `0.24`

[2017-06-26 19:06] rultor commented on #42
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12139-311152606)

[2017-06-26 19:10] rultor commented on #42
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12139-311152606) (took me 4min)

[2017-06-26 19:40] #42 closed

[2017-06-26 19:40] yegor256 opened #44 "upgrades location is wrong"

[2017-06-26 19:41] 0crat commented on #42
Oops! Job `gh:zerocracy/datum#42` was not in scope

[2017-06-26 19:42] yegor256 commented on #44
@rultor release, tag is `0.24.1`

[2017-06-26 19:43] rultor commented on #44
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12140-311161229)

[2017-06-26 19:47] rultor commented on #44
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12140-311161229) (took me 3min)

[2017-06-26 20:07] #44 closed

[2017-06-26 20:08] 0crat commented on #44
Oops! Job `gh:zerocracy/datum#44` was not in scope

[2017-06-26 21:20] yegor256 opened #45 "_list is a bad name for Github pages"

[2017-06-27 07:30] yegor256 commented on #45
@rultor release, tag is `0.24.2`

[2017-06-27 07:31] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12147-311276889)

[2017-06-27 07:36] rultor commented on #45
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12147-311276889) (took me 4min)

[2017-06-27 07:38] #45 closed

[2017-06-27 07:38] 0crat commented on #45
Oops! Job `gh:zerocracy/datum#45` was not in scope

[2017-06-28 07:12] yegor256 opened #46 "agenda.xsd"
Let's add agendas for people.

[2017-06-28 07:21] yegor256 commented on #46
@rultor release, tag is `0.25`

[2017-06-28 07:22] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12166-311578414)

[2017-06-28 07:26] rultor commented on #46
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12166-311578414) (took me 4min)

[2017-06-28 07:46] #46 closed

[2017-06-28 07:46] 0crat commented on #46
Oops! Job `gh:zerocracy/datum#46` was not in scope

[2017-06-28 15:31] yegor256 opened #47 "awards.xsd"
Let's make it possible to collect awards for a developer.

[2017-06-28 15:46] yegor256 commented on #47
@rultor release, tag is `0.26`

[2017-06-28 15:49] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12182-311701663)

[2017-06-28 15:53] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12182-311701663) (took me 4min)

[2017-06-28 15:56] #47 closed

[2017-06-28 15:57] 0crat commented on #47
Oops! Job `gh:zerocracy/datum#47` was not in scope

[2017-07-20 16:32] g4s8 opened #51 "Lack of documentation for schema changes"
It's not clear how to add new `xsd` files or change existing.
Also I'd like to see some explanation of `xml` and `upgrades` folders,
how to name validation `xml` files and upgrade `xsl` files.

[2017-07-20 16:32] 0crat commented on #51
@yegor256 please, pay attention to this issue

[2017-07-20 19:28] yegor256 commented on #51
@0crat assign me

[2017-07-20 19:52] 0crat commented on #51
@yegor256 Job `gh:zerocracy/datum#51` assigned to @yegor256, please go ahead.

[2017-07-21 06:57] yegor256 commented on #51
@g4s8 see c5568a0 Good enough?

[2017-07-21 07:03] g4s8 commented on #51
@yegor256 yes, it looks good

[2017-07-21 07:21] yegor256 commented on #51
@g4s8 please, close the ticket than :)

[2017-07-21 07:40] #51 closed

[2017-07-21 07:40] 0crat commented on #51
Job `gh:zerocracy/datum#51` is out of scope.

[2017-07-21 07:41] 0crat commented on #51
+30 points just awarded to @yegor256, total is +270

[2017-07-24 12:41] yegor256 opened #52 "XSL views"
Let's add XSL views for all project artifacts

[2017-07-24 13:45] yegor256 commented on #52
@rultor release, tag is `0.29`

[2017-07-24 13:47] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12478-317427143)

[2017-07-24 13:50] rultor commented on #52
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12478-317427143) (spent 3min)

[code]

[2017-07-24 13:55] yegor256 commented on #52
@rultor release, tag is `0.29`

[2017-07-24 13:55] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12478-317430017)

[2017-07-24 14:00] rultor commented on #52
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12478-317430017) (took me 4min)

[2017-07-24 14:03] #52 closed

[2017-07-24 14:03] 0crat commented on #52
Oops! Job `gh:zerocracy/datum#52` was not in scope

[2017-07-24 18:17] yegor256 opened #53 "<section> into XSL"
Let's use `<section>` there.

[2017-07-24 18:20] yegor256 commented on #53
@rultor release, tag is `0.29.1`

[2017-07-24 18:21] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12486-317510542)

[2017-07-24 18:25] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12486-317510542) (took me 4min)

[2017-07-24 18:26] #53 closed

[2017-07-24 18:26] 0crat commented on #53
Oops! Job `gh:zerocracy/datum#53` was not in scope

[2017-07-25 18:43] yegor256 opened #54 "additional XSL"
We need more XSL documents.

[2017-07-25 18:43] yegor256 commented on #54
@0crat assign me

[2017-07-25 18:44] 0crat commented on #54
@yegor256 Job `gh:zerocracy/datum#54` assigned to @yegor256, please go ahead.

[2017-07-25 18:45] 0crat commented on #54
+15 points just awarded to @yegor256, total is [+585](http://www.0crat.com/u/yegor256).

[2017-07-25 18:56] yegor256 commented on #54
@rultor release, tag is `0.29.2`

[2017-07-25 18:57] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12501-317837228)

[2017-07-25 19:01] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12501-317837228) (took me 3min)

[2017-07-25 19:01] #54 closed

[2017-07-25 19:01] 0crat commented on #54
Job `gh:zerocracy/datum#54` is now out of scope.

[2017-07-25 19:02] 0crat commented on #54
+30 points just awarded to @yegor256, total is [+615](http://www.0crat.com/u/yegor256).

[2017-07-27 13:44] yegor256 opened #56 "projects.xml"
Let's add a document to each user, with a list a projects he is working in.

[2017-07-27 14:19] yegor256 commented on #56
@rultor release, tag is `0.30`

[2017-07-27 14:21] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12509-318376251)

[2017-07-27 14:24] rultor commented on #56
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12509-318376251) (took me 3min)

[2017-07-27 17:00] #56 closed

[2017-07-27 17:00] 0crat commented on #56
Oops! Job `gh:zerocracy/datum#56` was not in scope

[2017-08-01 10:57] yegor256 opened #58 "markdown documents"
Let's create markdown documents, including policy.

[2017-08-01 13:17] yegor256 commented on #58
@rultor release, tag is `0.32`

[2017-08-01 13:18] rultor commented on #58
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12550-319366989)

[2017-08-01 13:20] rultor commented on #58
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12550-319366989) (spent 2min)

[code]

[2017-08-01 13:21] yegor256 commented on #58
@rultor release, tag is `0.32`

[2017-08-01 13:22] rultor commented on #58
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12550-319368016)

[2017-08-01 13:27] rultor commented on #58
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12550-319368016) (spent 4min)

[code]

[2017-08-01 13:33] yegor256 commented on #58
@rultor release, tag is `0.32`

[2017-08-01 13:34] rultor commented on #58
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12550-319371014)

[2017-08-01 13:38] rultor commented on #58
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12550-319371014) (took me 4min)

[2017-08-01 13:47] #58 closed

[2017-08-01 13:47] 0crat commented on #58
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-01 15:34] yegor256 opened #59 "policy issues"

[2017-08-01 19:40] yegor256 commented on #59
@rultor release, tag is `0.32.2`

[2017-08-01 19:41] rultor commented on #59
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12557-319474934)

[2017-08-01 19:45] rultor commented on #59
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12557-319474934) (took me 4min)

[2017-08-01 19:49] #59 closed

[2017-08-01 19:49] 0crat commented on #59
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-08 11:24] yegor256 opened #66 "publish mode"
Let's make it possible to publish projects

[2017-08-08 13:22] yegor256 commented on #66
@rultor release, tag is `0.34`

[2017-08-08 13:23] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12635-320954255)

[2017-08-08 13:27] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12635-320954255) (took me 3min)

[2017-08-08 13:27] #66 closed

[2017-08-08 13:28] 0crat commented on #66
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 06:08] amihaiemil opened #69 "0crat fails on links command"
![image](https://user-images.githubusercontent.com/6305156/29156596-6cdbc170-7dab-11e7-9674-0e6f69b4688a.png)

Here is the exception:

[code]

[2017-08-10 06:08] 0crat commented on #69
@yegor256 please, pay attention to this issue

[2017-08-10 06:10] amihaiemil opened #70 "0crat doesn't seem to understand DEV commands"
![image](https://user-images.githubusercontent.com/6305156/29156638-a7ab865a-7dab-11e7-8a78-fa8199c5a1f4.png)

It doesn't understand "skills" and it tells me about the "bootstrap" command, which is for PO, not for DEV role.

[2017-08-10 06:10] 0crat commented on #70
@yegor256 please, pay attention to this issue

[2017-08-10 06:12] amihaiemil opened #71 "'Hello' and 'skills' fail on GIthub repo which 0crat doesn't know"
I said 'hello' and 'skills' to 0crat, in one of my repos, and it replied with an exception:

![image](https://user-images.githubusercontent.com/6305156/29156717-fcc91d32-7dab-11e7-9a4a-8eb3d6ecb001.png)

[code]

[2017-08-10 06:12] 0crat commented on #71
@yegor256 please, pay attention to this issue

[2017-08-10 06:25] yegor256 commented on #71
@amihaiemil thanks, we'll take a look right now

[2017-08-10 06:26] yegor256 commented on #70
@amihaiemil thanks for reporting, let us check...

[2017-08-10 06:27] yegor256 commented on #69
@amihaiemil thanks for reporting, we're on it...

[2017-08-10 09:28] DronMDF commented on #69
links is work in next syntax:
$0crat links add github user/repo
I can link repo. :)

[2017-08-10 09:31] DronMDF opened #72 "0crat.com can't find user"
![image](https://user-images.githubusercontent.com/2982959/29164259-83b25280-7dc7-11e7-8089-c11af353d79e.png)

The error occurs after clicking on the username at the bottom of the page.
This can be due to aliases.

[2017-08-10 09:31] 0crat commented on #72
@yegor256 please, pay attention to this issue

[2017-08-10 09:34] amihaiemil commented on #69
@DronMDF Yes, but even so, are we supposed, as DEV roles, to be able to link and bootstrap?

[2017-08-10 09:35] DronMDF opened #73 "$0crat roles does not show anything"
![image](https://user-images.githubusercontent.com/2982959/29164541-6c6e1f9a-7dc8-11e7-8565-37a04c9720c1.png)

[2017-08-10 09:35] 0crat commented on #73
@yegor256 please, pay attention to this issue

[2017-08-10 11:13] DronMDF opened #74 "0crat.com not show wbs for my project."
www.0crat.com/a/C6KLDT6QG?a=pm/scope/wbs

[code]

commans $0crat wbs not worked too.

![image](https://user-images.githubusercontent.com/2982959/29168094-1cc0ca5c-7dd6-11e7-9c42-c9debde50830.png)

[2017-08-10 11:13] 0crat commented on #74
@yegor256 please, pay attention to this issue

[2017-08-10 12:48] yegor256 commented on #73
@rultor release, tag is `0.35.1`

[2017-08-10 12:49] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12648-321541106)

[2017-08-10 12:53] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12648-321541106) (took me 4min)

[2017-08-10 12:54] yegor256 commented on #71
@amihaiemil try again please

[2017-08-10 12:54] yegor256 commented on #70
@amihaiemil try again please

[2017-08-10 13:02] DronMDF opened #75 "$0crat call me on github by slack name..."
https://github.com/DronMDF/telebot/issues/4

On github i known as DronMDF

[2017-08-10 13:02] 0crat commented on #75
@yegor256 please, pay attention to this issue

[2017-08-10 13:53] amihaiemil commented on #70
@yegor256 it's the same :(

[2017-08-10 13:54] amihaiemil commented on #71
@yegor256 this seems to work. It tells me the project is not managed and sends me to Slack

[2017-08-10 14:46] DronMDF commented on #72
http://www.0crat.com/u/dronmdf is work ok.

[2017-08-10 15:02] yegor256 opened #76 "strict validation of token text"
Let's make it strict

[2017-08-10 15:07] yegor256 commented on #76
@rultor release, tag is `0.35.2`

[2017-08-10 15:12] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12651-321579684) (took me 4min)

[2017-08-10 15:14] #76 closed

[2017-08-10 15:15] 0crat commented on #76
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 15:17] yegor256 opened #77 "typo in claims.xsd"
Let's fix

[2017-08-10 15:20] yegor256 commented on #77
@rultor release, tag is `0.35.3`

[2017-08-10 15:21] rultor commented on #77
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12652-321583671)

[2017-08-10 15:26] rultor commented on #77
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12652-321583671) (took me 4min)

[2017-08-10 15:27] #77 closed

[2017-08-10 15:27] 0crat commented on #77
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 15:28] DronMDF commented on #75
Sorry, I had to invite by github name.

[2017-08-10 15:28] #75 closed

[2017-08-10 15:28] 0crat commented on #75
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 15:38] DronMDF opened #78 "Case sensetivity names"
I am a @DronMDF

I assign ARC roles to myself.
![image](https://user-images.githubusercontent.com/2982959/29178465-505344c0-7dfa-11e7-8dd3-1e029a39a18f.png)

0crat not remember name case, and call me @dronmdf. This is not work on github.
https://github.com/DronMDF/telebot/issues/1

[2017-08-10 15:38] 0crat commented on #78
@yegor256 please, pay attention to this issue

[2017-08-10 15:41] yegor256 commented on #70
@amihaiemil it has to be the same, but now it explains what's going on. You should be talking in a private chat with the bot.

[2017-08-10 15:42] yegor256 commented on #71
@amihaiemil that's how it should be. See http://datum.zerocracy.com/pages/policy.html#11

[2017-08-10 15:47] DronMDF commented on #73
http://www.0crat.com/a/C6KLDT6QG?a=pm/staff/roles works fine. Thanks.

[2017-08-10 15:47] #73 closed

[2017-08-10 15:47] amihaiemil commented on #71
Ok :D

[2017-08-10 15:47] #71 closed

[2017-08-10 15:47] amihaiemil commented on #70
Yes, private chat, still the exception :D

[2017-08-10 15:48] yegor256 commented on #72
@DronMDF fixed, thanks for reporting!

[2017-08-10 15:48] DronMDF commented on #78
related to #72

[2017-08-10 15:50] DronMDF commented on #72
Thank's.

[2017-08-10 15:50] #72 closed

[2017-08-10 15:58] 0crat commented on #71
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 15:58] 0crat commented on #73
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 15:58] 0crat commented on #72
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 16:03] yegor256 opened #79 "titles for artifacts"
Let's add titles to them and short descriptions.

[2017-08-10 16:24] yegor256 commented on #79
@rultor release, tag is `0.35.4`

[2017-08-10 16:26] rultor commented on #79
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12653-321602391)

[2017-08-10 16:30] rultor commented on #79
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12653-321602391) (took me 4min)

[2017-08-10 16:33] #79 closed

[2017-08-10 16:33] 0crat commented on #79
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 16:51] yegor256 commented on #70
@amihaiemil can you show the screenshot?

[2017-08-10 17:01] amihaiemil commented on #70
![screenshot_2017-08-10-19-59-38](https://user-images.githubusercontent.com/6305156/29182178-920e9ac0-7e06-11e7-8f89-09e590f92ec7.jpg)

@yegor256 now it works, no stacktrace, but it is a private chat and I think it should suggest commands for DEV not for OP

[2017-08-10 17:05] yegor256 commented on #70
@amihaiemil it's not a private chat, it's a channel. You should start a private conversation with the bot.

[2017-08-10 17:08] amihaiemil commented on #70
![screenshot_2017-08-10-20-07-09](https://user-images.githubusercontent.com/6305156/29182425-8d5e2fc6-7e07-11e7-8a75-5ff087116d2a.jpg)

@yegor256 tried direct chat, I get an exception, I suppose because I have no registered skills. What's the syntax for registering?

[2017-08-10 17:25] yegor256 commented on #70
@amihaiemil it was a bug, try now pls

[2017-08-10 17:37] amihaiemil commented on #70
@yegor256 ok, works, it says "Your skills are not defined yet". How do I define them?

[2017-08-10 17:43] yegor256 opened #80 "let's remove skills"
Let's get rid of skills.

[2017-08-10 17:45] yegor256 commented on #80
@rultor release, tag is `0.35.5`

[2017-08-10 17:45] rultor commented on #80
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12654-321623775)

[2017-08-10 17:50] rultor commented on #80
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12654-321623775) (took me 4min)

[2017-08-10 18:31] #80 closed

[2017-08-10 18:31] 0crat commented on #80
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 18:49] yegor256 commented on #70
@amihaiemil we decided to remove skills at all. No need to define them. Let's close this.

[2017-08-10 18:50] amihaiemil commented on #70
Ok, closing

[2017-08-10 18:50] #70 closed

[2017-08-10 18:50] 0crat commented on #70
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-11 08:53] DronMDF opened #81 "issue out was fail"
https://github.com/DronMDF/telebot/issues/2#issuecomment-321761156

java.lang.IllegalStateException: Failed to acquire "2017/08/C6KLDT6QG/orders.xml" in 20s

More in issue.

PS: But issue was out.

[2017-08-11 08:53] 0crat commented on #81
@yegor256 please, pay attention to this issue

[2017-08-11 13:05] yegor256 commented on #81
@DronMDF we're looking at it now...

[2017-08-13 20:02] DronMDF commented on #74
I can view wbs over web.
Thank's.

[2017-08-13 20:02] #74 closed

[2017-08-13 20:02] 0crat commented on #74
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-14 12:12] yegor256 opened #82 "XSLs need more improvements"
Let's make them more readable

[2017-08-14 12:57] yegor256 opened #83 "notify_user must notify all links"
At the moment `Notify User` only sends a message to the user in Slack. This is not correct, since the user may have other aliases, like Telegram, for example. We must take them all from the `People` and notify the user through all of them.

[2017-08-14 12:57] yegor256 commented on #83
@0crat assign @g4s8

[2017-08-14 12:58] 0crat commented on #83
@yegor256 Job `gh:zerocracy/datum#83` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 12:58] 0crat commented on #83
+15 points just awarded to @yegor256, total is [+1665](http://www.0crat.com/u/yegor256).

[2017-08-14 16:01] yegor256 commented on #83
@g4s8 oops, wrong repo

[2017-08-14 16:01] #83 closed

[2017-08-14 16:01] 0crat commented on #83
Job `gh:zerocracy/datum#83` is now out of scope.

[2017-08-14 16:01] 0crat commented on #83
+30 points just awarded to @g4s8, total is [+1020](http://www.0crat.com/u/g4s8).

[2017-08-14 18:43] amihaiemil opened #84 "Cannot set rate"
I open the direct, private chat with 0crat, and type "rate $dd" -- it responds with "your rate is 0"

[2017-08-14 18:43] 0crat commented on #84
@yegor256 please, pay attention to this issue

[2017-08-14 20:59] yegor256 commented on #84
@0crat assign @g4s8

[2017-08-14 20:59] 0crat commented on #84
@yegor256 Job `gh:zerocracy/datum#84` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 21:13] yegor256 commented on #82
@rultor release, tag is `0.35.6`

[2017-08-14 22:15] yegor256 commented on #82
@rultor release, tag is `0.36`

[2017-08-14 22:16] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12680-322324856)

[2017-08-14 22:20] rultor commented on #82
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12680-322324856) (spent 4min)

[code]

[2017-08-15 05:27] g4s8 opened #85 "Human-readable timestamps"
Now we can see our awards and agenda timestamps in ISO-8601 format, e.g. this one: 2017-08-14T16:01:33.038Z.
I think it should be formatted like this: 14 aug 2017 16:33.
Also it would be better to show this time in browser timezone, not UTC.

[2017-08-15 05:27] 0crat commented on #85
@yegor256 please, pay attention to this issue

[2017-08-15 06:18] yegor256 commented on #82
@rultor release, tag is `0.36`

[2017-08-15 06:18] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12680-322386248)

[2017-08-15 06:23] rultor commented on #82
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12680-322386248) (took me 4min)

[2017-08-15 06:26] #82 closed

[2017-08-15 07:22] yegor256 opened #86 "rename _template.xsl to something without an underscore"
Let's rename it, since GitHub Pages don't render any files that start with an underscore.

[2017-08-15 07:28] yegor256 commented on #86
@rultor release, tag is `0.36.1`

[2017-08-15 07:29] rultor commented on #86
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12685-322396300)

[2017-08-15 07:33] rultor commented on #86
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12685-322396300) (took me 4min)

[2017-08-15 07:33] #86 closed

[2017-08-15 07:33] 0crat commented on #86
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-15 09:33] yegor256 commented on #85
@0crat in

[2017-08-15 09:34] 0crat commented on #85
@yegor256 Job `gh:zerocracy/datum#85` is in scope.

[2017-08-15 09:34] 0crat commented on #85
+15 points just awarded to @g4s8, total is [+1035](http://www.0crat.com/u/g4s8).

[2017-08-15 12:35] yegor256 commented on #85
@0crat assign me

[2017-08-15 12:35] 0crat commented on #85
@yegor256 Job `gh:zerocracy/datum#85` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-15 14:16] yegor256 commented on #85
@rultor release, tag is `0.36.2`

[2017-08-15 14:21] rultor commented on #85
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12693-322479222) (took me 4min)

[2017-08-15 14:33] yegor256 opened #87 "typo in templates.xsl"
`xs:` prefix is not defined.

[2017-08-15 14:34] yegor256 commented on #87
@rultor release, tag is `0.36.3`

[2017-08-15 14:35] rultor commented on #87
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12694-322485891)

[2017-08-15 14:40] rultor commented on #87
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12694-322485891) (took me 4min)

[2017-08-15 14:43] #87 closed

[2017-08-15 14:43] 0crat commented on #87
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-15 16:17] yegor256 opened #88 "today param must be in all XSL sheets"
`today` param must be in all XSL sheets

[2017-08-15 16:17] yegor256 commented on #88
@rultor release, tag is `0.36.4`

[2017-08-15 16:18] rultor commented on #88
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12695-322514609)

[2017-08-15 16:22] rultor commented on #88
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12695-322514609) (took me 4min)

[2017-08-15 16:23] #88 closed

[2017-08-15 16:23] 0crat commented on #88
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-15 16:25] yegor256 commented on #85
@g4s8 seem to be fine now, please check

[2017-08-15 16:45] g4s8 commented on #85
@yegor256 yes, thanks

[2017-08-15 16:45] #85 closed

[2017-08-15 16:45] 0crat commented on #85
Job `gh:zerocracy/datum#85` is now out of scope.

[2017-08-15 16:45] 0crat commented on #85
+30 points just awarded to @yegor256, total is [+1860](http://www.0crat.com/u/yegor256).

[2017-08-16 17:13] yegor256 opened #89 "Show winner in elections"
Let's show the winner.

[2017-08-16 17:19] 0crat commented on #89
Job `gh:zerocracy/datum#89` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-16 17:19] 0crat commented on #89
+15 points just awarded to @yegor256, total is [+1875](http://www.0crat.com/u/yegor256).

[2017-08-16 17:58] yegor256 commented on #89
Can't do it with XSLT 1.0, unfortunately :(

[2017-08-16 17:58] #89 closed

[2017-08-16 17:58] 0crat commented on #89
Job `gh:zerocracy/datum#89` is now out of scope.

[2017-08-16 17:58] 0crat commented on #89
+30 points just awarded to @yegor256, total is [+1920](http://www.0crat.com/u/yegor256).

[2017-08-16 20:29] DronMDF opened #90 "DEV can not resign task"
detail in https://github.com/DronMDF/telebot/issues/4#issuecomment-322866441

Only ARC or PO can resign task?
How DEV can reject it?

[2017-08-16 20:29] 0crat commented on #90
@yegor256 please, pay attention to this issue

[2017-08-16 20:48] yegor256 commented on #90
@DronMDF you can say `refuse`, see http://datum.zerocracy.com/pages/policy.html#6

[2017-08-16 21:04] DronMDF commented on #90
Ok, thanks.

[2017-08-16 21:04] #90 closed

[2017-08-16 21:08] 0crat commented on #90
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-16 21:19] DronMDF opened #91 "Different usernames in slack and github"
User tanyaerm from slack invited to project.
On Roles page i look tanyaerm name and github url. This is wrong and not worked.

Next, a try to assign issue on github.
0crat say me 'tanika95' is not in project.

If i'll try assign tanyaerm - 0crat does not say anything. This name used in Roles!

What name and where should I use it?

[2017-08-16 21:20] 0crat commented on #91
@yegor256 please, pay attention to this issue

[2017-08-17 06:02] yegor256 commented on #91
@DronMDF we must everywhere use GitHub names, not Slack ones. We will try to add extra checks now, to make sure you get error messages when trying to use non-GitHub IDs.

[2017-08-17 06:59] DronMDF commented on #91
One moment. If bot talk with user on slack, github name is not work... in other places gh name is ok.

[2017-08-17 10:12] g4s8 opened #92 "User points"
It's not clear what is "points" and how they are related with actual cash. I think it should be written in policy page.

[2017-08-17 10:12] 0crat commented on #92
@yegor256 please, pay attention to this issue

[2017-08-17 11:00] DronMDF opened #93 "Resign command cause exception"
![image](https://user-images.githubusercontent.com/2982959/29409257-184c6732-8354-11e7-9815-685bf6f08625.png)

This is a slack name.
I need to use gh name in assign? Right?
Resigning is complete, user leave roles.

Details:
1.0-SNAPSHOT 2f52b52 2017-08-17T05:56:32
IllegalStateException: java.lang.reflect.InvocationTargetException
java.io.FileNotFoundException: /tmp/5833513183822423056/PMO/projects

[2017-08-17 11:00] 0crat commented on #93
@yegor256 please, pay attention to this issue

[2017-08-17 14:33] DronMDF opened #94 "0crat pay +15 for PR"
https://github.com/DronMDF/telebot/pull/5

[2017-08-17 14:33] 0crat commented on #94
@yegor256 please, pay attention to this issue

[2017-08-17 17:23] 0crat commented on #93
Job `gh:zerocracy/datum#93` assigned to @carlosmiranda, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-17 17:27] 0crat commented on #94
Job `gh:zerocracy/datum#94` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-18 08:37] 0crat commented on #92
Job `gh:zerocracy/datum#92` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-18 08:37] 0crat commented on #92
+15 points just awarded to @g4s8, total is [+1380](http://www.0crat.com/u/g4s8).

[2017-08-18 08:38] yegor256 commented on #92
@g4s8 check ca861d7 Good enough?

[2017-08-21 11:13] DronMDF opened #95 "Refuse of the issue does not work."
https://github.com/DronMDF/telebot/issues/2#issuecomment-323709290

[2017-08-21 11:13] 0crat commented on #95
@yegor256 please, pay attention to this issue

[2017-08-21 11:56] 0crat commented on #95
Job `gh:zerocracy/datum#95` assigned to @carlosmiranda, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-21 19:21] DronMDF opened #96 "0crat does not pay for review."
PR https://github.com/DronMDF/telebot/pull/5 is closed, but 0crat does not wake up for give money.

[2017-08-21 19:21] 0crat commented on #96
@yegor256 please, pay attention to this issue

[2017-08-23 02:11] carlosmiranda opened #97 "Rake build failure (NoMethodError: undefined method `iso8601')"
Project build is failing. See: https://travis-ci.org/zerocracy/datum/builds/267153828

[code]

This can be fixed by adding the following `require` statement to the Rakefile:

[code]

[2017-08-23 02:11] 0crat commented on #97
@yegor256 please, pay attention to this issue

[2017-08-23 06:58] 0crat commented on #97
Job `gh:zerocracy/datum#97` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-23 06:58] 0crat commented on #97
+15 points just awarded to @carlosmiranda, total is [+795](http://www.0crat.com/u/carlosmiranda).

[2017-08-23 07:22] 0crat commented on #96
Job `gh:zerocracy/datum#96` assigned to @carlosmiranda, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-23 07:31] yegor256 commented on #97
@carlosmiranda I believe it's fixed already, right?

[2017-08-23 07:35] carlosmiranda commented on #97
@yegor256 yes, I had to incorporate it in #98 or else I would not have been able to build it. Thanks, closing it now.

[2017-08-23 07:35] #97 closed

[2017-08-23 07:35] 0crat commented on #97
Job `gh:zerocracy/datum#97` is now out of scope.

[2017-08-23 07:36] 0crat commented on #97
+30 points just awarded to @yegor256, total is [+2220](http://www.0crat.com/u/yegor256).

[2017-08-24 08:35] yegor256 opened #99 "XML consistency rules"
Let's introduce consistency rules between XML documents, to make sure they all are in order. For example, an `<order>` can't exist in `orders.xml` if a respective `<job>` is not present in the `wbs.xml`.

[2017-08-24 13:11] yegor256 opened #100 "XML cross-updates"
Let's create XSLs for cross updates of XML documents. When a modification happens to, say `orders.xml`, we should automatically update, say, `elections.xml`.

[2017-08-25 04:47] yegor256 opened #101 "xcop"
Let's use xcop.

[2017-08-25 12:49] #101 closed

[2017-08-25 12:49] 0crat commented on #101
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-28 07:21] g4s8 commented on #92
@yegor256 yes, thanks!

[2017-08-28 07:21] #92 closed

[2017-08-28 07:21] 0crat commented on #92
Job `gh:zerocracy/datum#92` is now out of scope.

[2017-08-28 07:21] 0crat commented on #92
+30 points just awarded to @yegor256, total is [+2415](http://www.0crat.com/u/yegor256).

[2017-08-28 13:15] 0crat commented on #100
Job `gh:zerocracy/datum#100` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-28 13:15] 0crat commented on #100
+15 points just awarded to @yegor256, total is [+2430](http://www.0crat.com/u/yegor256).

[2017-08-28 13:15] 0crat commented on #99
Job `gh:zerocracy/datum#99` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-28 13:15] 0crat commented on #99
+15 points just awarded to @yegor256, total is [+2445](http://www.0crat.com/u/yegor256).

[2017-08-28 16:58] yegor256 commented on #99
@rultor release, tag is `0.38`

[2017-08-28 20:21] yegor256 commented on #99
@rultor release, tag is `0.38`

[2017-08-28 20:22] rultor commented on #99
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12824-325469300)

[2017-08-28 20:24] rultor commented on #99
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12824-325469300) (spent 2min)

[code]

[2017-08-28 20:27] yegor256 commented on #99
@rultor release, tag is `0.38`

[2017-08-28 20:27] rultor commented on #99
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12824-325471049)

[2017-08-28 20:32] rultor commented on #99
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12824-325471049) (took me 4min)

[2017-08-28 20:52] #100 closed

[2017-08-28 20:52] #99 closed

[2017-08-28 20:55] 0crat commented on #100
Job `gh:zerocracy/datum#100` is now out of scope.

[2017-08-28 20:55] 0crat commented on #99
Job `gh:zerocracy/datum#99` is now out of scope.

[2017-08-28 20:55] 0crat commented on #100
+30 points just awarded to @yegor256, total is [+2475](http://www.0crat.com/u/yegor256).

[2017-08-28 20:55] 0crat commented on #99
+30 points just awarded to @yegor256, total is [+2505](http://www.0crat.com/u/yegor256).

[2017-08-29 18:36] kkamkou opened #102 "[bot] apply call without a project id triggers TelegramApiRequestException"
Reproduce:
- type `apply` without id.

Exception:
[code]

[2017-08-29 18:36] 0crat commented on #102
@yegor256 please, pay attention to this issue

[2017-08-29 18:41] kkamkou opened #103 "Too many issues assigned to a new person without rate"
Recently I've registered for a new project. Having `rate=0`, the system has assigned 15 issues to me.

Reproduce (Telegram bot is used):
- `apply #12345`
- go to the [agenda](http://www.0crat.com/u/kkamkou/agenda) page

[2017-08-29 18:41] 0crat commented on #103
@yegor256 please, pay attention to this issue

[2017-08-29 18:44] kkamkou opened #104 "[bot][telegram] help message design issue"
Not all commands are displayed correctly.

![2017-08-29-d1a9ea7](https://user-images.githubusercontent.com/305739/29838162-ae35dd3c-8cfa-11e7-911b-1cf5e8e48d82.png)

[2017-08-29 18:44] 0crat commented on #104
@yegor256 please, pay attention to this issue

[2017-08-30 08:01] 0crat commented on #103
Job `gh:zerocracy/datum#103` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-30 11:41] 0crat commented on #102
Job `gh:zerocracy/datum#102` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-30 15:47] yegor256 commented on #103
@kkamkou won't happen again, it's fixed

[2017-08-30 16:23] 0crat commented on #104
Job `gh:zerocracy/datum#104` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-30 16:23] yegor256 opened #106 "show path in each entry, in index.xml"
Let's show path there, for each entry

[2017-08-30 16:26] 0crat commented on #106
Job `gh:zerocracy/datum#106` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-30 16:26] 0crat commented on #106
+15 points just awarded to @yegor256, total is [+2595](http://www.0crat.com/u/yegor256).

[2017-08-30 16:39] yegor256 commented on #106
@rultor release, tag is `0.38.1`

[2017-08-30 16:41] rultor commented on #106
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12857-326048395)

[2017-08-30 16:44] yegor256 opened #107 "extract prefix and sort by it, in index.xml"
Let's extract numeric prefixes and sort by them.

[2017-08-30 16:45] 0crat commented on #107
Job `gh:zerocracy/datum#107` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-30 16:45] 0crat commented on #107
+15 points just awarded to @yegor256, total is [+2610](http://www.0crat.com/u/yegor256).

[2017-08-30 16:46] rultor commented on #106
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12857-326048395) (took me 4min)

[2017-08-30 16:47] #106 closed

[2017-08-30 16:47] 0crat commented on #106
Job `gh:zerocracy/datum#106` is now out of scope.

[2017-08-30 16:47] 0crat commented on #106
+30 points just awarded to @yegor256, total is [+2640](http://www.0crat.com/u/yegor256).

[2017-08-30 17:36] yegor256 commented on #107
@rultor release, tag is `0.39`

[2017-08-30 17:37] rultor commented on #107
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12858-326064497)

[2017-08-30 17:44] rultor commented on #107
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12858-326064497) (took me 7min)

[2017-08-30 17:51] #107 closed

[2017-08-30 17:51] 0crat commented on #107
Job `gh:zerocracy/datum#107` is now out of scope.

[2017-08-30 17:51] 0crat commented on #107
+30 points just awarded to @yegor256, total is [+2670](http://www.0crat.com/u/yegor256).

[2017-08-30 17:51] yegor256 opened #108 "complex order numbers are broken in index.xml"
Say, `0.24-test` will produce `order="0"`

[2017-08-30 17:52] 0crat commented on #108
Job `gh:zerocracy/datum#108` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-30 17:52] 0crat commented on #108
+15 points just awarded to @yegor256, total is [+2685](http://www.0crat.com/u/yegor256).

[2017-08-30 18:01] yegor256 commented on #108
@rultor release, tag is `0.39.1`

[2017-08-30 18:02] rultor commented on #108
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12859-326071308)

[2017-08-30 18:11] rultor commented on #108
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12859-326071308) (took me 8min)

[2017-08-30 20:02] #108 closed

[2017-08-30 20:04] 0crat commented on #108
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-30 20:04] 0crat commented on #108
Job `gh:zerocracy/datum#108` is now out of scope.

[2017-08-30 20:07] 0crat commented on #108
+30 points just awarded to @yegor256, total is [+2715](http://www.0crat.com/u/yegor256).

[2017-08-31 13:41] yegor256 opened #109 "add URI to index.xml"
Let's add full URI to each entry

[2017-08-31 13:58] #109 closed

[2017-08-31 14:00] 0crat commented on #109
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-31 14:00] 0crat commented on #109
Oops! Job `gh:zerocracy/datum#109` was not in scope

[2017-09-01 19:31] DronMDF opened #111 "Performer cannot refuse issue"
https://github.com/DronMDF/telebot/issues/1#issuecomment-326663725

His say: "Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project."

[2017-09-01 19:31] 0crat commented on #111
@yegor256 please, pay attention to this issue

[2017-09-01 19:34] DronMDF opened #112 "0crat not control performing time."
https://github.com/DronMDF/telebot/issues/2#issuecomment-322831774

Issue assigned 16 days ago.
0crat should reassign it after 10 days.

[2017-09-01 19:34] 0crat commented on #112
@yegor256 please, pay attention to this issue

[2017-09-04 08:23] kkamkou opened #113 "Authorization issue"
Reproduce (via web):
- go to `http://www.0crat.com/`
- Click `Login`, it is okay.
- Click on `@me` link
- It shows: `You "@me" must be invited to us by someone we already know. If you don't know anyone who works with us already, email us to join@zerocracy.com and we'll see what we can do.`

Reproduce (via Telegram bot)
- Chat `help`
- It says: `I don't know who you are, please click here: http://w

[2017-09-06 19:08] 0crat commented on #112
Job `gh:zerocracy/datum#112` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-06 20:53] montgomeri15 opened #114 "Travis build is failing - Java, maven-project"
Hello. I'm very sorry for disturbing. I fix my last errors, but got a new one. And now I really don't know, what is that. All commands in cmd are executed. "mvn test -B" too. And tests work without errors (green result). But Travis doesn't think so. And give me something like this: https://travis-ci.org/montgomeri15/GoodMorningToYou/builds/272647137

I'll be grateful for the help.

[2017-09-06 20:53] 0crat commented on #114
@yegor256 please, pay attention to this issue

[2017-09-07 07:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 07:18] yegor256 commented on #114
@montgomeri15 this is not related to our project :) You have to report it to Travis repo: https://github.com/travis-ci/travis-ci

[2017-09-07 07:18] #114 closed

[2017-09-07 08:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 09:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 10:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 11:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 12:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 13:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 14:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 15:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 16:18] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 16:40] g4s8 opened #115 "XML upgrades validation"
We need to validate XML upgrades to avoid issues like in #105 PR.
I think we can write some tests for upgrades and start them from `Rakefile`. It may be target xml file which will be upgraded and and simple script with xpath assertions. We can place them in directories named as upgrade version.

[2017-09-07 16:41] 0crat commented on #115
@yegor256 please, pay attention to this issue

[2017-09-07 17:19] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 17:42] 0crat commented on #115
@yegor256 please, pay attention to this issue

[2017-09-07 18:19] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 19:19] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 20:19] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 20:35] 0crat commented on #115
Job `gh:zerocracy/datum#115` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-07 20:37] 0crat commented on #115
+15 points just awarded to @g4s8, total is [+1530](http://www.0crat.com/u/g4s8).

[2017-09-07 21:19] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 22:20] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-07 23:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 00:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 01:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 02:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 03:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 04:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 05:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 06:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 07:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 08:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 09:21] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-08 13:12] kkamkou opened #116 "[Telegram] Unable to change the rate"
By typing one of them, the reply is `Your rate is 0.`:
 - `rate $20`
 - `rate 20`

By typing `rate=20`, the result is `Can't understand "rate=20"`.

Please also provide the format of the command in #104

[2017-09-08 13:13] 0crat commented on #116
@yegor256 please, pay attention to this issue

[2017-09-08 13:13] kkamkou commented on #113
Invalid, I was excluded from the system.

[2017-09-08 13:13] #113 closed

[2017-09-08 13:18] 0crat commented on #113
Oops! Job `gh:zerocracy/datum#113` was not in scope

[2017-09-14 12:41] DronMDF commented on #116
How you are do it? 0crat not ask me over telegram...

[2017-09-14 16:17] kkamkou commented on #116
Delete the bot and chat it again.

[2017-09-15 08:09] amihaiemil opened #117 "JsonObject -> JsonString ClassCastException"
At some point, 0crat tries to perform
[code]
Trouble is, "key" points to a JsonObject, not to a String.
See here:
https://github.com/yegor256/0pdd/issues/109#issuecomment-329703923

[2017-09-15 08:09] 0crat commented on #117
@yegor256 please, pay attention to this issue

[2017-09-18 08:49] DronMDF opened #118 "Resigned performer сontinues to remain responsible for the issue."
This work assigned to @roman901.
https://github.com/DronMDF/telebot/issues/1

The role DEV was resigned.

There is no DEV in the project http://www.0crat.com/a/C6KLDT6QG?a=pm/staff/roles

Issue stay order to performer.
![image](https://user-images.githubusercontent.com/2982959/30534480-182e7cf0-9c67-11e7-942e-a3d68d3d9c9a.png)

May be i have problem with names? spark vs roman901.

PS: And 0crat no

[2017-09-18 08:50] 0crat commented on #118
@yegor256 please, pay attention to this issue

[2017-09-18 08:56] DronMDF commented on #116
@kkamkou No answer...
![image](https://user-images.githubusercontent.com/2982959/30534754-3ec44254-9c68-11e7-9882-71b2ccc43d0a.png)

Where am I wrong?

[2017-09-18 09:09] DronMDF commented on #112
Open issue for example:
https://github.com/DronMDF/telebot/issues/1
https://github.com/DronMDF/telebot/issues/2 is closed by me.

[2017-09-18 09:18] DronMDF commented on #91
@yegor256
I'm completely confused...
In the slack users come with their slack name.
Do I need to assign roles through slack name?
Should I use these github names in the slack?

[2017-09-18 09:51] 0crat commented on #118
@yegor256 please, pay attention to this issue

[2017-09-18 10:06] DronMDF commented on #91
By policy invite and assigning should be do over github login.
This is right?

[2017-09-18 13:16] kkamkou commented on #116
It replies after 2+ minutes in my case. I'm not sure if it works ^^.

[2017-09-19 07:44] yegor256 commented on #91
@DronMDF yes, we're not using Slack names anywhere. Everything works by GitHub names only. So, always use GitHub names please.

[2017-09-19 07:45] 0crat commented on #117
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-19 07:46] yegor256 commented on #116
@kkamkou replies perfectly OK to me now... can you please check again?

[2017-09-19 08:47] 0crat commented on #117
Job `gh:zerocracy/datum#117` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-19 09:06] DronMDF commented on #91
@yegor256 i'll try it in near two week. If all ok, i close this ticket.

[2017-09-19 09:52] DronMDF commented on #116
@yegor256 How does the zerocrat understand that I am in a telegram, this is DronMDF from the github?

![image](https://user-images.githubusercontent.com/2982959/30586651-55061f52-9d39-11e7-8c11-56d4fefecb95.png)

No answer.

[2017-09-19 11:45] yegor256 commented on #116
@DronMDF hm. replies to me immediately now.

[2017-09-19 11:45] 0crat commented on #116
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-19 12:06] DronMDF commented on #116
@yegor256 What command should I give to the telegram zerocrat?

[2017-09-19 12:40] kkamkou commented on #116
@yegor256 yes, the speed of response is recovered.

[2017-09-19 12:45] 0crat commented on #116
Job `gh:zerocracy/datum#116` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-20 17:42] g4s8 commented on #116
@kkamkou @DronMDF change rate command format is `rate set <value>`.
For instance: `rate set $100`.
But this command is broken at the moment. It should be fixed soon with #84

[2017-09-20 18:36] kkamkou commented on #116
duplicates #84

[2017-09-20 18:36] #116 closed

[2017-09-20 18:36] 0crat commented on #116
Job `gh:zerocracy/datum#116` is now out of scope.

[2017-09-20 18:37] 0crat commented on #116
+30 points just awarded to @g4s8, total is [+1710](http://www.0crat.com/u/g4s8).

[2017-09-21 08:53] DronMDF commented on #96
0crat does not close this request for youself.
A found this work in WBS.
Other PR are payed +15.

This was a unstable moment.

I close this issue?

[2017-09-21 08:55] DronMDF commented on #94
This is not a problem in this time. Already fixed?
 I close this issue?

[2017-09-22 10:41] DronMDF opened #119 "PO and ARC is not assigned to project."
0Crat say: "You're in no projects yet, apply to some of them."

![image](https://user-images.githubusercontent.com/2982959/30740905-870d4034-9f9b-11e7-981f-3e26936640d3.png)

I'm is PO! I'm is ARC!

![image](https://user-images.githubusercontent.com/2982959/30740960-b8760480-9f9b-11e7-8498-5d2379ff31ce.png)

[2017-09-22 10:41] 0crat commented on #119
@yegor256 please, pay attention to this issue

[2017-09-22 18:23] g4s8 commented on #94
@DronMDF no, this bug is not fixed yet. Same for #96. I'm going to fix it after jcabi/jcabi-github#1324 that is blocked by jcabi/jcabi-github#1325

[2017-09-22 18:41] DronMDF commented on #94
Ok, wait for fix.

[2017-09-25 20:37] DronMDF opened #120 "0crat was not invite users with uppercase letter in github login"
![image](https://user-images.githubusercontent.com/2982959/30829673-276f68bc-a24a-11e7-9953-d0ffafae111a.png)

I avoid this over lowercase name. It's accepted. But this is wrong.

[2017-09-25 20:37] 0crat commented on #120
@yegor256 please, pay attention to this issue

[2017-09-26 13:10] DronMDF opened #121 "0crat roles failure"
Internal application error

0.16.1, 4ccd020

Please, report it here. We will do our best to fix it as soon as possible. We're very sorry.

java.lang.IllegalStateException: [GET http://www.0crat.com/a/C6KLDT6QG?a=pm%2Fstaff%2Froles] failed in 20s: java.lang.IllegalStateException: Failed to acquire "PMO/people.xml" in 20s
	at org.takes.facets.fallback.TkFallback.error(TkFallback.java:233)
	at org.ta

[2017-09-26 13:10] 0crat commented on #121
@yegor256 please, pay attention to this issue

[2017-09-26 13:23] DronMDF opened #122 "Inviting is hard."
I invited people to Slask.
After that, each person should send me github login so that I can invite him.
This is a many copypaste process.
May be 0crat may give me a link for inviting? for each user?

[2017-09-26 13:23] 0crat commented on #122
@yegor256 please, pay attention to this issue

[2017-09-26 19:35] DronMDF commented on #121
0crat assign failed with same reason.

[2017-09-28 07:25] DronMDF commented on #121
Problem still here.
https://github.com/DronMDF/telebot/issues/7
I look this in different places.

[2017-09-28 15:00] DronMDF commented on #121
Failed to acquire "PMO/people.xml"
Was going out.
I can assign roles.

New bug:
Failed to acquire "PMO/claims.xml" in 20s

[2017-09-28 15:13] DronMDF opened #123 "As a PO, I want to have project statistics."
How many points did each developer earn?
How many issues did the project accomplish?
etc.

Thanks.

[2017-09-28 23:24] 0crat commented on #123
@yegor256 please, pay attention to this issue

[2017-09-29 13:03] DronMDF commented on #121
https://github.com/DronMDF/telebot/issues/6#issuecomment-333118737
Failed to acquire "PMO/people.xml" again.

[2017-09-29 20:02] yegor256 opened #124 "Claim number must be LONG, not INT"
LONG numbers should be possible to use

[2017-09-29 20:04] yegor256 commented on #124
@rultor release, tag is `0.40.2`

[2017-09-29 20:05] rultor commented on #124
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13045-333225616)

[2017-09-29 20:10] rultor commented on #124
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13045-333225616) (took me 4min)

[2017-09-29 20:10] #124 closed

[2017-09-29 20:10] 0crat commented on #124
Oops! Job `gh:zerocracy/datum#124` was not in scope

[2017-09-30 07:44] yegor256 opened #125 ""until" element in claims.xml"
Let's make it possible to define `until` as a date in `<claim>` to postpone its processing

[2017-09-30 07:47] yegor256 commented on #125
@rultor release, tag is `0.41`

[2017-09-30 07:47] rultor commented on #125
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13049-333291299)

[2017-09-30 07:52] rultor commented on #125
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13049-333291299) (took me 4min)

[2017-09-30 07:52] #125 closed

[2017-09-30 07:55] 0crat commented on #125
Oops! Job `gh:zerocracy/datum#125` was not in scope

[2017-09-30 09:10] g4s8 commented on #84
@amihaiemil "rate" was fixed. You can use this syntax to set it: `rate set $<value>`

[2017-09-30 14:31] DronMDF opened #126 "Distribution issue to performer is not fair."
I have 18 performers, and 7 issue.
In first moment all issue assign to one performer.
In this situation should be assigned 7 any performers. I think.
Next issue should be assign to any free performer.

If issues is many then performers - 0crat should select the most free.

Thank's.

[2017-09-30 14:31] 0crat commented on #126
@yegor256 please, pay attention to this issue

[2017-09-30 14:39] DronMDF opened #127 "Orders page contains a lot of information."
If this information is need, it should be hide by default.
May be turn on by url parameter?

http://www.0crat.com/a/C6KLDT6QG?a=pm/in/orders&verbose

I look only one job on screen... Does not fit anymore.
Not. I have two screen per job... :)

[2017-09-30 14:39] 0crat commented on #127
@yegor256 please, pay attention to this issue

[2017-09-30 15:44] yegor256 opened #128 "layout issues"

[2017-09-30 15:50] yegor256 commented on #127
@rultor release, tag is `0.41.1`

[2017-09-30 15:50] 0crat commented on #127
Job `gh:zerocracy/datum#127` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 15:51] rultor commented on #127
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13051-333317157)

[2017-09-30 15:55] rultor commented on #127
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13051-333317157) (took me 4min)

[2017-09-30 15:58] yegor256 commented on #127
@DronMDF check now please

[2017-09-30 16:06] yegor256 commented on #126
@DronMDF I belive this problem is fixed already. Now we assign evenly. Please check.

[2017-09-30 16:07] 0crat commented on #126
Job `gh:zerocracy/datum#126` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 16:10] #128 closed

[2017-09-30 16:10] 0crat commented on #128
Oops! Job `gh:zerocracy/datum#128` was not in scope

[2017-09-30 16:12] 0crat commented on #122
Job `gh:zerocracy/datum#122` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 16:12] yegor256 commented on #122
@DronMDF make sense, let us think about it

[2017-09-30 16:12] yegor256 commented on #121
@DronMDF I belive it's fixed already, please try again

[2017-09-30 16:18] yegor256 commented on #120
@DronMDF this is fixed, thanks for reporting.

[2017-09-30 16:25] yegor256 commented on #119
@DronMDF I believe it's fixed, please check now

[2017-09-30 17:41] DronMDF commented on #127
This is a readable now. Thanks.

[2017-09-30 17:41] #127 closed

[2017-09-30 17:41] 0crat commented on #127
Job `gh:zerocracy/datum#127` is now out of scope.

[2017-09-30 17:42] 0crat commented on #127
+30 points just awarded to @yegor256, total is [+3465](http://www.0crat.com/u/yegor256).

[2017-09-30 17:46] DronMDF commented on #126
At first glance it distributes evenly.
Thanks.

[2017-09-30 17:46] #126 closed

[2017-09-30 17:48] 0crat commented on #126
Job `gh:zerocracy/datum#126` is now out of scope.

[2017-09-30 17:48] 0crat commented on #126
+30 points just awarded to @yegor256, total is [+3495](http://www.0crat.com/u/yegor256).

[2017-09-30 17:57] DronMDF commented on #122
I Think...
I invite users to a specific Slack channel.
0crat know what project is being developed on this channel?
After hello 0crat can send inviting url to admin... May be.

I spent 45 minutes to envy 25 people. :)

[2017-09-30 18:00] DronMDF commented on #121
I do not see the problem now.
It fixed.

[2017-09-30 18:00] #121 closed

[2017-09-30 18:00] 0crat commented on #121
Oops! Job `gh:zerocracy/datum#121` was not in scope

[2017-09-30 18:05] DronMDF commented on #120
This is not fixed.
![image](https://user-images.githubusercontent.com/2982959/31048298-ffe4abc2-a622-11e7-9af9-d91d1588e6b7.png)
I try now, problem still present.

[2017-09-30 18:06] DronMDF commented on #119
Yes, this is fixed.
Thank's.

[2017-09-30 18:06] #119 closed

[2017-09-30 18:10] 0crat commented on #119
Oops! Job `gh:zerocracy/datum#119` was not in scope

[2017-10-02 19:29] DronMDF opened #129 "Uneven distribution of jobs"
I'have free DEVs.
This is not fair.

10:09
Job `gh:dronmdf/telebot#17` was assigned to @makar93:

[code]

dron 10:09 PM
ok
new messages
0cratAPP 10:19 PM
Job `gh:dronmdf/telebot#18` was assigned to @makar93:

[code]

10:19
Job `gh:dronmdf/telebot#19` was assigned to @makar93:

[code]

[2017-10-02 19:30] 0crat commented on #129
@yegor256 please, pay attention to this issue

[2017-10-02 19:34] DronMDF opened #130 "0crat not react on command in message body (not in first line)"
https://github.com/dronmdf/telebot/issues/18#issuecomment-333638846
0crat ignore it.

[2017-10-02 19:34] 0crat commented on #130
@yegor256 please, pay attention to this issue

[2017-10-03 15:45] yegor256 commented on #120
@DronMDF I just double checked, it works. Most probably, you were trying the old version. Now it definitely works. Sorry for confusion.

[2017-10-03 16:01] yegor256 commented on #130
@DronMDF it didn't ignore it, just took a bit longer than usual.

[2017-10-03 19:57] DronMDF commented on #120
![image](https://user-images.githubusercontent.com/2982959/31146059-1c908f30-a88e-11e7-88e4-f5466e383e89.png)

This is a fixed now. Thank's.

[2017-10-03 19:57] #120 closed

[2017-10-03 19:57] 0crat commented on #120
Oops! Job `gh:zerocracy/datum#120` was not in scope

[2017-10-03 19:59] DronMDF commented on #130
@yegor256 Let's try here. :)
@0crat in

[2017-10-03 20:39] DronMDF commented on #130
Apparently he does not want to talk to me. :)

[2017-10-03 21:13] yegor256 commented on #130
@0crat in

[2017-10-03 21:18] 0crat commented on #130
@yegor256 Job `gh:zerocracy/datum#130` is in scope.

[2017-10-03 21:24] yegor256 commented on #130
@DronMDF talks to me though :) I think the problem is that you should always start a message with `@0crat`. Otherwise, it won't answer. I will fix it now though.

[2017-10-03 21:30] yegor256 commented on #130
Hey, @0crat how are you?

[2017-10-03 21:30] 0crat commented on #130
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-10-03 21:30] yegor256 commented on #130
@0crat hey

[2017-10-03 21:37] 0crat commented on #130
@yegor256 Hey, what's up, how is it going?

[2017-10-04 09:03] DronMDF opened #131 "The user does not see the project to which it is connected."
![image](https://user-images.githubusercontent.com/2982959/31167712-a70fd8ba-a8fb-11e7-9fd2-9ca2aa2ca88e.png)

In his profile hi not assign in project.
![image](https://user-images.githubusercontent.com/2982959/31167743-c6742b5c-a8fb-11e7-8b48-5ebe6212697c.png)

And he's not alone in my group with a similar problem.

[2017-10-04 09:03] 0crat commented on #131
@yegor256 please, pay attention to this issue

[2017-10-04 11:46] yegor256 commented on #131
@DronMDF are you sure this user has a role in the project?

[2017-10-04 11:47] 0crat commented on #131
Job `gh:zerocracy/datum#131` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-04 12:12] DronMDF commented on #131
Look at first screenshot...
Look in roles: http://www.0crat.com/a/C6KLDT6QG?a=pm/staff/roles
Look at gh issue: https://github.com/dronmdf/telebot/issues/22
0crat know him.

[2017-10-04 12:15] DronMDF commented on #131
@yegor256 How did you assign the job to yourself? I do not see any commands.

[2017-10-04 12:45] yegor256 commented on #131
@DronMDF see https://github.com/zerocracy/datum/commit/20a21137bceb26a7ec701e43cf4693314d8c86f0

[2017-10-04 12:50] DronMDF commented on #131
@yegor256 :+1:
But why do you add commands that are contrary to the principles? :)
You have to be tougher.

[2017-10-04 13:16] DronMDF commented on #131
![image](https://user-images.githubusercontent.com/2982959/31177656-577d281a-a91f-11e7-82c7-4caaa36453f9.png)
Another user with same problem.

[2017-10-04 15:48] yegor256 commented on #131
@DronMDF this is fixed. In the future, every time a new job gets assigned to a developer, his list of projects will be updated.

[2017-10-04 17:32] 0crat commented on #123
Job `gh:zerocracy/datum#123` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-04 17:32] 0crat commented on #123
Manual assignments of jobs are discouraged, see par.19: -5 points just awarded to @yegor256, total is [+3640](http://www.0crat.com/u/yegor256).

[2017-10-04 17:34] yegor256 commented on #118
@DronMDF that's a bug. We must not allow you to remove DEV role from a person, if there are tasks. Let me fix it now.

[2017-10-04 17:56] DronMDF commented on #131
if I enter the URL with my hands, I see the profile of any user. but if I click on a link, I get into my tasks.

[2017-10-04 17:59] DronMDF commented on #118
Thank's

[2017-10-04 19:00] DronMDF commented on #131
![image](https://user-images.githubusercontent.com/2982959/31194278-5443626a-a94f-11e7-8e84-c40a57af657a.png)
This is a invisea profile for me.
Look at url, at name and at jobs. I no have jobs.

[2017-10-10 07:02] DronMDF commented on #129
If tasks arrive at the same time, Uniform distribution does not work.

I'm confused by this incorrect information:
@paddox; 1.0; There are 8 open jobs already

[2017-10-10 07:16] DronMDF opened #132 "The bot reacts to the commands on the githab for a long time."
https://github.com/DronMDF/telebot/issues/37
34 minutes have passed since the command was given.

And this is not the limit.
https://github.com/DronMDF/telebot/issues/36
64 minutes have passed.

It's very slow.

[2017-10-10 07:16] 0crat commented on #132
@yegor256 please, pay attention to this issue

[2017-10-10 20:29] DronMDF opened #133 "Closed PR remain in the job list."
![image](https://user-images.githubusercontent.com/2982959/31408920-c57bf506-ae12-11e7-826a-eaa475262653.png)

Last two is a merged PR.

[2017-10-10 20:29] 0crat commented on #133
@yegor256 please, pay attention to this issue

[2017-10-12 15:55] yegor256 opened #134 "remove election when order is gone"
Let's do it automatically.

[2017-10-12 15:59] yegor256 commented on #134
@rultor release, tag is `0.42`

[2017-10-12 15:59] rultor commented on #134
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13131-336183142)

[2017-10-12 16:02] rultor commented on #134
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13131-336183142) (took me 3min)

[2017-10-12 16:03] #134 closed

[2017-10-12 16:12] 0crat commented on #134
Oops! Job `gh:zerocracy/datum#134` was not in scope

[2017-10-12 17:07] g4s8 commented on #94
@DronMDF it should be fixed in zerocracy/farm#155, you can check it.

[2017-10-12 17:44] DronMDF commented on #94
@g4s8 Thank's. I'll try it in weеk.

[2017-10-13 11:58] DronMDF commented on #132
2,5 hours left from in.
https://github.com/DronMDF/telebot/issues/49#issuecomment-336401104
And not assign.

[2017-10-13 17:24] filfreire commented on #117
@yegor256 @g4s8 saw this happening also in
https://github.com/yegor256/tacit/issues/99
and in https://github.com/yegor256/cactoos/issues/437

[2017-10-14 09:50] g4s8 commented on #117
@yegor256 @amihaiemil @filfreire It was an issue with github webhook's labels parsing, should be fixed with zerocracy/farm#309

[2017-10-14 09:55] amihaiemil commented on #117
Then I'm closing this :)

[2017-10-14 09:55] #117 closed

[2017-10-14 09:55] 0crat commented on #117
Oops! There is an open order for this job, @g4s8 is still working with it.

[2017-10-16 20:13] DronMDF commented on #133
@yegor256 This is a big problem...
Merged PR litter the task list.

[2017-10-17 08:17] DronMDF opened #135 "There is no way to remove the issue from the scope without scoring."
The developer disappeared, and the task became not relevant.

[2017-10-17 08:17] 0crat commented on #135
@yegor256 please, pay attention to this issue

[2017-10-17 12:57] g4s8 commented on #104
@kkamkou try now, it should be fixed

[2017-10-17 15:34] kkamkou commented on #104
Confirmed. It looks okay. Thank you.

[2017-10-17 15:34] #104 closed

[2017-10-17 15:35] 0crat commented on #104
Job `gh:zerocracy/datum#104` is now out of scope.

[2017-10-17 15:35] 0crat commented on #104
Order was successfully finished: +30 points just awarded to @g4s8, total is [+2365](http://www.0crat.com/u/g4s8).

[2017-10-17 16:29] yegor256 commented on #118
@DronMDF on the second thought I believe that we should not change anything. Having a role in the project only means that the person will participate in elections and will receive new tasks. If you remove the role, the person gets no tasks anymore. But he still has the tasks you assigned him earlier. See?

[2017-10-17 16:54] yegor256 commented on #133
@DronMDF it seems that the problem is that some webhook messages from GitHub are missed. Please, use this URL for the webhook: `http://p.rehttp.net/http://www.0crat.com/ghook`

[2017-10-17 16:56] yegor256 commented on #132
@DronMDF there were temporary problems on our side. Should be fine now.

[2017-10-17 16:56] #132 closed

[2017-10-17 16:56] 0crat commented on #132
Oops! There is no order for job `gh:zerocracy/datum#132`.

[2017-10-17 16:56] 0crat commented on #132
Oops! Job `gh:zerocracy/datum#132` was not in scope

[2017-10-17 16:57] yegor256 commented on #129
@DronMDF it was the case, fixed already. We elect every 15 minutes now, not more frequently. The problem should disappear.

[2017-10-17 18:35] DronMDF commented on #118
@yegor256 May be.
I can resign issue.
But I do not see the possibility of releasing the task from the performer. #135.

[2017-10-17 18:39] DronMDF commented on #133
@yegor256 May be...
I see problem in deliveries.
![image](https://user-images.githubusercontent.com/2982959/31682687-88a2aab4-b383-11e7-83e8-3cb0bda3da9a.png)
hook updated.

[2017-10-17 18:47] DronMDF commented on #129
@yegor256 Ok, I close it.

[2017-10-17 18:47] #129 closed

[2017-10-17 19:50] yegor256 commented on #133
@DronMDF yes, exactly my point. Because of that problems, some events from GitHub could be missed. Let's monitor now.

[2017-10-18 18:37] yegor256 commented on #123
@DronMDF I created the first version of some reporting. Check "Reports" tab in your project page and please close this ticket. If you need more reports, please open new tickets per each report.

[2017-10-18 18:45] DronMDF commented on #123
@yegor256 Ok, Thank's.

[2017-10-18 18:45] #123 closed

[2017-10-18 18:54] 0crat commented on #123
Job `gh:zerocracy/datum#123` is now out of scope.

[2017-10-18 18:54] 0crat commented on #123
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4095](http://www.0crat.com/u/yegor256).

[2017-10-19 07:47] DronMDF opened #136 "Empty awards statistics"
![image](https://user-images.githubusercontent.com/2982959/31759653-c6f00acc-b4ba-11e7-873f-ebd94184a812.png)

Total is zero.

[2017-10-19 07:47] 0crat commented on #136
@yegor256 please, pay attention to this issue

[2017-10-19 08:02] yegor256 commented on #111
@DronMDF it was a bug, fixed, thanks!

[2017-10-19 08:35] yegor256 commented on #136
@DronMDF it's a bug. All new awards will be added to the `total` column. previous awards are lost :(

[2017-10-19 08:35] #136 closed

[2017-10-19 08:39] yegor256 commented on #135
@DronMDF just say `out` or `refuse`. `out` will remove the task from scope entirely. `refuse` will terminate current order and un-assign the performer.

[2017-10-19 08:39] yegor256 commented on #118
@DronMDF I commented in #135. It seems that this issue can be closed.

[2017-10-19 08:41] yegor256 commented on #130
@DronMDF it seems to be working?

[2017-10-19 08:41] yegor256 commented on #130
@0crat how are you?

[2017-10-19 08:41] 0crat commented on #130
@yegor256 Can't understand "how", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `version` Print current version of the bot

[2017-10-19 08:42] yegor256 commented on #131
@DronMDF is it still an issue?

[2017-10-19 08:54] yegor256 commented on #115
@g4s8 we have that test already, see: https://github.com/zerocracy/datum/blob/master/Rakefile#L60-L65 The problem in #105 was that `simple.xml` didn't have cases of projects without titles. I fixed that in 99d5645

[2017-10-19 09:04] DronMDF commented on #131
@yegor256 I'll ask.

[2017-10-19 09:36] DronMDF commented on #135
@yegor256 i cannot say 'out', although it would be a good idea.
https://github.com/DronMDF/telebot/issues/51#issuecomment-337852903

[2017-10-19 09:42] DronMDF commented on #130
He says about start message, probably ok.
@0crat Do you agree? :)

[2017-10-19 09:42] 0crat commented on #130
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-10-19 09:43] DronMDF commented on #130
Ok.

[2017-10-19 09:43] #130 closed

[2017-10-19 09:44] 0crat commented on #130
Oops! There is no order for job `gh:zerocracy/datum#130`.

[2017-10-19 09:44] 0crat commented on #130
Job `gh:zerocracy/datum#130` is now out of scope.

[2017-10-19 09:51] DronMDF commented on #118
@yegor256 Ok.
But 'out' should lead to the stop of works. It will be right.

[2017-10-19 09:51] #118 closed

[2017-10-19 09:51] 0crat commented on #118
Oops! There is no order for job `gh:zerocracy/datum#118`.

[2017-10-19 09:51] 0crat commented on #118
Oops! Job `gh:zerocracy/datum#118` was not in scope

[2017-10-19 12:27] yegor256 commented on #118
@DronMDF you will have to do `reject` first and then `out`. Just `out` won't work, since the order is open. It's an extra protection, I believe it makes sense.

[2017-10-19 12:27] yegor256 commented on #135
@DronMDF first, you have to cancel the order (using `reject`) and only then you can remove it from the scope.

[2017-10-19 17:40] g4s8 commented on #115
@yegor256 thanks!

[2017-10-19 17:40] #115 closed

[2017-10-19 17:40] 0crat commented on #115
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-19 18:42] 0crat commented on #115
Job `gh:zerocracy/datum#115` is now out of scope.

[2017-10-19 18:43] 0crat commented on #115
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4185](http://www.0crat.com/u/yegor256).

[2017-10-20 10:37] yegor256 opened #137 "Terms and Conditions"
We need to create and publish them, next to our policy.

[2017-10-20 10:43] yegor256 commented on #78
@DronMDF is it still an issue?

[2017-10-20 10:53] yegor256 commented on #69
@amihaiemil is it still an issue?

[2017-10-20 11:10] amihaiemil commented on #69
@yegor256 I don't know, you must invite me again, 0crat forgot me :(

[2017-10-20 11:13] DronMDF commented on #78
@yegor256 Yes, this is a work. 0crat call me right.

[2017-10-20 11:13] #78 closed

[2017-10-20 11:13] 0crat commented on #78
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-20 11:30] yegor256 commented on #69
@amihaiemil done

[2017-10-20 11:37] amihaiemil commented on #69
@yegor256 yes, it seems to be fixed:

![screenshot_2017-10-20-14-36-05](https://user-images.githubusercontent.com/6305156/31819169-250b067c-b5a4-11e7-977e-f410d93a15a3.jpg)

Closing this.

[2017-10-20 11:37] #69 closed

[2017-10-20 11:38] 0crat commented on #69
Oops! There is no order for job `gh:zerocracy/datum#69`.

[2017-10-20 11:38] 0crat commented on #69
Oops! Job `gh:zerocracy/datum#69` is not in scope.

[2017-10-20 11:39] amihaiemil commented on #84
@g4s8 This seems to be fixed, but ``rate set $<value>`` cannot be parsed, Response is: ``Oops! Can't parse cash value pair "set"``

However, ``rate $<value`` works fine.

[2017-10-20 11:39] #84 closed

[2017-10-20 11:40] amihaiemil commented on #69
@yegor256 I have to say, that "Oops" is rather annoying :)))

[2017-10-20 11:41] 0crat commented on #84
Job `gh:zerocracy/datum#84` is now out of scope.

[2017-10-20 11:41] 0crat commented on #84
Order was successfully finished: +30 points just awarded to @g4s8, total is [+2440](http://www.0crat.com/u/g4s8).

[2017-10-20 11:48] yegor256 opened #138 "rates.xml"
Let's add `rates.xml`

[2017-10-20 12:15] 0crat commented on #78
Oops! There is no order for job `gh:zerocracy/datum#78`.

[2017-10-20 12:15] 0crat commented on #78
Oops! Job `gh:zerocracy/datum#78` is not in scope.

[2017-10-20 12:49] yegor256 commented on #138
@rultor release, tag is `0.43`

[2017-10-20 12:51] rultor commented on #138
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13188-338197171)

[2017-10-20 12:54] rultor commented on #138
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13188-338197171) (took me 3min)

[2017-10-20 12:55] #138 closed

[2017-10-20 12:56] 0crat commented on #138
Oops! There is no order for job `gh:zerocracy/datum#138`.

[2017-10-20 12:57] 0crat commented on #138
Oops! Job `gh:zerocracy/datum#138` is not in scope.

[2017-10-20 15:02] yegor256 commented on #69
@amihaiemil we'll think about that "oops" thing ) thanks!

[2017-10-21 15:37] g4s8 commented on #117
@0crat resign

[2017-10-21 15:37] 0crat commented on #117
@g4s8 @g4s8 resigned from `gh:zerocracy/datum#117`, please stop working.

[2017-10-23 18:30] filfreire opened #139 "Severall issues with roles.xml, claims.xml and orders.xml"
On https://github.com/yegor256/rultor/issues/1219
and on https://github.com/yegor256/rultor/issues/1218

we're seeing a lot of defect comments made by @0crat

* roles.xml (1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13)
[code]

* claims.xml (1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13)
[code]

* orders.xml (1.0-SNAPSHOT 85e7bf1 2017-10-23T11:13:49)
[code]

@yegor256 FYI

[2017-10-23 18:30] 0crat commented on #139
@yegor256 please, pay attention to this issue

[2017-10-23 18:33] filfreire opened #140 "Unrecoverable failure format"
The unrecoverable failure messages seem to be wrongly formatted, view example bellow:
<img width="511" alt="screen shot 2017-10-23 at 19 28 19" src="https://user-images.githubusercontent.com/11976836/31906418-f6d97ebe-b828-11e7-915a-7f8add6e6e14.png">

[2017-10-23 18:33] 0crat commented on #140
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 18:54] DronMDF commented on #112
@g4s8 This is a very useful feature and I would like to see it.
up. :)

[2017-10-23 19:33] 0crat commented on #140
@yegor256 please, pay attention to this issue

[2017-10-24 14:45] yegor256 commented on #139
@filfreire I believe it's fixed now, let's close this one. It's closed in a private repo, can't link it here.

[2017-10-24 14:48] yegor256 commented on #140
@filfreire it's fixed, thanks!

[2017-10-24 14:48] #140 closed

[2017-10-24 15:05] #139 closed

[2017-10-24 15:52] 0crat commented on #140
Oops! There is no order for job `gh:zerocracy/datum#140`.

[2017-10-24 16:06] 0crat commented on #139
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

My version: `1.0-SNAPSHOT`, `4583691`, `2017-10-24T15:25:29` /cc @yegor256

[2017-10-24 16:07] 0crat commented on #139
Oops! There is no order for job `gh:zerocracy/datum#139`.

[2017-10-24 16:52] 0crat commented on #140
Oops! There is no order for job `gh:zerocracy/datum#140`.

[2017-10-24 17:09] 0crat commented on #139
Oops! There is no order for job `gh:zerocracy/datum#139`.

[2017-10-24 17:52] 0crat commented on #140
Oops! There is no order for job `gh:zerocracy/datum#140`.

[2017-10-24 18:08] 0crat commented on #139
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

My version: `1.0-SNAPSHOT`, `4583691`, `2017-10-24T15:25:29` /cc @yegor256

[2017-10-24 18:09] 0crat commented on #139
Oops! There is no order for job `gh:zerocracy/datum#139`.

[2017-10-24 18:52] 0crat commented on #140
Oops! There is no order for job `gh:zerocracy/datum#140`.

[2017-10-24 18:52] 0crat commented on #140
Oops! Job `gh:zerocracy/datum#140` is not in scope.

[2017-10-24 19:08] 0crat commented on #139
Oops! There is no order for job `gh:zerocracy/datum#139`.

[2017-10-24 19:08] 0crat commented on #139
Oops! Job `gh:zerocracy/datum#139` is not in scope.

[2017-10-25 20:10] g4s8 commented on #102
@kkamkou try now please, it should be fixed.

[2017-10-26 15:07] yegor256 opened #141 "more information in XSLs"
Let's add more information there.

[2017-10-26 15:09] 0crat commented on #141
Job `gh:zerocracy/datum#141` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-26 15:11] 0crat commented on #141
Bug was reported: +15 points just awarded to @yegor256, total is [+4365](http://www.0crat.com/u/yegor256).

[2017-10-26 15:11] 0crat commented on #141
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4365](http://www.0crat.com/u/yegor256).

[2017-10-26 17:15] yegor256 commented on #141
@rultor release, tag is `0.43.1`

[2017-10-26 17:16] rultor commented on #141
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13228-339736166)

[2017-10-26 17:20] rultor commented on #141
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13228-339736166) (took me 3min)

[2017-10-26 18:32] #141 closed

[2017-10-26 18:33] 0crat commented on #141
Job `gh:zerocracy/datum#141` is now out of scope.

[2017-10-26 18:34] 0crat commented on #141
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4395](http://www.0crat.com/u/yegor256).

[2017-10-30 15:44] yegor256 commented on #133
@DronMDF there is some other problem. I will fix it now.

[2017-11-01 08:26] g4s8 commented on #112
@DronMDF it's in progress, it will be implemented right after github reminder notifications

[2017-11-08 14:18] yegor256 opened #142 "BUSY attribute for claims.xml"
Let's add it

[2017-11-08 14:24] yegor256 commented on #142
@rultor release, tag is `0.44`

[2017-11-08 14:25] rultor commented on #142
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13343-342832324)

[2017-11-08 14:29] rultor commented on #142
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13343-342832324) (took me 3min)

[2017-11-08 14:29] #142 closed

[2017-11-08 14:31] 0crat commented on #142
Oops! There is no order for job `gh:zerocracy/datum#142`.

[2017-11-08 14:32] 0crat commented on #142
Oops! Job `gh:zerocracy/datum#142` is not in scope.

[2017-11-12 20:03] DronMDF opened #143 "Case sensetivity github names in assign command"
![image](https://user-images.githubusercontent.com/2982959/32702824-8a26a44c-c7fd-11e7-9f7a-f6235ab1ab30.png)

I cannot assign rove over real GH name, I need use lowercase.

This is related to #78

[2017-11-12 20:03] 0crat commented on #143
@yegor256 please, pay attention to this issue

[2017-11-14 19:35] g4s8 commented on #112
@DronMDF looks like it's working, see https://github.com/yegor256/pdd/issues/77#issuecomment-344290215

[2017-11-14 19:44] DronMDF commented on #112
@g4s8 Yes, resign by time works.

But:

1. I do not see the election of a new performer, so it should be?
2. Some problem with numbers (was assigned to you 8 days ago .... taken away from you after 10 days from start).

[2017-11-14 19:50] g4s8 commented on #112
@DronMDF

I think it should, @yegor256 right?

It's different things: reminders should be posted on issue after 5 days and after 8 days,
but issue should be resigned after 10 days: http://datum.zerocracy.com/pages/policy.html#8

[2017-11-14 20:27] DronMDF commented on #112
@g4s8 election was not happens. Only regular 0crat cry... :(

[2017-11-15 09:08] yegor256 opened #144 "typo in claims.xsl"
Let's fix

[2017-11-15 09:13] yegor256 commented on #144
@rultor release, tag is `0.44.1`

[2017-11-15 09:14] rultor commented on #144
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13386-344531154)

[2017-11-15 09:17] rultor commented on #144
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13386-344531154) (took me 3min)

[2017-11-15 09:17] #144 closed

[2017-11-15 09:18] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 10:19] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 11:20] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 12:21] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 13:22] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 14:23] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 15:24] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 16:25] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 17:27] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 18:28] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 19:29] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 20:30] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 21:32] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 22:34] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-15 23:35] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-16 00:37] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-16 01:38] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-16 02:40] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-16 03:41] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-16 04:44] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-16 05:49] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-16 06:53] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-16 07:57] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-16 08:57] 0crat commented on #144
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-17 08:54] 0crat commented on #93
@carlosmiranda resigned from `gh:zerocracy/datum#93`, please stop working.

[2017-11-17 15:15] yegor256 commented on #143
@DronMDF I believe it's fixed, please try again

[2017-11-17 18:54] DronMDF commented on #143
Yes, this is closed.
Thank's.

[2017-11-17 18:54] #143 closed

[2017-11-17 18:54] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-17 19:55] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-17 20:55] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-17 21:55] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-17 22:55] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-17 23:56] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-18 00:56] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-18 01:57] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-18 02:57] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-18 03:57] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-18 04:57] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-18 05:57] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-18 06:58] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-18 07:58] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-11-18 08:41] 0crat commented on #94
@g4s8 resigned from `gh:zerocracy/datum#94`, please stop working.

[2017-11-18 08:41] 0crat commented on #95
@carlosmiranda resigned from `gh:zerocracy/datum#95`, please stop working.

[2017-11-18 08:41] 0crat commented on #96
@carlosmiranda resigned from `gh:zerocracy/datum#96`, please stop working.

[2017-11-18 08:48] 0crat commented on #103
@yegor256 resigned from `gh:zerocracy/datum#103`, please stop working.

[2017-11-18 08:48] 0crat commented on #112
@g4s8 resigned from `gh:zerocracy/datum#112`, please stop working.

[2017-11-18 08:49] 0crat commented on #122
@yegor256 resigned from `gh:zerocracy/datum#122`, please stop working.

[2017-11-18 08:49] 0crat commented on #131
@yegor256 resigned from `gh:zerocracy/datum#131`, please stop working.

[2017-11-18 09:19] 0crat commented on #94
Job `gh:zerocracy/datum#94` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-18 09:29] 0crat commented on #94
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-11-18 10:40] 0crat commented on #112
Job `gh:zerocracy/datum#112` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-18 10:49] 0crat commented on #112
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-11-23 18:29] 0crat commented on #93
Job `gh:zerocracy/datum#93` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-23 18:30] 0crat commented on #131
Job `gh:zerocracy/datum#131` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-24 13:19] #137 closed

[2017-11-24 13:38] 0crat commented on #137
Oops! There is no order for job `gh:zerocracy/datum#137`.

[2017-11-24 13:38] 0crat commented on #137
Oops! Job `gh:zerocracy/datum#137` is not in scope.

[2017-11-28 09:00] 0crat commented on #94
@caarlos0 resigned from `gh:zerocracy/datum#94`, please stop working.

[2017-11-28 10:21] yegor256 commented on #103
@kkamkou do you still see the problem? Please, check. I believe, it's fixed.

[2017-11-28 10:22] yegor256 commented on #133
@DronMDF I believe it's fixed, please check

[2017-11-28 10:22] yegor256 commented on #131
@DronMDF I believe it's fixed, please check

[2017-11-28 10:22] yegor256 commented on #111
@DronMDF please check

[2017-11-28 10:24] yegor256 commented on #96
@DronMDF I believe it's fixed now, please check all your pull requests, they must be out of WBS now

[2017-11-28 10:25] yegor256 commented on #94
@DronMDF please, check, it's fixed

[2017-11-28 10:25] yegor256 commented on #93
@DronMDF do you still see this problem?

[2017-11-28 10:25] yegor256 commented on #81
@DronMDF it's fixed, please close

[2017-11-28 10:46] DronMDF commented on #133
@yegor256 Ok, tranks.

[2017-11-28 10:46] #133 closed

[2017-11-28 10:48] DronMDF commented on #131
@yegor256 In my profile the project is present. Ok, Thank's.

[2017-11-28 10:48] #131 closed

[2017-11-28 10:51] 0crat commented on #133
Oops! There is no order for job `gh:zerocracy/datum#133`.

[2017-11-28 10:51] 0crat commented on #133
Oops! Job `gh:zerocracy/datum#133` is not in scope.

[2017-11-28 10:52] 0crat commented on #112
@g4s8 resigned from `gh:zerocracy/datum#112`, please stop working.

[2017-11-28 10:53] 0crat commented on #131
Job `gh:zerocracy/datum#131` is now out of scope.

[2017-11-28 10:55] 0crat commented on #131
Order was successfully finished: +30 points just awarded to @caarlos0, total is [+555](http://www.0crat.com/u/caarlos0).

[2017-11-28 10:56] DronMDF commented on #96
@yegor256 ARC +15, DEV +30. It seems that everything is fine. Thank's

[2017-11-28 10:56] #96 closed

[2017-11-28 10:56] DronMDF commented on #94
@yegor256 This is ok. Thank's.

[2017-11-28 10:56] #94 closed

[2017-11-28 10:57] DronMDF commented on #93
@yegor256 This is ok now. Thank's

[2017-11-28 10:57] #93 closed

[2017-11-28 10:58] 0crat commented on #96
Oops! There is no order for job `gh:zerocracy/datum#96`.

[2017-11-28 10:59] 0crat commented on #96
Job `gh:zerocracy/datum#96` is now out of scope.

[2017-11-28 10:59] 0crat commented on #94
Oops! There is no order for job `gh:zerocracy/datum#94`.

[2017-11-28 11:00] 0crat commented on #94
Job `gh:zerocracy/datum#94` is now out of scope.

[2017-11-28 11:00] 0crat commented on #93
Job `gh:zerocracy/datum#93` is now out of scope.

[2017-11-28 11:01] 0crat commented on #93
Order was successfully finished: +30 points just awarded to @caarlos0, total is [+585](http://www.0crat.com/u/caarlos0).

[2017-11-28 11:34] DronMDF commented on #81
@yegor256 This is a fixed. Thank's.

[2017-11-28 15:11] DronMDF commented on #111
@yegor256 This is work. Thank's

[2017-11-28 15:11] #111 closed

[2017-11-28 15:17] DronMDF commented on #95
Refuse is work. Done.

[2017-11-28 15:17] #95 closed

[2017-11-28 15:17] 0crat commented on #111
Oops! There is no order for job `gh:zerocracy/datum#111`.

[2017-11-28 15:17] #81 closed

[2017-11-28 15:18] 0crat commented on #111
Oops! Job `gh:zerocracy/datum#111` is not in scope.

[2017-11-28 15:19] 0crat commented on #95
Oops! There is no order for job `gh:zerocracy/datum#95`.

[2017-11-28 15:21] DronMDF commented on #91
@yegor256 I think it works. Thank's

[2017-11-28 15:21] #91 closed

[2017-11-28 15:22] 0crat commented on #95
Job `gh:zerocracy/datum#95` is now out of scope.

[2017-11-28 15:22] 0crat commented on #81
Oops! There is no order for job `gh:zerocracy/datum#81`.

[2017-11-28 15:24] DronMDF commented on #112
0crat elect new performer.
This is work.
Thank's

[2017-11-28 15:24] #112 closed

[2017-11-28 15:25] 0crat commented on #81
Oops! Job `gh:zerocracy/datum#81` is not in scope.

[2017-11-28 15:25] 0crat commented on #91
Oops! There is no order for job `gh:zerocracy/datum#91`.

[2017-11-28 15:28] 0crat commented on #91
Oops! Job `gh:zerocracy/datum#91` is not in scope.

[2017-11-28 15:28] 0crat commented on #112
Oops! There is no order for job `gh:zerocracy/datum#112`.

[2017-11-28 15:38] 0crat commented on #112
Job `gh:zerocracy/datum#112` is now out of scope.

[2017-11-30 17:13] g4s8 commented on #102
@kkamkou could you please check it? It was fixed in zerocracy/farm#272 PR. // cc @yegor256

[2017-11-30 22:01] kkamkou commented on #102
Yes, I'll do it tomorrow morning.

[2017-12-01 10:13] kkamkou commented on #102
@yegor256 please restart the instance, the reply time is about 3 mins and behavior is strange.

[2017-12-01 11:11] kkamkou opened #146 "[telegram] apply doesn't do the id validation"
Request: `apply ABCRDFG11`
Reply: `Project ABCRDFG11 was notified about your desire to join them.`
Expected: `is not found` variant

[2017-12-01 11:11] 0crat commented on #146
@yegor256 please, pay attention to this issue

[2017-12-01 11:11] kkamkou commented on #102
resolved (looks good), refs #146

[2017-12-01 11:11] #102 closed

[2017-12-01 11:28] 0crat commented on #102
Oops! There is no order for job `gh:zerocracy/datum#102`.

[2017-12-01 11:38] 0crat commented on #102
Job `gh:zerocracy/datum#102` is now out of scope.

[2017-12-03 20:11] 0crat commented on #122
Job `gh:zerocracy/datum#122` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-04 13:06] 0crat commented on #103
Job `gh:zerocracy/datum#103` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-04 13:09] 0crat commented on #103
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-12-07 07:48] filfreire opened #147 "IllegalArgumentException - can't process this type of notification"
Getting hundreds of these notifications across projects (rultor, cactoos, ...)

[code]

Example: https://github.com/yegor256/cactoos/issues/486#issuecomment-349859401

[2017-12-07 07:50] filfreire opened #148 "NumberFormatException for an input string"
Started receiving quite a few these yesterday:
[code]

These started happening before issue #147

Example: https://github.com/yegor256/cactoos/issues/486#issuecomment-349673834

[2017-12-07 07:55] yegor256 commented on #147
@filfreire fixed, thanks for reporting!

[2017-12-07 07:55] #147 closed

[2017-12-07 07:55] yegor256 commented on #148
@filfreire fixed, thanks!

[2017-12-07 07:55] #148 closed

[2017-12-14 13:02] 0crat commented on #122
@caarlos0 resigned from `gh:zerocracy/datum#122`, please stop working.

[2017-12-14 17:19] 0crat commented on #103
Oops! Job `gh:zerocracy/datum#103` is not assigned to anyone.

[2017-12-14 17:20] 0crat commented on #103
@g4s8 resigned from `gh:zerocracy/datum#103`, please stop working.

[2017-12-14 18:40] 0crat commented on #103
Job `gh:zerocracy/datum#103` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-18 08:06] DronMDF opened #149 "0crat not control lifetime of PR"
https://github.com/DronMDF/telebot/pull/92

This closed before scope in.
After 7 days 0crat close it and pay.
After 0crat assign it again...

[2017-12-18 08:06] 0crat commented on #149
@yegor256 please, pay attention to this issue

[2017-12-18 16:41] yegor256 opened #150 "layout fixes"

[2017-12-18 17:00] yegor256 commented on #150
@rultor release, tag is `0.44.2`

[2017-12-18 17:01] rultor commented on #150
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13581-352488383)

[2017-12-18 17:05] rultor commented on #150
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13581-352488383) (took me 3min)

[2017-12-18 18:14] #150 closed

[2017-12-18 19:28] 0crat commented on #150
Oops! There is no order for job `gh:zerocracy/datum#150`.

[2017-12-18 19:33] 0crat commented on #150
Oops! Job `gh:zerocracy/datum#150` is not in scope.

[2017-12-19 17:20] yegor256 commented on #103
@kkamkou I believe it's fixed already, please check.

[2017-12-19 19:59] kkamkou commented on #103
@yegor256 the problem was for a new person. I can't leave the project there is another exception. For an existing person most probably it is fixed as I have only limited number of issues assigned to me.

[2017-12-21 12:35] yegor256 commented on #103
@kkamkou why can't you leave the project?

[2017-12-21 12:37] yegor256 commented on #146
@kkamkou should be fine now, please try

[2017-12-21 16:20] kkamkou commented on #146
Works as expected.

[2017-12-21 16:20] #146 closed

[2017-12-21 16:25] kkamkou commented on #103
@yegor256 now it works and I see: `You are not in the project C63314D6Z anymore.`. The previous reply was in  `something went wrong` context (check the logs, I'm sure you can trace the reason).

I've sent a new join request.

[2017-12-21 20:24] 0crat commented on #146
Oops! There is no order for job `gh:zerocracy/datum#146`.

[2017-12-21 20:24] 0crat commented on #146
Oops! Job `gh:zerocracy/datum#146` is not in scope.

[2017-12-21 20:25] yegor256 commented on #103
@kkamkou you have a role now, let's see what happens.

[2017-12-21 21:17] kkamkou commented on #103
nothing so far, will check it tomorrow

[2017-12-21 21:42] kkamkou commented on #103
I got two of them. Resolved.

[2017-12-21 21:42] #103 closed

[2017-12-21 21:43] 0crat commented on #103
Job `gh:zerocracy/datum#103` is now out of scope.

[2017-12-21 21:43] 0crat commented on #103
Order was successfully finished: +30 points just awarded to @caarlos0, total is [+615](http://www.0crat.com/u/caarlos0).

[2017-12-24 15:32] g4s8 commented on #102
@0crat refuse

[2017-12-24 15:39] 0crat commented on #102
@g4s8 Oops! Job `gh:zerocracy/datum#102` is not assigned to anyone.

[2017-12-25 16:21] yegor256 opened #151 "ledger.xml"
Let's add it.

[2017-12-25 16:23] 0crat commented on #151
Job `gh:zerocracy/datum#151` assigned to @yegor256  ([profile](http://www.0crat.com/u/yegor256})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-25 16:23] 0crat commented on #151
Bug was reported: +15 points just awarded to @yegor256, total is [+6440](http://www.0crat.com/u/yegor256).

[2017-12-25 16:24] 0crat commented on #151
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+6440](http://www.0crat.com/u/yegor256).

[2017-12-25 17:28] yegor256 commented on #151
@rultor release, tag is `0.46`

[2017-12-25 17:28] rultor commented on #151
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13624-353881526)

[2017-12-25 17:31] rultor commented on #151
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13624-353881526) (took me 3min)

[2017-12-25 17:50] #151 closed

[2017-12-25 17:51] 0crat commented on #151
Job `gh:zerocracy/datum#151` is now out of scope.

[2017-12-25 17:51] 0crat commented on #151
Order was successfully finished: +30 points just awarded to @yegor256, total is [+6475](http://www.0crat.com/u/yegor256).

[2017-12-26 12:01] yegor256 opened #152 "summary in ledger"
Let's add summary section

[2017-12-26 12:02] 0crat commented on #152
Job `gh:zerocracy/datum#152` assigned to @yegor256  ([profile](http://www.0crat.com/u/yegor256})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-26 12:03] 0crat commented on #152
Bug was reported: +15 points just awarded to @yegor256, total is [+6485](http://www.0crat.com/u/yegor256).

[2017-12-26 12:03] 0crat commented on #152
Manual assignment of issues is discouraged, see [par.19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256, total is [+6485](http://www.0crat.com/u/yegor256).

[2017-12-26 12:20] yegor256 commented on #152
@rultor release, tag is `0.46.1`

[2017-12-26 12:21] rultor commented on #152
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13627-353962631)

[2017-12-26 12:24] rultor commented on #152
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13627-353962631) (took me 3min)

[2017-12-26 12:29] #152 closed

[2017-12-26 12:30] 0crat commented on #152
Job `gh:zerocracy/datum#152` is now out of scope.

[2017-12-26 12:31] 0crat commented on #152
Order was successfully finished: +30 points just awarded to @yegor256, total is [+6515](http://www.0crat.com/u/yegor256).

[2017-12-26 13:47] yegor256 opened #153 "zero is a possible cash value"

[2017-12-26 13:48] yegor256 commented on #153
@rultor release, tag is `0.46.2`

[2017-12-26 13:49] rultor commented on #153
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13630-353970731)

[2017-12-26 13:53] rultor commented on #153
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13630-353970731) (took me 3min)

[2017-12-26 14:00] #153 closed

[2017-12-26 14:01] 0crat commented on #153
Oops! There is no order for job `gh:zerocracy/datum#153`.

[2017-12-26 14:01] 0crat commented on #153
Oops! Job `gh:zerocracy/datum#153` is not in scope.

[2017-12-26 14:22] yegor256 opened #154 "summary for estimates"

[2017-12-26 14:37] yegor256 commented on #154
@rultor release, tag is `0.47`

[2017-12-26 14:38] rultor commented on #154
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13631-353975334)

[2017-12-26 14:41] rultor commented on #154
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13631-353975334) (took me 3min)

[2017-12-26 15:07] #154 closed

[2017-12-26 15:11] 0crat commented on #154
Oops! There is no order for job `gh:zerocracy/datum#154`.

[2017-12-26 15:11] 0crat commented on #154
Oops! Job `gh:zerocracy/datum#154` is not in scope.

[2017-12-26 15:55] yegor256 opened #155 "remove estimate when order is removed"

[2017-12-26 16:02] yegor256 commented on #155
@rultor release, tag is `0.47.1`

[2017-12-26 16:04] rultor commented on #155
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13633-353983805)

[2017-12-26 16:07] rultor commented on #155
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13633-353983805) (took me 3min)

[2017-12-26 21:05] #155 closed

[2017-12-26 21:05] 0crat commented on #155
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-26 21:05] 0crat commented on #155
Oops! Job `gh:zerocracy/datum#155` was not in scope

[2017-12-27 07:17] DronMDF opened #156 "No help for links command"
I want to remove link from project.
0crat not react on links...

![image](https://user-images.githubusercontent.com/2982959/34373901-12984fd8-eaef-11e7-9a8f-bfb7ddfb37ed.png)

[2017-12-27 07:17] 0crat commented on #156
@yegor256 please, pay attention to this issue

[2017-12-27 07:20] DronMDF opened #157 "No reaction to the command 'out'."
https://github.com/DronMDF/telebot/pull/97

[2017-12-27 07:20] 0crat commented on #157
@yegor256 please, pay attention to this issue

[2017-12-27 14:19] yegor256 commented on #156
@DronMDF fixed, please try again

[2017-12-27 14:26] yegor256 opened #158 "Catalog.fee"
Let's add it

[2017-12-27 14:26] yegor256 commented on #158
@0crat in

[2017-12-27 14:26] 0crat commented on #158
@yegor256 Job `gh:zerocracy/datum#158` is now in scope.

[2017-12-27 14:26] yegor256 commented on #158
@0crat out

[2017-12-27 14:27] 0crat commented on #158
Bug was reported: +15 points just awarded to @yegor256, total is [+6530](http://www.0crat.com/u/yegor256).

[2017-12-27 14:27] 0crat commented on #158
@yegor256 Job `gh:zerocracy/datum#158` is now out of scope.

[2017-12-27 15:18] DronMDF commented on #156
Thank's.

[2017-12-27 15:18] #156 closed

[2017-12-27 15:19] 0crat commented on #156
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-27 15:19] 0crat commented on #156
Oops! Job `gh:zerocracy/datum#156` was not in scope

[2017-12-27 15:25] yegor256 commented on #158
@rultor release, tag is `0.48`

[2017-12-27 15:26] rultor commented on #158
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13636-354129195)

[2017-12-27 15:30] DronMDF opened #159 "How to close project?"

[2017-12-27 15:30] 0crat commented on #159
@yegor256 please, pay attention to this issue

[2017-12-27 15:33] rultor commented on #158
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13636-354129195) (took me 6min)

[2017-12-27 16:47] #158 closed

[2017-12-27 16:48] 0crat commented on #158
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-27 16:48] 0crat commented on #158
Oops! Job `gh:zerocracy/datum#158` was not in scope

[2017-12-27 20:48] yegor256 commented on #159
@rultor release, tag is `0.49`

[2017-12-27 20:49] rultor commented on #159
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13637-354175581)

[2017-12-27 20:56] rultor commented on #159
@dronmdf @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13637-354175581) (spent 7min)

[code]

[2017-12-27 21:06] yegor256 commented on #159
@rultor release, tag is `0.49`

[2017-12-27 21:07] rultor commented on #159
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13637-354177603)

[2017-12-27 21:10] rultor commented on #159
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13637-354177603) (took me 3min)

[2017-12-27 21:29] yegor256 commented on #159
@DronMDF you can now use `pause` command or completely destroy the project with `destroy`. Please try.

[2017-12-28 08:39] filfreire opened #160 "Finish Order Illegal State"
Getting the following error log on some issues:
[code]

Example issues: https://github.com/yegor256/rultor/issues/906#issuecomment-354239360 https://github.com/yegor256/rultor/issues/898#issuecomment-354239385

[2017-12-28 08:39] 0crat commented on #160
@yegor256 please, pay attention to this issue

[2017-12-28 08:39] 0crat commented on #160
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-28 08:39] filfreire commented on #160
@yegor256 fyi

(closed this issue by mistake)

[2017-12-28 08:39] 0crat commented on #160
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-28 08:39] 0crat commented on #160
Oops! Job `gh:zerocracy/datum#160` was not in scope

[2017-12-28 09:40] 0crat commented on #160
@yegor256 please, pay attention to this issue

[2017-12-28 11:11] DronMDF commented on #159
@yegor256 Project was not paused

![image](https://user-images.githubusercontent.com/2982959/34409133-def8baa6-ebd8-11e7-98c9-0b3b66cf19bc.png)

Next question: How to unpause project?

[2017-12-29 11:17] yegor256 commented on #159
@DronMDF say `pause on` or `pause off`

[2017-12-30 18:54] DronMDF commented on #159
@yegor256 Policy say - 'pause'... not 'pause on'

http://datum.zerocracy.com/pages/policy.html#24

pause is not worked.

dron 9:44 PM
@0crat pause
0cratAPP 9:44 PM
@dron Oops! The project is alive (not on pause). To change the status say `pause on` or `pause off`.

destroy is work.

[2017-12-30 18:55] 0crat commented on #159
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2018-01-01 16:08] yegor256 opened #161 "no need to have total in Ledger"
Let's remove it

[2018-01-01 16:11] yegor256 commented on #161
@rultor release, tag is `0.49.1`

[2018-01-01 16:11] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13648-354661260)

[2018-01-01 16:15] rultor commented on #161
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13648-354661260) (took me 3min)

[2018-01-01 17:14] yegor256 commented on #159
@DronMDF I modified the error messages, it should be all clear now

[2018-01-02 08:31] DronMDF commented on #159
@yegor256 Thank's

[2018-01-02 08:31] #159 closed

[2018-01-02 08:32] 0crat commented on #159
Oops! Job `gh:zerocracy/datum#159` is not assigned, can't get start time

[2018-01-02 08:32] 0crat commented on #159
Oops! Job `gh:zerocracy/datum#159` was not in scope

[2018-01-03 10:45] #161 closed

[2018-01-03 10:46] 0crat commented on #161
Oops! Job `gh:zerocracy/datum#161` is not assigned, can't get start time

[2018-01-03 10:46] 0crat commented on #161
Oops! Job `gh:zerocracy/datum#161` was not in scope

[2018-01-03 11:57] skapral opened #162 "Misprint in the policy: paragraph 20: "bitcon" instead of "bitcoin""

[2018-01-03 11:57] 0crat commented on #162
@yegor256 please, pay attention to this issue

[2018-01-03 12:23] skapral opened #163 "After getting invitation to the slack channel, 0crat bot is too verbose."
Steps to reproduce:

0. After inviting 0crat to the workspace
1. Create a channel and invite 0crat to there.

Actual result: 0crat responds with lots of "Thanks for inviting me here." messages.

[2018-01-03 12:23] 0crat commented on #163
@yegor256 please, pay attention to this issue

[2018-01-03 19:15] g4s8 commented on #102
@0crat resign

[2018-01-03 19:15] 0crat commented on #102
@g4s8 Oops! Job `gh:zerocracy/datum#102` is not assigned, can't get performer

[2018-01-04 07:10] yegor256 commented on #162
@skapral fixed already, thanks!

[2018-01-04 07:10] #162 closed

[2018-01-04 07:11] 0crat commented on #162
Oops! Job `gh:zerocracy/datum#162` is not assigned, can't get start time

[2018-01-04 07:11] 0crat commented on #162
Oops! Job `gh:zerocracy/datum#162` was not in scope

[2018-01-04 16:28] yegor256 opened #164 "Underpaid status for the Ledger"

[2018-01-04 16:31] yegor256 commented on #164
@rultor release, tag is `0.50`

[2018-01-04 16:32] rultor commented on #164
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13663-355329411)

[2018-01-04 16:35] rultor commented on #164
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13663-355329411) (took me 3min)

[2018-01-04 16:50] #164 closed

[2018-01-04 16:51] 0crat commented on #164
Oops! Job `gh:zerocracy/datum#164` is not assigned, can't get start time

[2018-01-04 16:51] 0crat commented on #164
Oops! Job `gh:zerocracy/datum#164` was not in scope

[2018-01-04 18:07] g4s8 commented on #102
@0crat assign me

[2018-01-04 18:08] 0crat commented on #102
@g4s8 Job `gh:zerocracy/datum#102` assigned to @g4s8  ([profile](http://www.0crat.com/u/g4s8})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2018-01-04 18:10] 0crat commented on #102
Manual assignment of issues is discouraged, see [par.19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @g4s8, total is [+2890](http://www.0crat.com/u/g4s8).

[2018-01-04 18:10] g4s8 commented on #102
@0crat resign

[2018-01-04 18:11] 0crat commented on #102
@g4s8 @g4s8 resigned from `gh:zerocracy/datum#102`, please stop working.

[2018-01-05 23:37] allanwsilva opened #165 "Fix error found in Cactoos (poor error description/stack trace only)"
As detailed [here](https://github.com/yegor256/cactoos/pull/402#issuecomment-323025529)

[2018-01-05 23:37] 0crat commented on #165
@yegor256 please, pay attention to this issue

[2018-01-07 05:34] allanws opened #166 "@0crat waiting not implemented(?)"
I tried to use @0crat waiting command ([as in the policy](http://datum.zerocracy.com/pages/policy.html#9)) and it didn't work...

[2018-01-07 05:34] 0crat commented on #166
@yegor256 please, pay attention to this issue

[2018-01-08 01:26] allanws opened #167 "java.lang.ClassCastException: org.glassfish.json.JsonObjectBuilderImpl$JsonObjectImpl cannot be cast to javax.json.JsonString"
As per in this [comment](https://github.com/yegor256/cactoos/issues/420#issuecomment-336510365)

[2018-01-08 01:26] 0crat commented on #167
@yegor256 please, pay attention to this issue

[2018-01-08 01:29] allanws commented on #167
This might fix this [issue](https://github.com/yegor256/cactoos/issues/413) too.

[2018-01-08 10:23] yegor256 opened #168 "roles in policy must be explained"

[2018-01-08 10:43] yegor256 commented on #168
@rultor release, tag is `0.51`

[2018-01-08 10:56] yegor256 commented on #168
@rultor release, tag is `0.50`

[2018-01-08 10:57] rultor commented on #168
@yegor256 Invalid release tag `0.50` specified. There is already a release `0.50` newer than the given release in this repository.

[2018-01-08 10:57] rultor commented on #168
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-01-08 11:04] yegor256 commented on #168
@rultor release, tag is `0.51`

[2018-01-08 11:06] rultor commented on #168
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13677-355937659)

[2018-01-08 11:14] #168 closed

[2018-01-08 11:15] 0crat commented on #168
Oops! Job `gh:zerocracy/datum#168` is not assigned, can't get start time

[2018-01-08 11:15] 0crat commented on #168
Oops! Job `gh:zerocracy/datum#168` was not in scope

[2018-01-08 12:09] yegor256 opened #169 "upgrades are not validated for the latest version"

[2018-01-08 12:21] allanws opened #170 "Profile link is broken"
As in [here](https://github.com/yegor256/cactoos/pull/402#issuecomment-355361005)

(rubbish at the end of the URL - character '%7D')

[2018-01-08 12:21] 0crat commented on #170
@yegor256 please, pay attention to this issue

[2018-01-08 12:21] allanws opened #171 "After merge error"
As in [here](https://github.com/yegor256/cactoos/pull/402#issuecomment-355949175)

[2018-01-08 12:21] 0crat commented on #171
@yegor256 please, pay attention to this issue

[2018-01-08 12:26] allanws opened #172 "How do I check my profile?"
Should the user/member profile be listed in the 'profile page' (http://www.0crat.com/u/<user>) according to the project?

A user can have multiple profiles within a project as well...

Profiles may have different rates associated as well...

Please see if all this makes sense...

[2018-01-08 12:26] 0crat commented on #172
@yegor256 please, pay attention to this issue

[2018-01-08 13:25] allanws opened #173 "0crat is computing time/task assignment in a wrong fashion"
As per this [comment](https://github.com/yegor256/cactoos/pull/507#issuecomment-355954119).

My comments were the latest ones and, as per my understanding, that would mean the ticket is not on my shoulders, but the bot was sucking my time instead.

[2018-01-08 13:26] 0crat commented on #173
@yegor256 please, pay attention to this issue

[2018-01-08 13:37] yegor256 commented on #169
@rultor release, tag is `0.51.1`

[2018-01-08 13:38] rultor commented on #169
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13679-355968120)

[2018-01-08 13:41] rultor commented on #169
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13679-355968120) (spent 3min)

[code]

[2018-01-08 13:48] yegor256 commented on #169
@rultor release, tag is `0.51.1`

[2018-01-08 13:49] rultor commented on #169
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13679-355970690)

[2018-01-08 13:52] rultor commented on #169
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13679-355970690) (took me 3min)

[2018-01-08 13:53] #169 closed

[2018-01-08 13:54] 0crat commented on #169
Oops! Job `gh:zerocracy/datum#169` is not assigned, can't get start time

[2018-01-08 13:54] 0crat commented on #169
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2018-01-08 15:00] yegor256 commented on #173
@allanws see this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html It doesn't matter who is saying what, the ticket is yours until it's closed. But it is not relevant to pull requests, see ecf3bbc

[2018-01-08 16:16] yegor256 commented on #160
@filfreire should be fine now

[2018-01-08 16:16] #160 closed

[2018-01-08 16:19] 0crat commented on #160
Oops! Job `gh:zerocracy/datum#160` is not assigned, can't get start time

[2018-01-08 16:19] 0crat commented on #160
Oops! Job `gh:zerocracy/datum#160` was not in scope

[2018-01-08 16:20] #173 closed

[2018-01-08 16:20] 0crat commented on #173
Oops! Job `gh:zerocracy/datum#173` is not assigned, can't get start time

[2018-01-08 16:20] 0crat commented on #173
Oops! Job `gh:zerocracy/datum#173` was not in scope

[2018-01-08 16:21] yegor256 commented on #171
@allanws it's fixed already, thanks

[2018-01-08 16:21] #171 closed

[2018-01-08 16:21] yegor256 commented on #172
@allanws please, report one problem per ticket.

[2018-01-08 16:21] #172 closed

[2018-01-08 16:23] 0crat commented on #171
Oops! Job `gh:zerocracy/datum#171` is not assigned, can't get start time

[2018-01-08 16:24] 0crat commented on #171
Oops! Job `gh:zerocracy/datum#171` was not in scope

[2018-01-08 16:24] yegor256 commented on #157
@DronMDF it was a temporary bug, fixed already, thanks.

[2018-01-08 16:24] #157 closed

[2018-01-08 16:24] yegor256 commented on #170
@allanws fixed already, thanks!

[2018-01-08 16:24] #170 closed

[2018-01-08 16:27] 0crat commented on #157
Oops! Job `gh:zerocracy/datum#157` is not assigned, can't get start time

[2018-01-08 16:27] 0crat commented on #157
Oops! Job `gh:zerocracy/datum#157` was not in scope

[2018-01-08 16:27] 0crat commented on #170
Oops! Job `gh:zerocracy/datum#170` is not assigned, can't get start time

[2018-01-08 16:27] 0crat commented on #170
Oops! Job `gh:zerocracy/datum#170` was not in scope

[2018-01-08 16:34] yegor256 opened #174 "QA reviews"

[2018-01-08 16:47] yegor256 commented on #174
@rultor release, tag is `0.51.2`

[2018-01-08 16:47] rultor commented on #174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13680-356022801)

[2018-01-08 16:51] rultor commented on #174
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13680-356022801) (took me 3min)

[2018-01-08 16:51] #174 closed

[2018-01-08 16:52] yegor256 commented on #167
@allanws this is too old, fixed already

[2018-01-08 16:52] #167 closed

[2018-01-08 16:52] yegor256 commented on #166
@allanws works already, please try

[2018-01-08 16:52] 0crat commented on #174
Oops! Job `gh:zerocracy/datum#174` is not assigned, can't get start time

[2018-01-08 16:52] 0crat commented on #174
Oops! Job `gh:zerocracy/datum#174` was not in scope

[2018-01-08 16:53] 0crat commented on #167
Oops! Job `gh:zerocracy/datum#167` is not assigned, can't get start time

[2018-01-08 16:53] 0crat commented on #167
Oops! Job `gh:zerocracy/datum#167` was not in scope

[2018-01-08 19:19] DronMDF commented on #157
@yegor256 Thanks.

[2018-01-08 19:25] 0crat commented on #163
Job `gh:zerocracy/datum#163` assigned to [@g4s8](http://www.0crat.com/u/g4s8}). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.

[2018-01-08 19:26] 0crat commented on #163
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256, total is [+6665](http://www.0crat.com/u/yegor256).

[2018-01-08 21:14] t-izbassar opened #175 "Telegram bot requests with empty argument"
If you request in telegram bot with empty argument - nothing happens. Examples:
* `apply`
* `wallet`

[2018-01-08 21:14] 0crat commented on #175
@yegor256 please, pay attention to this issue

[2018-01-08 21:17] #175 closed

[2018-01-08 21:17] 0crat commented on #175
Oops! Job `gh:zerocracy/datum#175` is not assigned, can't get start time

[2018-01-08 21:17] 0crat commented on #175
Oops! Job `gh:zerocracy/datum#175` was not in scope

[2018-01-08 21:35] t-izbassar opened #176 "How to see all assigned jobs?"
I've got jobs assignment. Now I need to go to the projects, find mentioned issue from chat with bot, which is some manual steps to do.

Maybe there should be some bot request for listing jobs. Or some board with all assignments so that it will be easier to find them and go to link to the issue. Simple step that will help is to get an url link to the jobs issue in current implementation.

[2018-01-08 21:35] 0crat commented on #176
@yegor256 please, pay attention to this issue

[2018-01-08 21:43] t-izbassar commented on #176
Ok. I found it in the profile) Maybe just mention somewhere where to find them so it could be more clear. And I have this xml. Browser is Mozzila (57.0.4 (64-bit)) on Ubuntu 16.04:
![image](https://user-images.githubusercontent.com/24223260/34693773-2bcd1b52-f4c5-11e7-9051-2ff9939c4a89.png)

[2018-01-08 23:50] allanws opened #177 "Should issues be 'formally' assigned?"
I don't see any of the issues assigned to people... shouldn't they be marked as assigned in Github?

[2018-01-08 23:50] 0crat commented on #177
@yegor256 please, pay attention to this issue

[2018-01-08 23:53] allanws commented on #166
@0crat waiting

[2018-01-08 23:53] 0crat commented on #166
@allanws Oops! Job `gh:zerocracy/datum#166` is not assigned, can't put it on hold

[2018-01-08 23:54] allanws commented on #166
@yegor256 , it seems to be working, but I'm not aware of its whole lifecycle. Is there any documentation to test it?

[2018-01-09 00:03] allanwsilva opened #178 "My agenda is showing one task (PR) but there is no mention to me on the PR itself"
My [agenda](http://www.0crat.com/u/allanws/agenda) lists this [issue](https://github.com/yegor256/cactoos/pull/477), but apparently there is nothing explicitly assigned to me.

Please fix it.

[2018-01-09 00:03] 0crat commented on #178
@yegor256 please, pay attention to this issue

[2018-01-09 00:21] allanws opened #179 "List user profiles per project"
In the agenda page, for every project, list all profiles assigned to the user.

[2018-01-09 00:21] 0crat commented on #179
@yegor256 please, pay attention to this issue

[2018-01-09 08:05] filfreire opened #180 "Starting on Desktop is different than starting on mobile app."
Is it normal to have to start on a different platform if one already as started on one?
Example, on January 3rd I `/start`via Telegram Desktop.

When I write something on Telegram for Android, I'm invited to associate a new alias with my 0crat account.

Examples:
- Starting on Desktop:
![screen shot 2018-01-09 at 08 01 37](https://user-images.githubusercontent.com/11976836/34710528-a2d6ad28-f513-1

[2018-01-09 08:05] 0crat commented on #180
@yegor256 please, pay attention to this issue

[2018-01-09 08:08] filfreire opened #181 "Is the "Oops!" string necessary when getting rate value?"
After setting up a rate (via Telegram chat), if I write down only `rate`, I get the following message:

Does the `Oops!` part of the sentence make sense? As a user, I might want to simply check what's my current rate.

Screenshot:
![screen shot 2018-01-09 at 08 05 58](https://user-images.githubusercontent.com/11976836/34710681-4077492a-f514-11e7-99f1-c11358d4cad2.png)

/cc @yegor256

[2018-01-09 08:08] 0crat commented on #181
@yegor256 please, pay attention to this issue

[2018-01-09 08:12] filfreire opened #182 "Support capital letters"
In a lot of cases, when a user starts writing down a command via a smartphone (example Telegram for Android or Telegram for iOS) the keyboard is usually set to assume the first letter is high-caps and not low caps.

Does it make sense that `0crat` bot should be able to read commands written with the first letter in caps?

Example screenshot:
![screen shot 2018-01-09 at 08 11 48](https://user-image

[2018-01-09 08:12] 0crat commented on #182
@yegor256 please, pay attention to this issue

[2018-01-09 08:16] filfreire opened #183 "Are other currencies supported?"
It seems that other currencies, other than US dollars ($) are supported

Default, US Dollars:
![screen shot 2018-01-09 at 08 13 43](https://user-images.githubusercontent.com/11976836/34710931-218f149c-f515-11e7-87d5-458e44de191b.png)

Example, Euros:
![screen shot 2018-01-09 at 08 13 36](https://user-images.githubusercontent.com/11976836/34710928-1ef5703c-f515-11e7-97a2-bcb160d3b481.png)

But ther

[2018-01-09 08:16] 0crat commented on #183
@yegor256 please, pay attention to this issue

[2018-01-09 08:20] filfreire opened #184 "Is the "Oops!" string necessary when getting the current wallet?"
Similar to Issue #181 but for the `wallet` command.

Does the `Oops!` part of the sentence make sense? As a user, I might want to simply check what's my current wallet configuration.

/cc @yegor256

[2018-01-09 08:20] 0crat commented on #184
@yegor256 please, pay attention to this issue

[2018-01-09 08:23] filfreire opened #185 "Support for "help" command for 0crat chat bot."
As a user, I might want to get the list of commands via the typical `help` command. It seems 0crat bot doesn't know that command, instead of prints out the typical error message for an unknown command.

Example screenshot:
![screen shot 2018-01-09 at 08 20 58](https://user-images.githubusercontent.com/11976836/34711195-5d3bed8e-f516-11e7-95e3-d2648ac9327a.png)

Does it make sense to create a help

[2018-01-09 08:23] 0crat commented on #185
@yegor256 please, pay attention to this issue

[2018-01-09 09:57] amihaiemil opened #186 "0crat doesn't tag the Github assignee correctly"
0crat assigned 2 tasks on Github to me, but it did not tag me correctly. It did write ``@amihaiemil``, but it is a link to http://www.0crat.com/u/amihaiemil instead of a proper Github tag. See [here](https://github.com/yegor256/cactoos/pull/487#issuecomment-356231495)

As a result, I did not receive a notification email from Github that I had two tasks assigned. They were invisible, apart from the

[2018-01-09 09:58] 0crat commented on #186
@yegor256 please, pay attention to this issue

[2018-01-09 10:36] yegor256 commented on #166
@allanws it just puts the job on hold, that's all. Nothing else happens.

[2018-01-09 10:38] allanws commented on #166
@yegor256 , that's OK.

[2018-01-09 10:38] #166 closed

[2018-01-09 10:38] 0crat commented on #166
Oops! Job `gh:zerocracy/datum#166` is not assigned, can't get start time

[2018-01-09 10:38] 0crat commented on #166
Oops! Job `gh:zerocracy/datum#166` was not in scope

[2018-01-09 10:42] iCok opened #187 "Add possibility to set rate saying 'rate 10$'"
Ocrat bot does not understand command `rate 10$` and answer with:
`Oops! Can't parse cash value pair "10$"`

But from my opinion `10$` more natural way of typing, how it looks like in a shops.

[2018-01-09 10:42] 0crat commented on #187
@yegor256 please, pay attention to this issue

[2018-01-09 11:03] nick318 opened #188 "Commands instead of words for telegram bot"
As far as I know for telegram bots it is more useful use commands like `/command_name`.
In that case all available commands and parameters will be visible instantly.

So I suggest to change words to typical commands in telegram bot.

[2018-01-09 11:03] 0crat commented on #188
@yegor256 please, pay attention to this issue

[2018-01-09 11:43] janczer opened #189 "Agenda doesn't work properly in Firefox 57.0.3 (64-bit)"
![bug_0crat](https://user-images.githubusercontent.com/13544213/34719204-21c933be-f53a-11e7-9662-039b9825f9f1.png)

Here code from Firefox inspector:

[code]

Firefox Quantum 57.0.3 (64-bit)
Linux Mint 18.2 Cinnamon 64-bit

[2018-01-09 11:43] 0crat commented on #189
@yegor256 please, pay attention to this issue

[2018-01-09 11:57] janczer opened #190 "0crat add invalid link (with } and the end) to profile"
For example in this [comment](https://github.com/yegor256/jpeek/pull/52#issuecomment-356228810) 0crat add link to `@janczer`:

[code]

Another [one](https://github.com/yegor256/jpeek/pull/87#issuecomment-356234219) example

[2018-01-09 11:57] 0crat commented on #190
@yegor256 please, pay attention to this issue

[2018-01-09 12:03] janczer opened #191 "0crat add me job for role REV but I have role DEV"
[Proof](https://github.com/yegor256/jpeek/pull/52#issuecomment-356228810)

[2018-01-09 12:03] 0crat commented on #191
@yegor256 please, pay attention to this issue

[2018-01-09 16:07] skapral opened #192 "0crat doesn't grant me PO role in my own project."
Steps:

http://datum.zerocracy.com/pages/policy.html
1. Created workspace on slack, invited 0crat there (paragraph 11).

2. Created a channel, invited 0crat there (paragraph 12)
@0crat responded with "Thanks for inviting me here" multiple times (issue #163)

3. Tried to make myself a PO (paragraph 13)
[code]

4. Tried to link GitHub to the channel (paragraph 17)

[code]

[2018-01-09 16:07] 0crat commented on #192
@yegor256 please, pay attention to this issue

[2018-01-09 16:32] iCok commented on #191
similar issue [https://github.com/yegor256/cactoos/pull/527](pull request)

[2018-01-09 16:50] iCok opened #193 "waiting command does not work"
According to issue #166 waiting command does not work again.
I was trying to use it [here](https://github.com/yegor256/cactoos/pull/527)

[2018-01-09 16:50] 0crat commented on #193
@yegor256 please, pay attention to this issue

[2018-01-09 17:07] iCok opened #194 "what this task is about"
I need help to figure out what this [task](https://github.com/yegor256/jpeek/pull/54) is about?

[2018-01-09 17:07] 0crat commented on #194
@yegor256 please, pay attention to this issue

[2018-01-09 18:17] yegor256 commented on #181
@filfreire fixed, no more `Oops`

[2018-01-09 18:17] #181 closed

[2018-01-09 18:17] 0crat commented on #181
Job `gh:zerocracy/datum#181` is not assigned, can't get start time

[2018-01-09 18:17] 0crat commented on #181
Job `gh:zerocracy/datum#181` was not in scope

[2018-01-09 19:43] romach opened #195 "0crat returns OutOfMemoryError"
When I open http://www.0crat.com/ the error is returned:

[code]

[2018-01-09 19:44] 0crat commented on #195
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-09 20:11] Sammers21 opened #196 "OOM when applying"
Steps to reporoduce:

1. send `apply`

Observer behavior: There is an unrecoverable failure on my side. Please, submit it here:
[code]

1.0-SNAPSHOT /cc @yegor256

[2018-01-09 20:12] 0crat commented on #196
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-09 20:44] 0crat commented on #195
@yegor256 please, pay attention to this issue

[2018-01-09 21:12] 0crat commented on #196
@yegor256 please, pay attention to this issue

[2018-01-09 21:12] t-izbassar commented on #191
+1
[PR](https://github.com/jcabi/jcabi-w3c/pull/39)

[2018-01-09 21:13] t-izbassar commented on #176
The issue #189 is more specific so closing this one.

[2018-01-09 21:13] #176 closed

[2018-01-09 21:15] 0crat commented on #176
Job `gh:zerocracy/datum#176` is not assigned, can't get start time

[2018-01-09 21:15] 0crat commented on #176
Job `gh:zerocracy/datum#176` was not in scope

[2018-01-09 21:15] t-izbassar opened #197 "How to see you role in the project?"
On the board I have a list of projects and on agenda there are list of tasks. But how to see the role?

[2018-01-09 21:15] 0crat commented on #197
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 00:46] allanws commented on #195
It's happening [here](https://github.com/yegor256/cactoos/issues/541#issuecomment-356392880) as well.

[2018-01-10 01:14] allanws commented on #178
@yegor256 , please have a look at this issue as this is affecting my agenda. Thanks.

[2018-01-10 05:15] fabriciofx opened #198 "0crat doesn't recognise me as DEV role"
I don't know I'm not recognized as DEV by 0crat. Could be it a bug?

[2018-01-10 05:15] 0crat commented on #198
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 05:23] fabriciofx opened #199 "Suggestion: the same person opened an issue has preference to solve it"
I've a suggestion: what do you think the same person (DEV, ARC, or other) opened an issue to have the preference to solve it? I think this idea will improve the bugs search and solutions by all DEVs.

[2018-01-10 05:23] 0crat commented on #199
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 05:31] fabriciofx opened #200 "0crat list my agenda with already merged jobs (but not closed)"
I don't know why 0crat list my agenda with already merged jobs (but not closed). You can see them [here](https://github.com/yegor256/cactoos/pull/425) and [here](https://github.com/yegor256/cactoos/pull/424).

[2018-01-10 05:31] 0crat commented on #200
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 05:35] fabriciofx opened #201 "0crat doesn't obey the 10 days deadline to reassign the issue to other DEV"
I think 0crat doesn't obey the 10 days deadline to reassign the issue to other DEV. You can see this problem [here](https://github.com/yegor256/cactoos/issues/262). Please, pay attention to days showed by GitHub.

[2018-01-10 05:36] 0crat commented on #201
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 05:38] fabriciofx opened #202 "Suggestion: Let's improve 0crat commands usage message"
I think could be interesting improve the commands usage message. For example, `apply` command. I think would be better some thing like `apply <ID>` where `ID` is the `ID` of the project. I think it's more clear.

[2018-01-10 05:38] 0crat commented on #202
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 05:40] fabriciofx opened #203 "Suggestion: Let's add the help command to 0crat"
Let's add the `help` command to 0crat. Today, only if a write a wrong command it will show me the commands list. It would be nice if I've a `help` command.

[2018-01-10 05:41] 0crat commented on #203
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 05:42] fabriciofx opened #204 "Suggestion: Let's add a policy command to 0crat"
Let's add a `policy` command to 0crat to show the [policy](http://datum.zerocracy.com/pages/policy.html). WDYT?

[2018-01-10 05:42] 0crat commented on #204
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 05:59] fabriciofx opened #205 "0crat assign issues to me in a repo that I don't have access"
0crat assign issues to me in repo that I don't have access, like [this](https://github.com/zerocracy/farm/issues/135).

[2018-01-10 05:59] 0crat commented on #205
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 12:25] yegor256 opened #206 "no bonus for review minutes"
Let's get rid of them.

[2018-01-10 12:54] #206 closed

[2018-01-10 12:54] 0crat commented on #206
Job `gh:zerocracy/datum#206` is not assigned, can't get start time

[2018-01-10 12:55] 0crat commented on #206
Job [#206](https://github.com/zerocracy/datum/issues/206) was not in scope

[2018-01-10 16:42] yegor256 commented on #178
@allanws definitely a bug, we will take a look, thanks for reporting!

[2018-01-10 16:43] 0crat commented on #178
Job [#178](https://github.com/zerocracy/datum/issues/178) is now in scope, role is `DEV`

[2018-01-10 17:00] yegor256 commented on #179
@allanws I didn't understand. How a profile can be assigned to a user?)

[2018-01-10 17:37] yegor256 commented on #193
@0crat status

[2018-01-10 17:38] 0crat commented on #193
@yegor256 This is what I know about this job:

  * The job [#193](https://github.com/zerocracy/datum/issues/193) is not in scope

[2018-01-10 17:41] yegor256 commented on #193
@0crat waiting

[2018-01-10 17:41] 0crat commented on #193
@yegor256 Job `gh:zerocracy/datum#193` is not assigned, can't put it on hold

[2018-01-10 18:21] yegor256 commented on #193
@iCok it was a bug, thanks for reporting. Fixed. Please try again.

[2018-01-11 00:47] fabriciofx commented on #177
@allanws @yegor256 It could create a label with username of the DEV and associate to the issue. WDYT?

[2018-01-11 00:49] fabriciofx commented on #203
Duplicate of #185 .

[2018-01-11 00:49] #203 closed

[2018-01-11 00:52] fabriciofx commented on #187
@iCok I don't know which country do you live, but to to me most countries use the currency symbol before the value, or don't?

[2018-01-11 00:53] 0crat commented on #203
Job `gh:zerocracy/datum#203` is not assigned, can't get start time

[2018-01-11 00:53] 0crat commented on #203
Job [#203](https://github.com/zerocracy/datum/issues/203) was not in scope

[2018-01-11 00:54] fabriciofx commented on #188
@iCok Please, could you give us an example? Thanks in advance.

[2018-01-11 03:04] allanws commented on #179
@yegor256 each user is in a project may have multiple roles like REV, DEV, ARC, etc. Showing those in the agenda page might be helpful.. for example, I know I can be REV in a project, and expect just PRs and in another project I can be DEV or ARC as well...

This is just an idea, up to you to decide whether or not to be implemented.

[2018-01-11 05:35] iCok commented on #187
I looked around, you are right.

[2018-01-11 05:35] #187 closed

[2018-01-11 05:35] 0crat commented on #187
Job `gh:zerocracy/datum#187` is not assigned, can't get start time

[2018-01-11 05:35] 0crat commented on #187
Job [#187](https://github.com/zerocracy/datum/issues/187) was not in scope

[2018-01-11 05:38] iCok commented on #188
![image](https://user-images.githubusercontent.com/6926262/34810158-09e5800c-f6b3-11e7-88b7-9304ad73aac7.png)

When bot has commands and I type slash I see following.

[2018-01-11 09:40] iCok commented on #193
@yegor256 it seems to work, but there is an exception after that command.
check it out: https://github.com/yegor256/jpeek/pull/54

[2018-01-11 11:10] yegor256 commented on #191
@janczer I believe it's fixed already. Please, keep an eye on this problem and report again, if you see it.

[2018-01-11 11:10] #191 closed

[2018-01-11 11:11] 0crat commented on #191
Job `gh:zerocracy/datum#191` is not assigned, can't get start time

[2018-01-11 11:11] 0crat commented on #191
Job [#191](https://github.com/zerocracy/datum/issues/191) was not in scope

[2018-01-11 11:24] janczer commented on #191
@yegor256 Ok, thank you. So what I should do with this [job](https://github.com/yegor256/jpeek/pull/52#issuecomment-356228810)? Can you delete it from my jobs or I should tell about it to 0crat?

[2018-01-11 17:01] t-izbassar opened #207 "telegram bot answers with exception when hello"
I tried to say `hello` to telegram bot and got this:

 at com.amazonaws.http.AmazonHttpClient$RequestExecutor.handleRetryableException(AmazonHttpClient.java:1113)
 at com.amazonaws.http.AmazonHttpClient$RequestExecutor.executeHelper(AmazonHttpClient.java:1063)
 at com.amazonaws.http.AmazonHttpClient$RequestExecutor.doExecute(AmazonHttpClient.java:743)
 at com.amazonaws.http.AmazonHttpClient$Reques

[2018-01-11 17:01] 0crat commented on #207
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-11 17:02] t-izbassar commented on #207
Well, it's works now. Some flicker with amazon s3?

[2018-01-11 23:55] allanws opened #208 "I don't see the "Close" button in the PR I'm assigned to"
@yegor256 , if I decide to close [this PR](https://github.com/yegor256/cactoos/pull/507), I just can't because the "Close" button is not visible to me... thoughts?

[2018-01-11 23:55] 0crat commented on #208
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-12 13:26] yegor256 commented on #191
@janczer you can reject it: http://datum.zerocracy.com/pages/policy.html#6

[2018-01-12 13:26] yegor256 commented on #193
@iCok also fixed, thanks

[2018-01-12 13:33] #193 closed

[2018-01-12 13:34] 0crat commented on #193
Job `gh:zerocracy/datum#193` is not assigned, can't get start time

[2018-01-12 13:34] 0crat commented on #193
Job [#193](https://github.com/zerocracy/datum/issues/193) was not in scope

[2018-01-12 13:47] janczer opened #209 "Negative point after reuse"
Policy says nothing about point bellow 0.
I understand if I haven't any points then 0crat can't do anything.

Or if I have 5 points and get -15 point for reuse, I will be have -10 or 0?

[2018-01-12 13:47] 0crat commented on #209
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-12 13:52] janczer opened #210 "0crat assign PR like a job"
According to this [comments](https://github.com/zerocracy/datum/issues/191#issuecomment-356903230) I report it again.

After I `reuse` this [job](https://github.com/yegor256/jpeek/pull/52) 0crat [assign](https://github.com/yegor256/jpeek/pull/52#issuecomment-357241942) someone else to this PR again.

[2018-01-12 13:52] 0crat commented on #210
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-12 14:13] yegor256 commented on #208
@allanws it's not your PR, why do you want to close it? :) Also, read this please: http://datum.zerocracy.com/pages/policy.html#27

[2018-01-12 14:13] #208 closed

[2018-01-12 14:14] 0crat commented on #208
Job `gh:zerocracy/datum#208` is not assigned, can't get start time

[2018-01-12 14:14] 0crat commented on #208
Job [#208](https://github.com/zerocracy/datum/issues/208) was not in scope

[2018-01-12 14:17] yegor256 commented on #179
@allanws that's a good idea.

@g4s8 let's add `role` element to the agenda.

[2018-01-12 14:18] yegor256 commented on #179
@g4s8 also the `estimate`

[2018-01-12 14:18] 0crat commented on #179
The job [#179](https://github.com/zerocracy/datum/issues/179) assigned to g4s8. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](htt

[2018-01-12 14:19] yegor256 commented on #194
@iCok why you are asking here?:) Ask it in the task.

[2018-01-12 14:19] #194 closed

[2018-01-12 14:19] 0crat commented on #179
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+6985](http://www.0crat.com/u/yegor256)

[2018-01-12 14:23] amihaiemil commented on #190
@janczer that link is not OK either way, it should be a Github tag, so I get a mail from Github that I was tagger somewhere...

[2018-01-12 14:24] amihaiemil opened #211 "0crat doesn't actually do any assigning"
0crat mentions the assignee in a comment and registers the task in its system but it should also assign the user on the Github issue or on the PR.

[2018-01-12 14:24] 0crat commented on #211
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-12 14:53] skapral commented on #192
@yegor256, is there some way to work around this issue on 0crat side? I wish I couuld participate in testing 0crat, but for now I am kinda blocked with it.

[2018-01-12 16:02] yegor256 commented on #192
@skapral try to say `bootstrap` to it in the Slack channel

[2018-01-12 16:37] skapral commented on #192
It helped. I bootstrapped the project, linked it with GitHub account. IMO it is worth to update paragraph 12 also and explicitly describe that bootstrap command.

Thanks.

[2018-01-12 18:42] skapral opened #212 "Give users ability to contribute funds to the project"
Idea is to let the users of the product, managed by ZC, contribute their money to support the product. Some sort of croudfunding. It can be implemented in the following way.

1. Owner of GitHub repository places some badge like "support us" or "give us all your money!"

2. By clicking the badge, stripe form is opened

3. User submits the credit card information and is charged for some predefined a

[2018-01-12 18:42] 0crat commented on #212
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-12 19:11] skapral opened #213 "Is it possible to use Zerocracy with incomplete team?"
1. I noticed that Zerocracy allows combining some roles to one person, like ARC and PO. But disallows to combine ARC and QA for example. It's worth to describe these combinations in detail in policy.

2. It's not always possible to have a separate REV or QA, especially at a very beginning. Which roles may be omitted from the methodology and how this will affect the pipeline. It's worth to have thi

[2018-01-12 19:11] 0crat commented on #213
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-12 19:47] yegor256 commented on #192
@rultor release, tag is `0.51.3`

[2018-01-12 20:21] rultor commented on #192
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13696-357336336)

[2018-01-12 20:25] rultor commented on #192
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13696-357336336) (took me 3min)

[2018-01-13 11:59] allanws commented on #208
@yegor256 , please pay attention to [**this issue**](https://github.com/yegor256/cactoos/pull/507) (mentioned in the [**first comment**](https://github.com/zerocracy/datum/issues/208#issue-287965258) as well...)

[2018-01-13 19:38] 0crat commented on #163
[@g4s8](http://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-14 11:44] iCok opened #215 "Impediments do not work, 9 point of policy"
According to [policy](http://datum.zerocracy.com/pages/policy.html#9) impediments should stop counting 10 days rule. But I have notifications about deadline of that task:
https://github.com/yegor256/jpeek/pull/54

[2018-01-14 11:44] 0crat commented on #215
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-14 14:17] yegor256 commented on #192
@skapral check the policy now, should be fine, I believe

[2018-01-14 19:25] fabriciofx opened #216 "Implements self-assigned issues as open source contributions"
Let's implement self-assigned issues as open source contributions, where these contributions will be scored but not remunerated.

[2018-01-14 19:25] 0crat commented on #216
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-15 00:55] fabriciofx opened #217 "A more detailed (and smart) agenda"
It would be nice if 0crat to show a more detailed agenda, for example:

1. When a REV finished a review, it will be showed in agenda "Review done, waiting for DEV" or something like that;
2. When a DEV submit a PR, will be showed in agenda "PR submited, waiting for review" or something like that;
3. When a Job has been concluded, will be showed in agenda "Job finished" or something like that.

[2018-01-15 00:55] 0crat commented on #217
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-15 10:56] yegor256 commented on #208
@allanws I did pay attention to it. It's not your PR, you can't close it.

[2018-01-15 12:52] yegor256 commented on #196
@Sammers21 thanks, it's a temporary issue, we will work on this

[2018-01-15 12:52] #196 closed

[2018-01-15 12:53] 0crat commented on #196
Job `gh:zerocracy/datum#196` is not assigned, can't get start time

[2018-01-15 12:53] 0crat commented on #196
Job [#196](https://github.com/zerocracy/datum/issues/196) was not in scope

[2018-01-15 12:53] 0crat commented on #188
Job [#188](https://github.com/zerocracy/datum/issues/188) is now in scope, role is `DEV`

[2018-01-15 12:55] 0crat commented on #188
The job [#188](https://github.com/zerocracy/datum/issues/188) assigned to g4s8. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](htt

[2018-01-15 12:55] yegor256 commented on #184
@filfreire fixed, thanks!

[2018-01-15 12:55] #184 closed

[2018-01-15 12:56] 0crat commented on #188
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7330](http://www.0crat.com/u/yegor256)

[2018-01-15 12:56] 0crat commented on #184
Job `gh:zerocracy/datum#184` is not assigned, can't get start time

[2018-01-15 12:56] 0crat commented on #184
Job [#184](https://github.com/zerocracy/datum/issues/184) was not in scope

[2018-01-15 14:57] yegor256 commented on #177
@allanws it's not possible to assign tickets to strangers, only to official contributors.

[2018-01-15 14:57] #177 closed

[2018-01-15 14:57] yegor256 commented on #195
@romach it's a temporary issue, we will fix it soon

[2018-01-15 14:57] #195 closed

[2018-01-15 14:58] 0crat commented on #195
Job `gh:zerocracy/datum#195` is not assigned, can't get start time

[2018-01-15 14:58] 0crat commented on #195
Job [#195](https://github.com/zerocracy/datum/issues/195) was not in scope

[2018-01-15 15:02] yegor256 commented on #190
@janczer it's fixed already, thanks

[2018-01-15 15:02] #190 closed

[2018-01-15 15:05] 0crat commented on #190
Job `gh:zerocracy/datum#190` is not assigned, can't get start time

[2018-01-15 15:05] 0crat commented on #190
Job [#190](https://github.com/zerocracy/datum/issues/190) was not in scope

[2018-01-15 15:08] yegor256 commented on #180
@filfreire each channel has its own ID, I believe. You can safely start as many of them as possible. We identify you always by GitHub ID.

[2018-01-15 15:08] #180 closed

[2018-01-15 15:09] 0crat commented on #180
Job `gh:zerocracy/datum#180` is not assigned, can't get start time

[2018-01-15 15:09] 0crat commented on #180
Job [#180](https://github.com/zerocracy/datum/issues/180) was not in scope

[2018-01-15 15:24] yegor256 commented on #186
@yegor256[/z](http://www.zerocracy.com)

[2018-01-15 15:47] yegor256 commented on #186
@amihaiemil fixed, thanks!

[2018-01-15 15:47] #186 closed

[2018-01-15 15:47] 0crat commented on #186
Job `gh:zerocracy/datum#186` is not assigned, can't get start time

[2018-01-15 15:47] 0crat commented on #186
Job [#186](https://github.com/zerocracy/datum/issues/186) was not in scope

[2018-01-15 16:00] yegor256 commented on #182
@filfreire thanks, fixed

[2018-01-15 16:00] #182 closed

[2018-01-15 16:01] 0crat commented on #182
Job `gh:zerocracy/datum#182` is not assigned, can't get start time

[2018-01-15 16:01] 0crat commented on #182
Job [#182](https://github.com/zerocracy/datum/issues/182) was not in scope

[2018-01-15 19:25] fabriciofx opened #218 "0crat telegram bot doesn't accepting new apply"
When I submit a new apply to 0crat telegram bot, usina the command `apply ID 10` or `apply ID $10` I get this message:
[code]

[2018-01-15 19:25] 0crat commented on #218
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-15 19:35] yegor256 commented on #218
@fabriciofx thanks, fixed!

[2018-01-15 19:35] #218 closed

[2018-01-15 19:36] 0crat commented on #218
Job `gh:zerocracy/datum#218` is not assigned, can't get start time

[2018-01-15 19:36] 0crat commented on #218
Job [#218](https://github.com/zerocracy/datum/issues/218) was not in scope

[2018-01-15 20:50] yegor256 commented on #217
@fabriciofx it's against our principles. We don't pay attention to the details of a job. It's either 0 or 100 for us: either open or closed. Also, remember that one job can have multiple pull requests or even none.

[2018-01-15 20:50] #217 closed

[2018-01-15 20:50] 0crat commented on #217
Job `gh:zerocracy/datum#217` is not assigned, can't get start time

[2018-01-15 20:50] 0crat commented on #217
Job [#217](https://github.com/zerocracy/datum/issues/217) was not in scope

[2018-01-15 22:27] fabriciofx commented on #218
@yegor256 This issue wasn't closed. Look:

[code]

[2018-01-16 00:20] allanws commented on #208
What does that mean then (please see pic attached)?

![image](https://user-images.githubusercontent.com/5676363/34966368-4422bbc2-faaf-11e7-8e19-7a9142187b0d.png)

[2018-01-16 07:00] yegor256 commented on #218
@fabriciofx should be fine now, please try

[2018-01-16 15:10] fabriciofx opened #219 "0crat points to a wrong paragraph in the policy"
When I use the command `apply ID $16` the 0crat telegram bot show me:
[code]
But §33 not exist in the policy.

[2018-01-16 15:10] 0crat commented on #219
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 15:20] valentjedi opened #220 "0crat crashed when I opened profile page"
Can't add any additional info other than my browser is FireFox 57 and I was able to open profile page on the second try. By crash I mean 500 server error.

[2018-01-16 15:20] 0crat commented on #220
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 15:38] fabriciofx opened #221 "0crat does not permit change my rate in a specific project"
How can I change my rate in a specific project? I have tried `apply ID $newvalue` but 0crat showed me:
[code]

[2018-01-16 15:38] 0crat commented on #221
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 15:45] yegor256 commented on #219
@rultor release, tag is `0.51.4`

[2018-01-16 15:47] rultor commented on #219
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13705-358005089)

[2018-01-16 15:48] yegor256 commented on #220
@valentjedi most probably we were re-deploying the server side, that's why this 500 page. It's a temporary issue.

[2018-01-16 15:48] #220 closed

[2018-01-16 15:48] 0crat commented on #220
Job [#220](https://github.com/zerocracy/datum/issues/220) was not in scope

[2018-01-16 15:48] 0crat commented on #220
Job `gh:zerocracy/datum#220` is not assigned, can't get start time

[2018-01-16 15:53] rultor commented on #219
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13705-358005089) (took me 5min)

[2018-01-16 15:53] 0crat commented on #221
The job [#221](https://github.com/zerocracy/datum/issues/221) assigned to @yegor256[/z](http://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-16 15:54] 0crat commented on #221
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @fabriciofx[/z](http://www.0crat.com/u/fabriciofx), total is [+210](http://www.0crat.com/u/fabriciofx)

[2018-01-16 15:54] 0crat commented on #221
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](http://www.0crat.com/u/yegor256), total is [+7390](http://www.0crat.com/u/yegor256)

[2018-01-16 16:04] amihaiemil opened #222 "Reviewer "resigned" from merged PR"
This [PR](https://github.com/yegor256/cactoos/pull/553#issuecomment-358009717) has been reviewd and merged successfuly, then 0crat says that I (the reviewer) resigned from the job because the job is out of scope.

I am not sure, but from my experience, this is the point where the reviewer is paid since their job is done. **I think the real issue is that 0crat does not make the difference between "

[2018-01-16 16:04] 0crat commented on #222
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 16:57] yegor256 commented on #219
@rultor release, tag is `0.51.5`

[2018-01-16 16:58] rultor commented on #219
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13705-358029465)

[2018-01-16 17:02] rultor commented on #219
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13705-358029465) (took me 3min)

[2018-01-16 17:32] yegor256 commented on #219
@fabriciofx should be fine now, see the policy updated

[2018-01-16 17:32] #219 closed

[2018-01-16 17:32] yegor256 commented on #221
@fabriciofx fixed

[2018-01-16 17:32] #221 closed

[2018-01-16 17:36] 0crat commented on #219
Job [#219](https://github.com/zerocracy/datum/issues/219) was not in scope

[2018-01-16 17:36] 0crat commented on #219
Job `gh:zerocracy/datum#219` is not assigned, can't get start time

[2018-01-16 17:36] 0crat commented on #221
@yegor256[/z](http://www.0crat.com/u/yegor256) resigned from [#221](https://github.com/zerocracy/datum/issues/221), since the job is not in scope anymore

[2018-01-16 17:36] 0crat commented on #221
The job [#221](https://github.com/zerocracy/datum/issues/221) is now out of scope

[2018-01-16 17:36] 0crat commented on #221
Job `gh:zerocracy/datum#221` is not assigned, can't get start time

[2018-01-16 17:38] iCok commented on #222
Same for me as a developer of issue (https://github.com/yegor256/cactoos/issues/533)

[2018-01-16 17:56] iCok commented on #222
It happens for all recently closed PRs at least in Cactoos project. It does not matter what person works

[2018-01-16 18:07] t-izbassar commented on #222
+1. [takes#353](https://github.com/yegor256/takes/issues/353)

[2018-01-16 18:13] t-izbassar commented on #210
+1. [PR](https://github.com/yegor256/cactoos/pull/527)
+1 [PR](https://github.com/jcabi/jcabi-simpledb/pull/10)

[2018-01-16 18:17] t-izbassar opened #223 "Why 0crat mentioned me two times?"
In that comments 0crat is mentioned me two times: [comment](https://github.com/yegor256/cactoos/pull/527#issuecomment-358055120)

What does it mean?

[2018-01-16 18:17] 0crat commented on #223
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 18:23] yegor256 commented on #222
@amihaiemil it's a bug on our side, thanks for reporting. I will try to fix it now.

[2018-01-16 18:27] 0crat commented on #222
Job [#222](https://github.com/zerocracy/datum/issues/222) is now in scope, role is `DEV`

[2018-01-16 18:41] t-izbassar opened #225 "What happens to projects that are not in the board?"
I was able to join projects that are now not in the board listing. What does this actually means? They are not supported? Can I continue working on them?

[2018-01-16 18:41] 0crat commented on #225
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 18:48] yegor256 commented on #222
@amihaiemil I think it's fixed... let's keep an eye on it

[2018-01-16 19:31] 0crat commented on #163
@g4s8[/z](http://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-16 22:29] yegor256 commented on #213
@see http://datum.zerocracy.com/pages/policy.html#34 Is this enough?

[2018-01-16 22:30] yegor256 commented on #225
@t-izbassar yes, sure, they are just normal projects. But they don't expect any new members, that's all.

[2018-01-16 22:30] #225 closed

[2018-01-16 22:42] yegor256 commented on #223
@t-izbassar it's a typo, fixed, thanks!

[2018-01-16 22:42] #223 closed

[2018-01-16 22:42] 0crat commented on #223
Job `gh:zerocracy/datum#223` is not assigned, can't get start time

[2018-01-16 22:47] yegor256 commented on #216
@fabriciofx that's against the very principle of "tasking". Creating problems and then solving them -- it's just wrong.

[2018-01-16 22:48] yegor256 commented on #215
@iCok it was a bug, fixed already. Please, report it again, if you see it.

[2018-01-16 22:48] #215 closed

[2018-01-16 22:53] 0crat commented on #223
Job [#223](https://github.com/zerocracy/datum/issues/223) was not in scope

[2018-01-16 23:49] fabriciofx commented on #216
@yegor256 IMHO, I can't see any problem with it. You could assign a REV to this PR, if you want to confirm the code quality. Besides, you don't think using this model will hinder opensource contributions? Because it's simpler to contributing something I know what is the problem and how I can fix it.

[2018-01-17 08:11] skapral commented on #213
IMO it is also worth to mention that PO and ARC roles may be assigned at one person, and PO and QA cannot.

[2018-01-17 08:13] skapral commented on #213
Also, policy states that there must be one ARC for the project, but initially created, it has no ARC in there, only the PO. Is it unusable until ARC is assigned? Maybe policy should explicitly say somewhere near bootstrap paragraphs that first thing PO must do is to assign ARC?

[2018-01-17 12:46] amihaiemil opened #227 "Too much freedom about the rate setting?"
Apparently, right now I can change my hourly rate any time I want. So I guess it would be possible to agree with Yegor on $10/h, then I get assigned a task of 30min and then I go in my private chat with 0crat and say "my rate is actually $200/h" -- thus, when the task is done, 0crat pays me $100.

Is this the way it is right now? If so, it doesn't look ok.

[2018-01-17 12:46] 0crat commented on #227
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-17 14:17] yegor256 commented on #216
@fabriciofx of course, you can do it, but why do you need 0crat than? Just do it.

[2018-01-17 14:20] yegor256 commented on #227
@amihaiemil the rate you set in the chat is your profile rate. It is not the rate you have in a project. Project rate is set only by project PO/ARC. See the difference?

[2018-01-17 14:20] 0crat commented on #179
@g4s8[/z](http://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-17 14:21] fabriciofx commented on #216
@yegor256 IMHO, we need 0crat to organize and assign who is doing what and the all others remunerated cases.

[2018-01-17 14:25] yegor256 commented on #216
@fabriciofx so, let 0crat do that according to his principles :) If you want to break the rules, you can always do that, but that will be outside of the process 0crat is managing.

[2018-01-17 14:28] fabriciofx commented on #216
@yegor256 Ok, but how we deal with the problem of anybody report an issue and do a PR, but how the issue is not assigned to him, other DEV will take the PR and submit as the (original) developer? All kudos go to the assigned DEV not to person who developed the PR.

[2018-01-17 14:30] yegor256 commented on #216
@fabriciofx just submit a PR directly, without an issue. Open source projects work like that. They don't report issues first and PRs next. Just submit your code in PRs.

[2018-01-17 14:31] amihaiemil commented on #227
@yegor256 In this case, where do I see what a project decided to pay me? I never saw this information anywhere ;)

[2018-01-17 14:44] yegor256 opened #228 "more details in terms"
Let's specify them

[2018-01-17 15:07] yegor256 commented on #227
@amihaiemil you should see it in the project page, for example: http://www.0crat.com/p/C63314D6Z

[2018-01-17 15:11] amihaiemil commented on #227
@yegor256 I see. Thanks for explaining :D

[2018-01-17 15:12] 0crat commented on #227
Job `gh:zerocracy/datum#227` is not assigned, can't get start time

[2018-01-17 15:22] 0crat commented on #227
Job [#227](https://github.com/zerocracy/datum/issues/227) was not in scope

[2018-01-17 16:01] flslkxtc commented on #218
I'm still encountering this issue today. Telegram bot does react to all messages, but  `apply PROJECTID 0` or `apply PROJECTID 0$` commands both are ending up with `Argument "0" doesn't match regex \$\d{1,3}` response.